[2015-10-15 08:21] rdoursenaud commented on #3736
Have you followed the upgrade path by upgrading one version at a time?

The tjm column has been introduced in 3.7
Relaunching the 3.6->3.7 and 3.7->3.8 migrations should do the business.
Please let us know!

[2015-10-15 08:45] rdoursenaud commented on #3727
Hum, there's only one static method in DoliDB: `convertSQLFromMysql()` and it's never statically called, so I don't think that's where the problem lies.
From the bug report, it seems that some install code uses the deprecated `getStaticMember()` which leads to this behavior. But for the life of me, I can't find any code using it since 3.7.

[2015-10-15 08:49] rdoursenaud commented on #3727
Also the "lots of posts" seem a bit inflated. I only found one: http://www.dolibarr.fr/forum/8-mise-a-jour/54023-mise-a-jourimpossible-3-4-0-3-8-0

[2015-10-15 08:51] rdoursenaud commented on #3692
Not a bug. See #3622 .

[2015-10-15 08:51] #3692 closed, assigned to nobody

[2015-10-15 08:59] rdoursenaud commented on #3689
The `Commande::createFromProposal()` code has not changed since 2011. I think the problem lies in the trigger itself.

[2015-10-15 09:04] rdoursenaud commented on #3689
The trigger is launched on the same (local) status condition, so I believe that the status "protection" in `commande.class.php` can go away. It serves no purpose anymore.

[2015-10-15 09:05] rdoursenaud commented on #3685
Self-reminder: #3499

[2015-10-15 09:09] rdoursenaud commented on #3680
Thanks for the response. I've added your feedback as a feature request.

[2015-10-15 09:12] rdoursenaud commented on #3677
I think the problem is in the external unsupported theme.
Could you please retry using the supported eldy theme.
If there's no issue, contact the theme developer for an update.
Anyhow, please let us know.

[2015-10-15 09:15] rdoursenaud commented on #3410
Thanks @frederic34 but this has been merged to develop. The fix needs to be backported to 3.7 ;)

[2015-10-15 09:16] rdoursenaud commented on #2605
@BebZ yes, please, go ahead!

[2015-10-15 09:27] akhalz commented on #3680
Thanks
Well the stock management for suppliers is still a bug.
The stock count insertion would be a feature request.

[2015-10-15 10:05] #3394 closed, assigned to nobody

[2015-10-15 10:32] atm-maxime commented on #3738
:+1:
Personnaly, we (ATM) already are tagging all of our modules on Dolistore with the support email address and the compatible versions. Even more, the compatible versions are part of the module title on Dolistore.

I'd say users should check out if external modules are compatible before doing any upgrade, but having a check function before the migration process sounds good !

[2015-10-15 13:01] tiaris commented on #3727
I have encoutered it in some migrations, and updating php (or php settings) resolved problem
I think we should check if server php version is right against dolibarr's php min version in migration script to avoid this to user.

[2015-10-16 07:14] atm-gauthier commented on #3681
Hi Raphael, you're right, i didn't see this issue.
Thank you

[2015-10-16 08:13] #3605 closed, assigned to nobody

[2015-10-16 08:13] #3724 closed, assigned to nobody

[2015-10-16 08:13] #3689 closed, assigned to nobody

[2015-10-16 08:13] #3728 closed, assigned to rdoursenaud

[2015-10-16 08:30] marcosgdf commented on #3708
Oh. Then I'll transform it to a feature request.

[2015-10-16 10:20] aschio opened #3749 "Adding extrafields to shipments module"

[2015-10-16 11:02] marcosgdf opened #3750 "Bug: Form::selectarray function adds the id of the form to class attribute"
Version: develop

Using:

[code]

Results in:
![captura de pantalla 2015-10-16 a las 13 01 10](https://cloud.githubusercontent.com/assets/168744/10540187/12fe1c94-7406-11e5-8b0b-88245dde356f.png)

Which is not necessarily a wanted behaviour

[2015-10-16 17:59] ozit opened #3753 "Bug: Classify billed button not active"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Linux
- **Web server**: Apache/2.4.10 (Debian)
- **PHP**: apache2handler 5.6.13-0+deb8u1
- **Database**: MySQL or MariaDB 5.5.44-0+deb8u1
- **URL**: /htdocs/comm/propal.php?id=1862
# Report

Hi
For quite some time, the "billed" button is unavailable when an invoice is validated
thanks

[2015-10-17 09:28] laudeco commented on #3507
Thanks for your replies !
I'll analyse that
Thanks
Laurent

[2015-10-17 09:28] #3507 closed, assigned to nobody

[2015-10-17 14:42] casati-dolibarr opened #3756 "Feature Request: class "button-save", "button-cancel" ... instead of"
[code]

Proposed change would result in:

[code]

and would allow for colourizing buttons in one place only (eg. include once  buttons.php).

[2015-10-17 15:31] eldy commented on #3554
So i close issue. Seems to be fixed by regis.

[2015-10-17 15:31] #3554 closed, assigned to nobody

[2015-10-18 00:12] PlanPc opened #3757 "3.8.0 When Adding "New social/fiscal tax" error "The field must contain a numeric value""
When a new social/fiscal tax is registered, the amount must be introduced with a point as decimal separator, instead of coma as other places of dolibarr (Spanish). When decimal is with coma, an error is shown and can not continue.
![captura00399 2015-09-22 18_36_44](https://cloud.githubusercontent.com/assets/15174724/10560868/03f3855a-7518-11e5-861f-a28d0998be2b.jpg)

[2015-10-18 08:48] BebZ opened #3760 "Move Help Button to top if possible"
Follow up of discussion and idea on forum :
Help is asked on the forums when the wiki can answer most of the questions.
Maybe users (like me) never noticed there is a contextual help button on the bottom left
on products page
http://demo.dolibarr.org/product/index.php?mainmenu=products&leftmenu=
links to :
http://wiki.dolibarr.org/index.php/Module_Produits
or not :
on commercial page
http://demo.d

[2015-10-18 09:03] BebZ commented on #3749
Hello is it a feature request or a pull request ?
do yo want extrafields on the lines of shipment or on the shipment simply ?
I think the extrafield's master is @FHenry
but the master is out of time

[2015-10-18 09:06] BebZ commented on #3602
@ywarnier maybe you can review this part ?
https://github.com/Dolibarr/dolibarr/pull/3112/files#diff-ad8857206d3f59edd4e10a75d81bf8f8R399

[2015-10-18 14:24] marcosgdf opened #3763 "Deprecate Product::setPriceExpression in favor of Product::update"
It is duplicating the function of Product::update...

[2015-10-18 14:27] marcosgdf opened #3764 "Bug: Undefined variable $conf in Product::LibStatut"
Version: develop

[2015-10-18 14:27] marcosgdf opened #3765 "Bug: Undefined variable $db in Product::load_virtual_stock"
Version: develop

[2015-10-18 14:28] marcosgdf opened #3766 "Bug: Undefined variable $product in Product::show_photos"
Version: develop

[2015-10-18 14:37] marcosgdf opened #3767 "Allow changing multiple prices of a product at once"

[2015-10-18 16:16] marcosgdf opened #3768 "Feature request: Improve product multiprices view"
Instead of showing

| Price1 |  |
| --- | --- |
| Price1_min |  |
| Price2 |  |
| Price2_min |  |
| Price3 |  |
| Price3_min |  |

[...]

It think it would be better to show them this way

| Level | Price | Price_min |
| --- | --- | --- |
| 1 |  |  |
| 2 |  |  |
| 3 |  |  |

[2015-10-18 18:26] #3768 closed, assigned to nobody

[2015-10-18 18:45] eldy commented on #3727
There is already a test done into first page of install and migration process. Into page "check.php".
@tiaris Don't you get the error message saying php < 5.3 was too old ? You should. What was php version before upgrade ?

[2015-10-18 18:52] eldy commented on #3726
The trouble seems to be on external modules only when a module build for 3.7 is used with 3.8.

I can't reproduce myself when using standard dolibarr.
If old version of dolibarr is used, the constnat to keep compatibility is set by migration from 3.6 to 3.7 with line.
INSERT INTO llx_const (name, value, type, note, visible, entity) SELECT **ENCRYPT('PRODUCT_USE_OLD_PATH_FOR_PHOTO')**,**ENCRYPT('1'

[2015-10-18 18:55] eldy commented on #3698
Is it the bug introduce by commit 485c369d5517a99ae7a471e68aa2b9df36522b11
I revert it. Do you still have problem now ?
If no, please close the issue.

[2015-10-18 18:58] #3764 closed, assigned to nobody

[2015-10-18 18:58] #3765 closed, assigned to nobody

[2015-10-18 19:00] #3766 closed, assigned to nobody

[2015-10-18 19:03] eldy commented on #3760
The help link is on any page where it was coded.
We can add a link on any page. We can't set such a link at top because in current usage of dolibarr, the link is just not used. Setting a priority on feature that are used only 0.01 % of time is not a good thing. We should put first links that are always used.
With 3.9 the size of left banner should be reduced so link should be more visible.

[2015-10-18 19:22] #3757 closed, assigned to nobody

[2015-10-18 19:24] eldy commented on #3753
What is the remain to pay on invoice ? Do you have the buttom "Create payment" ?

[2015-10-18 19:31] eldy commented on #3541
If you do line 94
&& ($passclear && ($passtyped == $passclear)))
does it solve too ?

[2015-10-18 19:36] eldy commented on #2968
We still need the plain text field because a lot integration with external system stil need it.
I agree however that we should have this option set to on by default.

[2015-10-18 20:07] eldy commented on #2591
@fappels
You can rename "buy price" into "Buying/Cost price". It is a better name now this field content depends on setup and may contain wap (a wap price is also a buy price, just an average buy price).

To get the margin price when coming from POS, you must:
- If option of margin is "Margin on Best supplier price", use find_min_price_product_fournisseur() to find this price.
- If option of margi

[2015-10-18 22:02] marcosgdf opened #3770 "Find a better way for the user to set labels for multiprice levels"
Currently the user has to create a constant called PRODUIT_MULTIPRICES_LABEL__LEVEL_. There should be a better way for the user to enter a label for price levels.

[2015-10-19 07:24] fappels commented on #2591
@eldy
I think we should align with getSupplierPrices and use list_product_fournisseur_price($idprod, 'set sort so best price will be first record'); and define a config property in fournisseur.product.class.php so the default (best) price in the commercial forms will be the same as the one for POS.

[2015-10-19 07:35] fappels opened #3771 "Help links on 3.9.0 beta login page not visible"
![dolibarr - login dolibarr 3 9 0-beta](https://cloud.githubusercontent.com/assets/4573808/10572008/90a1a66c-7644-11e5-9140-e18c2c4af6ed.png)

![dolibarr - login dolibarr 3 9 0-beta 1](https://cloud.githubusercontent.com/assets/4573808/10572007/8cd295c8-7644-11e5-9e58-170caa615688.png)

[2015-10-19 07:36] BebZ commented on #3760
I know it was arround 0% using because if you want help you don't search in the bottom left.
Support "chat" is always bottom right and traditional help should be near logout button.
(where it is now on recent browsers)

it was my 2 cents to make users more aware there is a wiki, and de-congestionnate the forum.
everytime i will see a post on the forum, that can be solved by help wiki and the user

[2015-10-19 08:13] ozit commented on #3753
The remain to pay on invoice is all of it.
On the invoice, yes, I have the buttom "Create payment" in the invoice web page.
I have no error on apache log

[2015-10-19 08:23] ozit opened #3772 "Erreur DB_ERROR_1071: ALTER TABLE llx_ecm_files ADD UNIQUE INDEX uk_ecm_files_fullpath(fullpath);"
Environment

[code]

Report

[code]

When trying to test devopp branch, here is the scrip error :
Migration du format de la base de données
Connexion au serveur : localhost    OK
Connexion à la base de données : dolibarr OK
Version du serveur de base de données  5.5.44-0+deb8u1
Merci de patienter quelques instants…
Choix du script de migration    3.8.0-3.9.0.sql
Request 1 sql='INSERT INTO llx_cons

[2015-10-19 09:36] aschio commented on #3749
I've created this features request because in next days I will develop this features.
I need extrafields only in shipment, but I could develop it also for shipment lines. Here in Italy, we need more fields to use shipment pdf as a legal document of shipment.

[2015-10-19 10:00] marcosgdf commented on #3771
I noticed that too

[2015-10-19 14:31] camlafit opened #3775 "Missing "set as invoiced" in propal pages"
Hi

Since, at least 3.8.x, is no more possible to class "propal"  as invoiced. I don't see any new option on configuration page and superadmin doesn't have anymore this possibility.

How to restore this status ?

[2015-10-19 16:09] eldy commented on #3775
The button appears if you have at least on invoice created on the signed proposal.
Do you have one invoice created ?

Another solution is to add constant WORKFLOW_PROPAL_CAN_CLASSIFIED_BILLED_WITHOUT_INVOICES to 1 into home - setup - other.

I will replace option with its opposite WORKFLOW_PROPAL_NEED_INVOICE_TO_BE_CLASSIFIED_BILLED in next release for better compatilbity with old behaviour.

[2015-10-19 16:18] #3775 closed, assigned to nobody

[2015-10-19 16:21] eldy commented on #3772
If you run manually this request:
CREATE TABLE llx_ecm_files(rowid integer AUTO_INCREMENT PRIMARY KEY,label varchar(64) NOT NULL,entity integer DEFAULT 1 NOT NULL,filename varchar(255) NOT NULL,fullpath varchar(10000) NOT NULL,fullpath_orig varchar(10000),description text,keywords text,cover text,extraparams varchar(255),date_c datetime,date_m timestamp,fk_user_c integer,fk_user_m integer,acl text

[2015-10-19 16:31] #3772 closed, assigned to nobody

[2015-10-19 17:05] ozit commented on #3772
Do you mean that you test lower value or you asking me to do it ?
I saw you change the value from 10000 to 1000, but the  max key lenght is 767.

Request 28 sql='CREATE TABLE llx_ecm_files(rowid integer AUTO_INCREMENT PRIMARY KEY,label varchar(64) NOT NULL,entity integer DEFAULT 1 NOT NULL,filename varchar(255) NOT NULL,fullpath varchar(750) NOT NULL,fullpath_orig varchar(750),description text,key

[2015-10-19 18:31] camlafit commented on #3775
Yes of course, I've many propals check as "to invoice" with full paid invoice.

And since 3.8, without change in my configuration, button has disappeared. Follow a screen picture where previously a "close as invoiced" was here.

![propalwithoutclosebutton](https://cloud.githubusercontent.com/assets/209915/10587152/21c5ecd8-76a0-11e5-8b8a-f85016f8b872.png)

I don't understand why propose new consta

[2015-10-19 23:03] eldy commented on #2591
getSupplierPrices is not dedicated to find bets supplier price but to provide list to select prices from gui.

There is already another function to get "best supplier price". It is find_min_price_product_fournisseur().
So if everyone use it, we should get same value.

Note that it seems this bug is already nearly fixed. Into file facture.class.php, we have line 3909 of current develop branch
// PO

[2015-10-20 10:05] marcosgdf commented on #3771
It seems to have been fixed in latest develop

[2015-10-20 11:47] #3771 closed, assigned to nobody

[2015-10-22 09:23] #3318 closed, assigned to nobody

[2015-10-22 13:43] rdoursenaud opened #3789 "dev/initdata dumps contains fields that are not native"
I just checked my database initialized with developers initial data and figured it has fields that are not part of the original Dolibarr distribution.
While they seem to not do any harm, I find that rather odd…

I didn't review all the tables. Here are the fields I came across:
- llx_user.phenix_login
- llx_user.phenix_pass

[2015-10-22 13:52] rdoursenaud commented on #3727
It's a chicken and eggs problem.
Since `check.php` loads and uses some of our libraries that are PHP 5.3 only the syntax error is issued before our own code gets a chance to warn the user.
To prevent this behavior, we'd have to make sure code contained in the install folder is PHP 4 compatible and is self contained (i.e.: does not include core classes and libraries).
Or maybe redesign the code so

[2015-10-22 20:37] ozit commented on #3753
Actual developp source code resolve the probleme.

[2015-10-22 20:37] #3753 closed, assigned to nobody

[2015-10-23 00:21] ywarnier commented on #3602
Hi, sorry about the delay. Is this issue still active?

[2015-10-23 10:45] all3kcis opened #3791 "Add hook or trigger for detection to displaying a page."
[Discussion]
Would it be possible to have a hook or trigger to detect the display of a page or URL detection in main.inc.php?

This would allow for a module to perform actions (treatments, checks) before displaying a page.

[2015-10-23 14:14] wankwaiwing opened #3794 "Do not show user and group permissions"
Bug found at line #279 under the file of "/user/group/perms.php", and the right statement should be

[code]

The version is 3.8.1

[2015-10-23 16:01] eldy commented on #3794
I checked into source code and that's what we get. I mean i can't see any diff with suggested code. Can you point me the diff ?

[2015-10-25 08:00] ndrosis opened #3797 "Box Informations add version and last stable version"
Hi

To run needs a csv file accessible to an on line server.*
Will be must update when available a new release.*

*Can there be this a possibility?

CSV
version,description,type,downloadlink
3.8.2,Stable,0,http://sourceforge.net/projects/dolibarr/files/

Best regards
Nikos DROSIS
![update](https://cloud.githubusercontent.com/assets/4933899/10714590/5c7d5a66-7afe-11e5-8a46-992db10d3d19.png)

[2015-10-25 18:54] #3541 closed, assigned to nobody

[2015-10-25 23:35] javieralapps4up opened #3798 "dolibarr/htdocs/public/cron/cron_run_jobs.php wrong "...&& $line->dateend < $now)"
eldy closed this issue (#2519) from a commit on 2 Apr, but he repaired the script, not the file htdocs/public/cron/cron_run_jobs.php.

it is not the same.

[2015-10-26 11:01] rdoursenaud opened #3801 "Enable translation of document template modules name"
Document template module name usually is an abstract word which doesn't need translation.
But one is "ODT/ODS templates" which should be translatable.

[2015-10-26 18:09] fappels opened #3805 "function facture->is_last_in_cycle needs debugging"
Version Develop
- missing check on empty situation_cycle_ref
- should return 0 or null in case error
- should not do rollback in case of error

[2015-10-27 01:08] saxa opened #3808 "Cant login with git 0a3ba3a"
Hi I just updated to the latest git develop tree and I can not login anymore.

When I try to login I get this:
Unknown column 'u.employee' in 'field list'

Any ideas ?

[2015-10-27 01:12] saxa commented on #3808
Ok sorry for spamming, running install/index.php solved the issue.

[2015-10-27 06:56] camlafit commented on #3775
Hi

No news , can you explain why to close this issue. Must be open a new.

[2015-10-28 09:24] FHenry commented on #3775
could you trun of "Utiliser les droits avancés dans les permissions des modules" desactivate  propal module, activate propal module, check your use rights, test button are ok, then only turn on ""Utiliser les droits avancés dans les permissions des modules", and check your user right, may be force it again or paly with user group, and tell us if button are now ok

[2015-10-28 09:59] camlafit commented on #3775
Follow my response to this message :
"could you trun of "Utiliser les droits avancés dans les permissions des modules" desactivate propal module, activate propal module, check your use rights, test button are ok, then only turn on ""Utiliser les droits avancés dans les permissions des modules", and check your user right, may be force it again or paly with user group, and tell us if button are now

[2015-10-28 11:03] calidadesystems opened #3815 "Call to undefined function local_by_date()"
This error appears when I go to Financiera tab ( a coins stack) and go to Pagos especiales (Special payments) IRPF (Spain tax) and select Report by tax (last option ).
I attach a capture for clarify where this happens.

![dolibar_error](https://cloud.githubusercontent.com/assets/13454204/10786557/21fbfc7a-7d6b-11e5-98f4-fc4ef00cd2a4.png)

In Php-fpm log appears this message

[28-Oct-2015 11:52:55

[2015-10-28 14:43] BebZ commented on #3661
Priority Low ? On forum it's complaining already...

http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/54143-bug-prix-d-achat-module-marges#64472

http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/54024-bug-saisie-de-commande-client-3-8-1#63888

(and it's not me, for once !)

Sur la version 3.8.1, il est simplement impossible de saisir une commande. La saisie

[2015-10-28 15:47] rdoursenaud opened #3817 "Missing translation Delays_MAIN_DELAY_EXPENSEREPORTS"
Module: Expense reports (New 3.8 one)
Page: `htdocs/admin/delais.php`
Translation of Delays_MAIN_DELAY_EXPENSEREPORTS unavailable in any language.

[2015-10-28 15:51] rdoursenaud opened #3818 "Missing translations for "Perso" password generator"
Page: `htdocs/admin/security.php`
Missing translations for "PasswordGenerationPerso" and "SetupPerso".

[2015-10-28 17:09] jpfox opened #3819 "Can't test if a field object_total_vat_locale_x.x is defined before use in odt templates"
I need to have a table with different VAT amounts for each rate so I use {object_total_vat_locale_x.x} field. But, if there is no line for a particular vat rat, the filed is not set and so tag {object_total_vat_locale_x.x} is display as is.

If test [!-- IF {object_total_vat_locale_20} --] could work and return false if {object_total_vat_locale_20} is not defined, it could be a solution.

How can

[2015-10-28 21:03] canohincapie opened #3821 "Bug: Validate Proposal"
Cant Validate Propales

[2015-10-28 21:28] dethegeek opened #3822 "foundations module's ldap2dolibarr script synchs anything including groups"
The script imports anything because no search filter hard coded to *

This makes the script useless as is.

I suggest when modules LDAP and foundation are both enabled, that a new tab provides a customizable search filter.

[2015-10-29 08:22] eldy commented on #3775
Bug was fixed and should be available for 3.8.2

[2015-10-29 08:36] xhubier opened #3825 "Bug: impossible to register a payment with the 3.8.1 release"
# Environment
- **Version**: 3.8.1
- **OS**: Linux
- **Web server**: Apache
- **PHP**: fpm-fcgi 5.4.38
- **Database**: MySQL or MariaDB 5.1.31
- **URL**: /dolibarr-3.6.2/htdocs/
# Report

With de 3.8.1 it is impossible to registre a payement (htdocs/fourn/facture/paiement.php not round).
This file is in thé gold repository.
This bug is repliable with edge ans chrome.

[2015-10-29 10:17] marcosgdf opened #3828 "Required boolean extrafield shows error if boolean not checked"
Version: 3.7.2

If I create an extrafield for supplier invoices with the following characteristics:
- Type: Boolean (checkbox)
- Unique: no
- Required: yes
- Default: 0

When I want to modify the value and I do not check the input, an error showing me that the field is required is shown.

But checkboxes can hold either true or false values so that message shouldn't be shown to the user.

[2015-10-29 11:59] HugoHeneault commented on #3622
I now have a lot of bill charged but still "to charge" (à facturé in french)... How can I put them in "charged" while keeping the new behavior?

[2015-10-29 16:23] rdoursenaud commented on #3808
Yep this is a good habit to have when following develop ;)

[2015-10-29 16:23] #3808 closed, assigned to nobody

[2015-10-29 16:30] rdoursenaud commented on #3622
The workaround is to enable the hidden setting, classify manually and disable it when done.

[2015-10-29 23:19] #3698 closed, assigned to nobody

[2015-10-30 08:50] aspangaro commented on #3818
@rdoursenaud You can close this issue. Thanks

[2015-10-30 08:50] aspangaro commented on #3817
@rdoursenaud You can close this issue. Thanks

[2015-10-30 10:20] HugoHeneault commented on #3622
That's what I've done. Have to check if this won't happen another time...

[2015-10-30 10:29] marcosgdf opened #3836 "Bug: Unable to upload a document to an invoice under some circunstances"
Version: 3.7.2 (not tested in latest 3.6)

If I try to upload a PDF document named "123/2015.pdf" to the invoice "123/2015" and I have checked the input that says it will save the document as 123/2015-123/2015, then an error is shown. If not, then it can be uploaded.

[code]

[2015-10-30 10:30] marcosgdf opened #3837 "Use CSS3 properties for row coloring"
Because CSS3 has properties to color pair and impair rows, there is no need to use `class="impair"` and `class="pair"` in the code.

[2015-10-30 17:18] philazerty opened #3841 "BUG creation of a task completed incorrectly"
Version 3.6.4 & 3.6.5
In /htdocs/core/lib/company.lib.php, at line 1207, the line must be replaced by

$out.=(! empty($objcon->id)?'&amp;contactid='.$objcon->id:'').'&amp;backtopage=1&amp;percentage=100">';

note 100 at the end of line

[2015-10-31 05:29] aspangaro commented on #3837
Informations : https://developer.mozilla.org/fr/docs/Web/CSS/%3Anth-child

[2015-10-31 10:40] marcosgdf opened #3847 "Quotes and Customer orders do not inherit customer's method of payment and payment conditions"
Version: 3.7.1

If I create an invoice from a customer card, then the method of payment and payment conditions input are filled with the ones set in the customer card. But if I create a customer order or a quote, then the inputs are not filled or they are filled with incorrect values.

[2015-10-31 15:21] pat15 opened #3848 "Supplier prices on product"
When adding a new suppier price for product we can search for suppier only for name. It will be nice to search also in alias name (we have it on supplier card)

[2015-10-31 19:11] BebZ commented on #3848
Alias name in 3.8.??
I think this is a minor feat req but could be added...

[2015-10-31 22:33] marcosgdf opened #3851 "Bug: Linked objects > Benefit table does not have row coloring"
Version: 3.7.2

Impair and pair rows are not colored as the rest of the page

[2015-11-02 10:06] #2591 closed, assigned to nobody

[2015-11-02 12:16] eldy commented on #3851
I think it is fixed with 3.8. Am i wrong ?

[2015-11-02 12:18] eldy commented on #3825
Do you experience problem with demo.dolibarr.org ?

[2015-11-02 12:39] eldy commented on #3822
Fixed by a8d28b5e4649d700bb2ed94299be8f4351d961c5
Fix will however be available only with 3.9

[2015-11-02 13:21] #3822 closed, assigned to nobody

[2015-11-02 14:45] #3819 closed, assigned to nobody

[2015-11-02 14:47] eldy commented on #3821
Seems to be fixed with 3.8.1
What is your version ?

[2015-11-02 14:52] eldy commented on #3815
@simnandez Have you an idea where this function is coming from ?

[2015-11-02 14:53] eldy commented on #3805
@rdoursenaud this is for you...

[2015-11-02 14:54] #3817 closed, assigned to nobody

[2015-11-02 15:03] eldy commented on #3791
Currently, output of pages are done step by step with no buffer. So there is no way to intercept the output of all page to change it.
If goal is to perform actions before the standard code that display a page is run, this should be done into action part of pages. However, there is no "full common" code for controller code. We should have a call to the doActions hook everywhere, so you can use it,

[2015-11-02 15:11] eldy commented on #3756
Better change would be

`print '<input type="submit" class="button button-save" value="' . $langs->trans("Save") . '">';`

So we keep compatibility and can introduce button-save into CSS at no risk.
PR are welcome.

[2015-11-02 15:16] eldy commented on #3750
Goal is to be able to set css style one field per one field. We can do it using the id, but for any css manipulation, i prefer to use class when possible, event if only one object has the class.

[2015-11-02 15:20] eldy commented on #3727
If fatal php version pb occurs at first page of migration, then migration can't be done, and user will have no choice than upgrading php if he want to migrate or restore files he has overwrite with new version to cancel.
If test is not fatal, the warning should works.

[2015-11-02 15:27] rdoursenaud commented on #3727
@eldy Yes, that's the current behavior.
But less technically inclined users are left wondering because as stated in the first post, the PHP message is cryptic as hell (Thanks PHP devs, makes us look good, really…) and won't even be displayed at all if best practices are observed.

[2015-11-02 15:35] ozit opened #3857 "Bug: the amounts do not appear in pdf files"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Linux
- **Web server**: Apache/2.4.10 (Debian)
- **PHP**: apache2handler 5.6.14-0+deb8u1
- **Database**: MySQL or MariaDB 5.5.46-0+deb8u1
- **URL**: /htdocs/compta/facture.php?facid=3508
# Report

Since a week, the amounts do not appear in pdf files, there is blanck information (with crabe model for invoices)

[2015-11-02 16:57] #3726 closed, assigned to nobody

[2015-11-02 17:16] jpfox commented on #3819
Many thanks, will it be pushed into 3.8 branch ?

[2015-11-02 17:30] all3kcis commented on #3791
Yes, it might be possible to do something from the "main" file?

[2015-11-02 17:41] casati-dolibarr commented on #3756
???

[2015-11-02 18:31] #3818 closed, assigned to nobody

[2015-11-02 18:31] #3841 closed, assigned to nobody

[2015-11-02 18:49] #3857 closed, assigned to nobody

[2015-11-02 18:50] ozit commented on #3674
Correction seems ok

[2015-11-02 21:27] marcosgdf commented on #3851
Indeed.

[2015-11-02 21:27] #3851 closed, assigned to nobody

[2015-11-02 23:00] marcosgdf opened #3864 "Bug: Selector matches an unknown element "options""
Version: develop
File: /htdocs/core/tpl/objectline_create.tpl.php
Line: 509

[code]

[2015-11-02 23:03] marcosgdf commented on #3821
Probably a duplicate of #3538

[2015-11-02 23:34] marcosgdf opened #3865 "ajax_autocompleter triggers twice change() JS event over #search_htmlname"
Version: develop
Page: /htdocs/core/lib/ajax.lib.php
Function: ajax_autocompleter

Using this code as a test:

[code]

Appears twice in the console

[2015-11-03 07:26] rdoursenaud opened #3866 "SQL errors in 3.9 migration"
[code]

[2015-11-03 07:29] rdoursenaud commented on #3866
Ok, it was just a glitch following develop too closely.
Migration from a clean 3.8 works a treat.
Sorry for the noise!

[2015-11-03 07:29] #3866 closed, assigned to nobody

[2015-11-03 11:47] rdoursenaud commented on #3240
@eldy sorry reopening. you did a fix on "facture" and the bug report was for "commande" ;)

[2015-11-03 11:55] rdoursenaud opened #3868 "Upgrade to ckeditor 4.5"
To replace #3407 but I need to have #3867 merged first to avoid complications.

[2015-11-03 13:06] eldy commented on #3351
About question "What is the rationale behind these changes?".
There is a lot of source of error when generating pdf. Without the path, you have no luck to see error reason. This make understand what's wrong not possible.

[2015-11-03 13:20] #3240 closed, assigned to nobody

[2015-11-03 13:37] marcosgdf commented on #3351
Why don't you catch the exception outside the library? That change is not very useful there...

[2015-11-03 14:35] eldy commented on #3351
It was not possible, because no exception was thrown (lib cleaned it). Code was added just to be able to get something outside the library.

[2015-11-03 14:57] marcosgdf opened #3870 "Bug: Untranslated "Thirdparty" label in contract page creation"
Version: develop
![captura de pantalla 2015-11-03 a las 15 56 59](https://cloud.githubusercontent.com/assets/168744/10911120/8aacdee2-8243-11e5-8338-017d65631122.png)

[2015-11-03 14:59] marcosgdf opened #3871 "Useless code in contrat/card.php"
Version: develop

The contract module does not allow adding predefined products and/or services, so the code that looks for a certain product/service is useless as is never triggered

[2015-11-03 17:10] jbruitte opened #3872 "Loose filter with pagination in customer invoice"
Hello,

When I filter the customer invocies "unpaid", then click on the pagination, the unpaid filter disappears...

Do you have any idea ?

Version : 3.8.1

Thank you,

[2015-11-03 17:18] jbruitte commented on #3872
Resolved by adding :

[code]

before the :

[code]

line 273 .

[2015-11-03 17:18] #3872 closed, assigned to nobody

[2015-11-03 20:08] ghost opened #3874 "agenda : tiers créé par Dolibarr (default)"
A l'heure de l'intelligency généralisée : prevent.

[2015-11-03 21:21] abilbaotm opened #3875 "Bank account total balance always 0€"
![image](https://cloud.githubusercontent.com/assets/12185014/10921971/e373cf4c-8278-11e5-8373-cad95d27bdc9.png)
Dolibarr 3.8.1
/compta/bank/account.php

[2015-11-03 21:41] abilbaotm commented on #3875
Fixed! /compta/bank/account.php @ line 955

[code]

by

[code]

[2015-11-04 09:32] marcosgdf commented on #3875
Are you sure `$solde` is the same as `$total`?

[2015-11-04 09:33] marcosgdf opened #3876 "Rename Product::isservice and Product::isproduct to match PSR-2"
Should be renamed to Product::isService and Product::isProduct.

[2015-11-04 09:46] abilbaotm commented on #3875
In older versions the line is set with $total and if you change the bug is fixed. I don't know why had been changed at 3.8.1

[2015-11-04 09:55] marcosgdf opened #3877 "HTML encoded strings when searching for a supplier invoice"
Version: develop (not tested in 3.8)
Page: http://dolibarr.local/fourn/facture/list.php?sall=aaa

![captura de pantalla 2015-11-04 a las 10 54 50](https://cloud.githubusercontent.com/assets/168744/10934832/7ef24c50-82e2-11e5-821a-3a98a1d02161.png)

[2015-11-04 15:50] rdoursenaud opened #3879 "Wrong translation in the new expense report module"
The registered database constant is TF_TRIP but the translation string is TF_TRANSPORTATION so the translation is never displayed.

[2015-11-04 16:15] jfbaillette opened #3880 "Impossible to edit detail of one line in supplier invoice"
Details one line of a supplier invoice can't be edited.
Fields not displayed (see below)1:
![doli-invoice](https://cloud.githubusercontent.com/assets/3332281/10944063/9c6a8dee-8317-11e5-9132-88b1b7d2abbf.png)

[2015-11-04 16:18] rdoursenaud opened #3881 "Generated ODT files are corrupted"
While LibreOffice opens them without any problem, other viewers such as Microsoft Word and Google Docs report that the file is corrupted.
Word will let you open it after the scary message but Google Docs won't even touch it!
I'm not familiar with the way ODTs are generated by Dolibarr but I suppose it's searching and replacing values and omits to update checksums or something like that.
Can anyone

[2015-11-04 16:22] jfbaillette opened #3882 "Impossible to "validate" a second invoice (attached to a same order) for suppliers"
When creating a second invoice for supplier, no "Validate" button appears on the bottom of the screen.
![doli-invoicecantvalidate](https://cloud.githubusercontent.com/assets/3332281/10944240/8b9c357a-8318-11e5-8f7a-a280f3d01259.png)
Version 3.8 and 3.8.2

[2015-11-04 17:13] rdoursenaud commented on #3240
Thanks :)

[2015-11-04 17:19] rdoursenaud commented on #3351
@eldy Thanks for the clarifications. I now grasp why it was needed as a short term fix. But that sounds like an upstream bug to me. Why not work with them to solve the issue for everyone? Same goes for OdtPHP.

[2015-11-04 17:24] rdoursenaud commented on #3351
@eldy Also on second thought adding an application wide exception handler should do the trick without the need to modify upstream code:
https://secure.php.net/manual/function.set-exception-handler.php
That's what FirePHP and Raven (Sentry) does.

[2015-11-04 17:43] rdoursenaud commented on #3750
So? It's not a bug it's a feature?

[2015-11-04 17:45] rdoursenaud commented on #3756
@casati-dolibarr I updated @eldy's comment markup. It should be readable now ;)

[2015-11-04 17:50] rdoursenaud commented on #3760
Well, I tend to agree with @BebZ on this one.
The stats showing that it's not used is exactly why it should be put in a more prominent place!
While working with Dolibarr day in and day out for over four years now, I only discovered it a few months ago!
The feature is not easily discoverable, hence it's not used.

[2015-11-04 17:55] rdoursenaud commented on #3791
@All-3kcis Could you provide real world use cases for such a feature that are not covered by available facilities (hooks, triggers…)?

[2015-11-04 18:00] rdoursenaud commented on #3794
@wankwaiwing Your comment was unreadable because the markup was upsetting GitHub's parser.
I updaded it so it's at least readable. The correct way is to enclose your code snippets in three backticks. Please see https://help.github.com/articles/github-flavored-markdown/ for more informations.

Now even with that sorted out, I stand with @eldy, I don't understand the problem as it's the exact curren

[2015-11-04 18:05] rdoursenaud commented on #3797
This is already done in `admin/system/about.php` without any CSV(?!?)

[2015-11-04 18:08] rdoursenaud commented on #3797
In terms of design, losing two lines for such a small feature is a big waste of space. A single line should be enough. Also, this feature, if implemented, should really be only available to admins!

[2015-11-04 18:10] rdoursenaud commented on #2519
@javieralapps4up Yeah, sorry, shit happens… I'll leave your #3798 opened to prevent another fiasco…

[2015-11-04 18:26] rdoursenaud commented on #3815
@simnandez FYI, introduced in 747b6a9f94ce26d96b69237306fc8d70d0300088

[2015-11-04 18:30] rdoursenaud commented on #3825
Sounds like a hosting issue.
Have you checked that the file is correctly installed and has the right permissions?

[2015-11-04 18:31] rdoursenaud commented on #3828
:+1: Seen that and forgot to report.

[2015-11-04 18:34] rdoursenaud commented on #3828
On second thought, that's probably a feature. There's no point in setting a boolean extrafield to required except to make sure it's checked!

[2015-11-04 18:37] rdoursenaud commented on #3836
Well, the problem seems to be the name of your file. The forward slash is the directory separator on *nix OS! I'm even surprised you can have such a file!

[2015-11-04 18:39] rdoursenaud commented on #3837
:+1:

[2015-11-04 18:45] rdoursenaud commented on #3864
Looks like it's supposed to be shown it the same code a few lines later(545 in current develop):

[code]

[2015-11-04 18:59] rdoursenaud commented on #3871
Mine allows predefined services…

[2015-11-04 19:01] rdoursenaud commented on #3874
What?!?

[2015-11-04 19:04] rdoursenaud commented on #3875
Fixed by 334c14d088c0f22805247917770dbcc5f6a8e3f8. Will be available in next release.

[2015-11-04 19:04] #3875 closed, assigned to nobody

[2015-11-04 19:12] rdoursenaud commented on #3877
Why priority high? Because a forged link can be used to insert arbitrary HTML and JS to steal your credentials…

[2015-11-04 19:15] rdoursenaud commented on #3880
Looks like the page has been interrupted by a fatal error.
Could you please check your logs and post the error?
Also please try to follow the [contributing guidelines](https://github.com/Dolibarr/dolibarr/blob/develop/CONTRIBUTING.md) and provide the version you're using when reporting a bug.

[2015-11-04 19:19] rdoursenaud commented on #3880
Fix in #3884

[2015-11-04 19:38] marcosgdf commented on #3864
But options is not a valid HTML tag. Right?

El mié., 4 de noviembre de 2015 19:46, Raphaël Doursenaud <
notifications@github.com> escribió:

[2015-11-04 19:45] jfbaillette commented on #3880
Perfect Thank you Raphaël / Lot of thanks to Florian for his help in debugging.

[2015-11-04 19:45] #3880 closed, assigned to nobody

[2015-11-04 19:45] jfbaillette commented on #3882
Perfect Thank you Florian for your help in debugging.

[2015-11-04 19:45] #3882 closed, assigned to nobody

[2015-11-04 21:50] rdoursenaud commented on #3864
Oh, you're right, it should be option and read something like

[code]

Could this possibly be related to #3661?

[2015-11-04 22:10] rdoursenaud commented on #3872
And where's the pull request?

[2015-11-04 22:22] rdoursenaud commented on #3397
@bazzanellat I believe it's in 4541d189acadffcd9808b3422558d4006633278d

[2015-11-05 00:50] #3661 closed, assigned to nobody

[2015-11-05 01:32] #3870 closed, assigned to rdoursenaud

[2015-11-05 08:22] jbruitte commented on #3872
Not really good at using Github. This is why, I post the code :)

[2015-11-05 08:48] all3kcis commented on #3791
@rdoursenaud  Yes, for example the tab is a very good option overload, but it has the defect that the tabs still available if you know the URL (bookmarks).
For the needs of one of my modules I have to be sure that the person can not access the old tab.
If I can detect the display of an old page I could for example redirect the user to the new.

[2015-11-05 09:35] marcosgdf opened #3890 "Expected transactions bank account page, shows negative numbers"
Version: 3.7.2 (probably 3.6 too)

The page shows pending supplier invoices as negative amounts instead of absolute numbers in the proper column.

[2015-11-05 09:42] marcosgdf commented on #3836
I can upload it just if I don't let Dolibarr rename it

[2015-11-05 09:42] marcosgdf commented on #3828
That sounds reasonable...

[2015-11-05 09:43] marcosgdf commented on #3750
But if I just want to use the ID there must be a way for the developer to say it so...

[2015-11-05 10:44] #3871 closed, assigned to nobody

[2015-11-05 12:38] marcosgdf opened #3896 "JS Tooltip does not escape HTML"
Version: 3.8

![captura de pantalla 2015-11-05 a las 13 37 45](https://cloud.githubusercontent.com/assets/168744/10968559/73e1c666-83c2-11e5-9933-c1b935821d6c.png)

[2015-11-05 13:04] marcosgdf opened #3897 "Incorrect colspan in tr#tablelines > tr#trlinefordates"
Version: develop

It has a 10 column span, but the maximum number of columns is 9.

![captura de pantalla 2015-11-05 a las 14 04 22](https://cloud.githubusercontent.com/assets/168744/10969058/21c353b4-83c6-11e5-8ede-fef19032c613.png)

![captura de pantalla 2015-11-05 a las 14 04 43](https://cloud.githubusercontent.com/assets/168744/10969065/2f8f0952-83c6-11e5-9868-42613701b8f1.png)

[2015-11-05 13:16] marcosgdf opened #3898 "Remove deprecated Product::hidden property"
Introduced in 2010 (8980d9acc21f28e040f6a7fe87e614e659c6b97b)

Is it dead code? The value is not being used anywhere

![captura de pantalla 2015-11-05 a las 14 23 35](https://cloud.githubusercontent.com/assets/168744/10969470/d1f569b4-83c8-11e5-95cb-8c4518743fcf.png)

[2015-11-05 13:59] rdoursenaud commented on #3872
Let's help you get started then.

You can do it in just 3 steps:
- clone the repository to your account
- edit the file (You can do that directly online, not harder than a comment)
- make a pull request

For more informations, you can have a peek at our [contributing guidelines](https://github.com/Dolibarr/dolibarr/blob/develop/CONTRIBUTING.md) and GitHub [help pages](https://help.github.com/).

Y

[2015-11-05 14:02] rdoursenaud commented on #3896
Yeech, that's indeed an ugly bastard :/

[2015-11-05 14:05] rdoursenaud commented on #3898
The field is indeed marked as deprecated in `llx_product.sql` but I don't see the bug…

[2015-11-05 14:10] rdoursenaud commented on #3836
Any chance you can do a screencast? I'm just curious to see how you store a file with a forward slash in its name :) There's so much that can go wrong, both on the client and server sides. What OSs are you using?

[2015-11-05 14:16] rdoursenaud commented on #3791
Hum, we're talking about a routing framework here. Unfortunately Dolibarr is not designed that way.
I guess that a short term solution would be to use your webserver's URL rewriting capabilities.
Nothing prevents you from doing a redirect in the old tab either. It's not elegant but it should work.

[2015-11-05 15:21] all3kcis commented on #3791
My temporary solution is to add an include at the end of main.inc.php (Automatically upon activation of the module) that redirects to a file containing this:

$var = (!empty($_SERVER['QUERY_STRING'])) ? $var='?'.$_SERVER['QUERY_STRING'] : '';
if(strpos($_SERVER['SCRIPT_FILENAME'], "htdocs/product/stock/product.php")){
    header('Location: /var/www/htdocs/mymodule/product/stock/product.php'.$var);

[2015-11-05 15:33] marcosgdf commented on #3836
Mac OS X 10.11.1.

Here you are: https://www.dropbox.com/s/m3j3hobzzfw614t/Screencast%20upload%20bug.mov?dl=0

[2015-11-05 15:34] marcosgdf commented on #3898
I first reported as a bug because the property was declared dynamically, but then I realized it is no longer used. Should we file it as a FR and remove the code?

[2015-11-05 15:40] altairis-tof commented on #3791
studying @All-3kcis use-case, i think he points a security failure. If a module specify to remove a tab, the tab should not be accessible anymore, even by typing its url.
I think we should find a way to do it, maybe in the restrictedarea() function.

[2015-11-05 15:46] altairis-tof commented on #3836
it's amazing that this OS allows slashes in filenames; of course when you upload it to a linux server, it fails.

[2015-11-05 15:49] marcosgdf commented on #3836
The problem is not uploading but Dolibarr renaming it. See that it only fails when the "rename" checkbox is checked

[2015-11-05 16:15] all3kcis commented on #3791
"If a module specify to remove a tab, the tab should not be accessible anymore, even by typing its url."
We are agreement.

[2015-11-05 17:26] rdoursenaud commented on #3898
Agreed!

[2015-11-05 17:32] rdoursenaud commented on #3836
Wow, ok, this is definitely a bug.
I'm also amazed at the filename handling of MacOSX.
I wonder how it encodes it internally. Looks like I'll have to do some research tonight. You struck my interest with this one!

[2015-11-05 17:37] rdoursenaud commented on #3791
Well a module can't remove a tab, it can just merely hide it.
Even the wiki documentation states that it's an illusion.
I don't see any security issue there. Using Dolibarr core code should not open any vulnerability.
What you really want is a tab override feature that would help you replace a tab by you own, for good, right?

[2015-11-05 18:07] #3560 closed, assigned to nobody

[2015-11-05 21:13] #3864 closed, assigned to rdoursenaud

[2015-11-06 08:57] altairis-tof commented on #3791
a module can ask to remove a tab : http://wiki.dolibarr.org/index.php/Tabs_system#To_remove_an_existing_tab
maybe dolibarr just hide it, but the feature exists

but tab overriding would be a nice feature ;-)

[2015-11-06 09:45] daamien opened #3912 "Upgrade from 3.7 to 3.8 fails on Postgres due to llx_don.fk_country"
I'm running the upgrade process with this page :

/install/upgrade.php?action=upgrade_3.8.0&selectlang=fr_FR&versionfrom=3.7.0&versionto=3.8.0

And I get this error

[code]

There's 2 problems here:
- AFTER is not a standard SQL command and PostgreSQL does not support it. Basically it's just another  MySQL trick. Anyway I'm curious why you'd need to enforce the order of columns in a table... I thi

[2015-11-06 09:48] FHenry commented on #3912
Hello Damian,
The pgsql.class.php remove the AFTER instruction during execution so it should not be a problem, on the NOT NULL I'm on it

[2015-11-06 09:50] daamien opened #3913 "Upgrade from 3.8 to 3.9 fails on Postgres due to llx_paiement.ref"
Page:
/install/upgrade.php?action=upgrade&selectlang=fr_FR&versionfrom=3.8.0&versionto=3.9.0

Error:

[code]

Problems with AFTER and NOT NULL. Please read issue #3912 for more details

[2015-11-06 09:54] FHenry commented on #3912
OK, on this "after", the problem is that some contributor put "after" instead of "AFTER". the pgsql db class only remove "AFTER"...  will send information on dev newletters about that

[2015-11-06 09:55] rdoursenaud commented on #3791
@altatof That's exactly the page I was quoting when I said it's an illusion. The section title is misleading. Technically it just hides it.

[2015-11-06 09:57] daamien commented on #3912
Ok thanks...

Anyway what's the point of specifying the order of columns in MySQL if you can't do it with Postgres ?

This means the order of columns will be different between MySQL and Postgres. If a developper does not know that, he may use the column order (for instance doing a SELECT \* and then accessing the data with the column number, which is a bad idea but quite common).

This may lead to

[2015-11-06 10:01] FHenry commented on #3912
the SELECT \* is "forbidden" into dolibarr (http://wiki.dolibarr.org/index.php/Langages_et_normes : "Les SELECT \* sont interdits ! Chaque SELECT doit spécifier la liste complète des champs à récupérer. Cela permet d'éviter les confusions. Exemple: ")

[2015-11-06 10:01] marcosgdf opened #3914 "Bug: Properties Product::multiprices_min and Product::multiprices_min_ttc, Product::url dynamically declared"
Version: develop

[2015-11-06 10:09] daamien opened #3916 "Upgrade from 3.8 to 3.9 fails on Postgres due to llx_product.price_autogen"
Page:
/install/upgrade.php?action=upgrade&selectlang=fr_FR&versionfrom=3.8.0&versionto=3.9.0

Error:

[code]

Here's the problem:

[code]

is rewritten this way:

[code]

The correct syntax for Postgres is

[code]

http://www.postgresql.org/docs/9.5/static/datatype-numeric.html

[2015-11-06 10:14] daamien commented on #3916
Futhermore the  ALTER TABLE is inconsistent with the original schema here:

https://github.com/Dolibarr/dolibarr/blob/develop/htdocs/install/mysql/tables/llx_product.sql#L85

 price_autogen is defined as TINYINT not TINYINT(1)

[2015-11-06 10:21] FHenry commented on #3916
I've already send a mail when we start to work together to mailling list dev to warn about that, i'll do it again.PR is ongoing

[2015-11-06 10:22] marcosgdf commented on #3916
My bad! I usually develop with PostgreSQL to avoid these kind of problems but this time I didn't... Should I correct this or you will, @FHenry ?

[2015-11-06 10:26] FHenry commented on #3916
done PR #3918

[2015-11-06 10:31] daamien commented on #3916
thanks guys

[2015-11-06 10:45] marcosgdf commented on #3836
:stuck_out_tongue_closed_eyes:

[2015-11-06 11:20] #3913 closed, assigned to nobody

[2015-11-06 11:20] #3916 closed, assigned to nobody

[2015-11-06 11:30] #3763 closed, assigned to nobody

[2015-11-06 11:31] #3898 closed, assigned to nobody

[2015-11-06 11:32] #3914 closed, assigned to nobody

[2015-11-06 15:02] rdoursenaud opened #3922 "Handle product/service properties"
Some products need to be managed with properties (colors, sizes…) and modifiers (XL costs 2€ more).
Stock would have to be modified to handle items with specific properties.

[2015-11-06 17:58] #3912 closed, assigned to nobody

[2015-11-07 11:58] marcosgdf commented on #3847
Can't reproduce it anymore

[2015-11-07 12:03] #3847 closed, assigned to nobody

[2015-11-07 12:10] marcosgdf opened #3928 "Bug: Creating a Customer order and a Customer invoice from a project, does not inherit payment conditions and method of payment of customer card"
Version: 3.6.5

Page: http://dolibarr.local/commande/fiche.php?socid=1&action=create&origin=project&originid=1 and http://dolibarr.local/compta/facture.php?socid=1&action=create&origin=project&originid=1

When I create a customer order or a customer invoice from the "Linked objects" of a project, then the payment conditions and method of payment of the linked third are not selected. If I create a

[2015-11-07 12:26] marcosgdf opened #3930 "[Insight] Files should not be executable"
[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/d8af89bc-167e-4890-a8b6-df94d0fac1bc/analyses/334)_

[2015-11-07 12:29] marcosgdf opened #3931 "[Insight] Logical operators should be avoided - in htdocs/core/class/extrafields.class.php, line 261"
**[in htdocs/core/class/extrafields.class.php, line 261](https://github.com/marcosgdf/dolibarr/blob/e16555132e39918c336c96aec2a3e8175aad0882/htdocs/core/class/extrafields.class.php#L261)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/d8af89bc-167e-4890-a8b6-df94d0fac1bc/analyses/335)_

[2015-11-07 13:34] marcosgdf commented on #3877
I think you misinterpreted the bug, it is just that $langs->trans is called instead of $langs->transnoentities

[2015-11-07 13:35] marcosgdf commented on #3709
Already available in develop branch with the new theme

[2015-11-07 13:35] #3709 closed, assigned to nobody

[2015-11-07 13:52] marcosgdf commented on #3836
I noticed that the problem is not when the file has a slash in its name, but when the invoice has a slash in its reference.

[2015-11-07 15:40] marcosgdf opened #3940 "Error updating from 3.8.0 to develop"
Error DB_ERROR_1072: ALTER TABLE llx_budget_lines ADD UNIQUE INDEX uk_budget_lines (fk_budget, fk_project);
Key column 'fk_project' doesn't exist in table

Error DB_ERROR_1072: ALTER TABLE llx_budget_lines ADD INDEX idx_budget_lines (fk_project);
Key column 'fk_project' doesn't exist in table

[2015-11-07 15:43] marcosgdf opened #3941 "Error installing Dolibarr develop"
[code]

Error de SQL DB_ERROR_SYNTAX You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') ENGINE=InnoDB' at line 16

[2015-11-07 15:59] marcosgdf opened #3943 "Feature Request: Replace CronSaveSucess language string with RecordSaved"

[2015-11-08 10:13] #3767 closed, assigned to nobody

[2015-11-08 10:18] #3897 closed, assigned to nobody

[2015-11-08 10:19] #3931 closed, assigned to nobody

[2015-11-08 10:19] #3877 closed, assigned to nobody

[2015-11-08 10:20] #3876 closed, assigned to nobody

[2015-11-08 10:21] #3941 closed, assigned to nobody

[2015-11-09 10:00] rdoursenaud commented on #3836
Good catch!

[2015-11-09 10:03] #3928 closed, assigned to nobody

[2015-11-09 10:03] #3890 closed, assigned to nobody

[2015-11-09 10:04] #3836 closed, assigned to nobody

[2015-11-09 10:04] #3707 closed, assigned to nobody

[2015-11-09 10:04] #3679 closed, assigned to nobody

[2015-11-10 10:22] BebZ opened #3953 "Supplier price should not be rounded in margin computations"
![bug pfp rounding](https://cloud.githubusercontent.com/assets/3694135/11059966/6fda122e-879d-11e5-9ecd-bc731565e53c.PNG)
It seems there is a rounding problem, when we add a product to an order, the selected buying price is rounded, for example we got a product with 1,8525€ buying price, is rounded at 2€.
I tried to solve it in the limits configuration, but it didn't solve it.

[2015-11-10 10:29] jpfox commented on #3819
Sorry @eldy but I apply patch from https://github.com/Dolibarr/dolibarr/commit/d0d4c5e7f8a625badb0157badef4c9ae8dbe81dc and it does not work :-(
If var is not defined whole [!-- IF ....] { } [!-- ENDIF...] is still generated as is, not replaced by the "else" value.

[2015-11-10 10:53] BebZ opened #3954 "BUG : 3.8.2 stock correction impossible to "save""
There is a problem on manual stock movements, when we try to correct, the "save" button has no effect, reloads the page and leaves the fields populated with the data but doesn't implement/decrement stocks...
/product/stock/product.php?id=1131

![bug correction stock imposible 3 8 2 dolibarr](https://cloud.githubusercontent.com/assets/3694135/11060625/a88980f6-87a1-11e5-9fd7-f2b3cbcc8446.PNG)

[2015-11-10 22:09] frederic34 commented on #3954
@BebZ can you try: https://github.com/frederic34/dolibarr/commit/61eb7f48aac77279cf3c6543816cc9abc20cd605

[2015-11-11 14:36] #3865 closed, assigned to nobody

[2015-11-11 18:03] eldy opened #3962 "Removing not usefull library"
I am fighting against inclusion of external libraries that does not provide real thing.
It create dependencies and are time consuming when we check compatibilities test or feature tests when we upgrade them. Sometime, they are just deprecated, so we should n include libraries if it is not need to have dolibarr working.
This is the case for fire-php library. 200 ko added for a feature user will nev

[2015-11-11 23:54] eldy commented on #3819
This is probably because the condition
[!-- IF ....]
was not entered in one pass into libreoffice but may have been entered by
cut and paste and using the back key of keyboard.
Sometimes also libreoffice replace the -- with -

Open the .odt file with unzip then open the file content.xml and check
inside that you can see the condition with exact syntax.

2015-11-10 11:29 GMT+01:00 Jean-Pierre Morfi

[2015-11-12 04:47] rdoursenaud commented on #3962
The title of your issue is misleading. These are not useful **to you**.
So are a bunch of other things **to me**.

Somewhat 32Mb of TCPDF, 19Mb of CKEditor, 9.1Mb of PHPExcel and 7.2Mb of jQuery is OK but 1Mb of FirePHP, raven and raven-js is not? Come on, give me a break!

Managing libraries? That's exactly what composer is for… but you keep fighting against (learning?) it.
External libraries sho

[2015-11-12 08:26] jpfox commented on #3819
I found the problem. Your last correction is not compatible with {object_total_vat_locale_x.x} tags which contain digits, dot or coma.

Here a pull request to correct it :
https://github.com/Dolibarr/dolibarr/pull/3965

[2015-11-12 12:16] FHenry commented on #3805
@rdoursenaud, @eldy
Right now (with this commit #3805 c534f5bcd51485747c808c76128b22b60e7cc9f8 it become impossible to change invoice if invoice not into cycle feature.
Return false if situation_cycle_ref is empty is not a good idea. An invoice without cycling stuff can be modified if it is not paid yet.
Check facture.php line 3560

[2015-11-12 17:30] rdoursenaud commented on #3805
Thanks @FHenry. Rushed that…

[2015-11-13 11:35] #3805 closed, assigned to rdoursenaud

[2015-11-13 18:02] RomainDeschamps opened #3980 "Search field in "product by supplier" list sends emplty result 3.8 and 3.7"
List of product per supplier :
![image](https://cloud.githubusercontent.com/assets/11922840/11153378/c3483196-8a38-11e5-8d6b-a177db23e512.png)

0 result when search :
![image](https://cloud.githubusercontent.com/assets/11922840/11153398/e36f394c-8a38-11e5-9e7a-14eae82b862f.png)

[2015-11-13 18:20] #3542 closed, assigned to nobody

[2015-11-15 12:16] marcosgdf opened #3985 "Bug: Incorrect user profile image is loaded in 3.8.2"
Version: 3.8.2

Failed to load resource: the server responded with a status of 504 (Gateway Timeout) http://i0.wp.com/dolibarr.local/public/theme/common/user_anonymous.png

[2015-11-15 12:18] marcosgdf opened #3986 "Bug: Unable to add a product to a customer order with margins module enabled"
Version: 3.8.2

Page: http://dolibarr.local/commande/card.php?id=124

If I select, "Input price", this is shown:
![captura de pantalla 2015-11-15 a las 13 18 02](https://cloud.githubusercontent.com/assets/168744/11168700/551eb50a-8b9b-11e5-8fbd-2c6e0138f40c.png)

But even if I don't manually enter the price, then an error "Unknown column 'NaN' in 'field list'" is shown

[2015-11-15 12:30] marcosgdf opened #3987 "Bug: Undefined variable $newref in CommandeFournisseur::approve"
Version: 3.8.2

File: /dolibarr/htdocs/fourn/class/fournisseur.commande.class.php
Line: 770

[2015-11-15 12:31] marcosgdf opened #3988 "Bug: Undefined variable $conf and $error in CommandeFournisseur::addline"
Version: 3.8.2

File: /dolibarr/htdocs/fourn/class/fournisseur.commande.class.php
Line: 1350

[2015-11-15 12:32] marcosgdf opened #3989 "Bug: Undefined variable $conf in CommandeFournisseur::getNomUrl"
Version: 3.8.2

File: dolibarr/htdocs/fourn/class/fournisseur.commande.class.php
Line: 586

[2015-11-15 13:04] marcosgdf commented on #3986
$_POST['buying_price'] = 'NaN';

Caused by /dolibarr/htdocs/fourn/ajax/getSupplierPrices.php returning a localtax number in "price" attribute

[2015-11-15 13:19] marcosgdf commented on #3986
Already fixed in latest 3.8

[2015-11-15 13:19] #3986 closed, assigned to nobody

[2015-11-15 13:53] marcosgdf opened #3990 "Bug: Undefined variable $num in Formmail::fetchAllEmailTemplate"
Version: 3.8.2

File: dolibarr/htdocs/core/class/html.formmail.class.php
Line: 886

[2015-11-15 14:01] marcosgdf opened #3991 "Feature Request: FormMail::getEmailTemplate should be a public function"
We are unable to retrieve in external modules the default template of a model because the function has a private scope.

[2015-11-15 16:24] BebZ commented on #3986
https://github.com/Dolibarr/dolibarr/issues/3661

[2015-11-15 16:26] BebZ commented on #3661
closed by #3986

[2015-11-15 17:18] marcosgdf opened #3992 "Bug: CommandeFournisseur::ref is marked as deprecated and it shouldn't be"
Version: 3.8.2

CommandeFournisseur::ref is the reference of the object and it is marked as deprecated. CommandeFournisseur::product_ref is not the same as CommandeFournisseur::ref

[2015-11-15 22:25] marcosgdf commented on #3661
The fix for this bug is not present in 3.8.2…

[2015-11-15 23:37] marcosgdf opened #3996 "Bug: Dictionnary hooks are not working in 3.8"
Version: 3.8.2

Hooks: editDictionaryFieldlist and createDictionaryFieldList

The function HookManager::executeHooks got modified and now it doesn't return anything when calling a createDictionaryFieldlist hook, so now we are not able to tell the page that we want to override the core logic

Bug introduced in commit ba2c0a2651ead307ab9c779a16e6b4dbdb424bea

Probably due to this hook is really an a

[2015-11-16 00:19] marcosgdf opened #3997 "Bug: Wrong permission key used for Margins > Read all"
Version: 3.8.2

`$user->rights->margins->read->all` should be used instead of `$user->rights->margin->read->all`

[2015-11-16 01:18] marcosgdf opened #3998 "Bug: Supplier unpaid invoices page missing in menu"
Version: 3.8.2

Page: /htdocs/fourn/facture/impayees.php

It is now only available when accessing from "pending supplier invoices" box in financial area while in previous versions it was available in Supplier Invoices > Pending

Caused by commit 8061ec90840489d8b2177010be46399e99d2f7c3

[2015-11-16 11:41] marcosgdf opened #4001 "Bug: Unable to create an invoice with total amount = 0"
Version: 3.7.2

Having the following services:
1. UP: -45 VATTX = 0 TOTAL: -45
2. UP: 37,19 VATTX = 21 TOTAL: 45

TOTAL HT = -7,81
TOTAL VAT = 7,81
TOTAL TTC= 0

An error is shown to the user telling that the invoice should have a positive amount. Is Total HT or Total TTC used to compare? Is this considered as a negative invoice?

[2015-11-16 18:30] BebZ opened #4012 "Bug 3.8.2 : Broken Pictures on Proposals"
I was on a 3.7, could make proposals with picture
Moved on 3.8.2 cannot anymore
Can you reproduce ?

I tried making MAIN_GENERATE_PROPOSALS_WITH_PICTURE to 0 then 1
it didn't change.

maybe regression to MAIN_GENERATE_DOCUMENTS_WITH_PICTURE ? or anything ?

[2015-11-16 22:21] eldy commented on #3661
Fix is in 3.8 branch but was commited after 3.8.2 release

[2015-11-16 23:54] marcosgdf commented on #3538
This is happening in latest 3.8 branch code.

I've updated a DB from 3.5 to latest 3.8 and the validate button is not available! Even with admin permissions.

I had to set the constant to 1 and then remove it so that I could validate quotes

[2015-11-17 00:35] marcosgdf opened #4016 "Bug: User link is not correctly formed in emailing receivers"
Version: 3.8.2
Page: comm/mailing/cibles.php
![captura de pantalla 2015-11-17 a las 1 35 15](https://cloud.githubusercontent.com/assets/168744/11199160/7b874258-8ccb-11e5-9040-9dae8f60e7d2.png)

[2015-11-17 00:35] #3997 closed, assigned to nobody

[2015-11-17 00:36] #3996 closed, assigned to nobody

[2015-11-17 00:36] #3992 closed, assigned to nobody

[2015-11-17 00:36] #3989 closed, assigned to nobody

[2015-11-17 00:36] #3988 closed, assigned to nobody

[2015-11-17 07:37] BebZ commented on #3953
Am i the only one to have this problem of rounding ?
Ping @eldy @altatof

[2015-11-17 08:55] marcosgdf opened #4018 "Bug: SQL error if trying to access the mailing/card.php page without an ID defined"
Version: 3.8.2

Page: htdocs/comm/mailing/card.php?id=

[code]

[2015-11-17 08:58] marcosgdf opened #4019 "Bug: Incorrect log priority when trying to fetch a non-existing customer invoice"
Version: 3.8.2

If we call Facture::fetch() to retrieve an invoice and the invoice is not found, a message is logged with ERR priority. This is not an error, it is just giving the information that the invoice could not be found… Also a SQL query is logged too and that does not give relevant information in this particular case…

[2015-11-17 09:00] marcosgdf opened #4020 "Feature request: Limit user signature width"
If the user signature is too long, then the page goes wider and we have to do some infinite scrolling to get to the right of the page…

If we put the signature inside a box, then we could control the width and improve the usability of the page.

[2015-11-17 09:18] FHenry commented on #3990
@marcosgdf pull request merged, you can close the issues

[2015-11-17 09:18] marcosgdf opened #4022 "Bug: Error creating a menu entry"
Version: 3.8.2

I've created a menu entry in /admin/menus/index.php and after creating it, it does not appear in the list but it is registered in the database.

Also, mainmenu and leftmenu are empty and therefore it does not appear in the UI when expected.

[2015-11-17 09:32] #3990 closed, assigned to nobody

[2015-11-17 09:42] marcosgdf commented on #3990
@FHenry Are you sure? Github says the commit is only in fhenry/dolibarr

[2015-11-17 09:46] melbus commented on #3953
Hi
Same problem for me on 3.8.1

[2015-11-17 11:13] braito4 opened #4023 "BUG 3.8.2: Bank transactions list doesn't respect Max length for list personalised value"
when i change the user personal value of maximum listed objects. This maximum doesn't apply to the bank list.

[2015-11-18 11:27] marcosgdf commented on #3791
Aren't you talking about updateSession hook?

[2015-11-18 11:29] marcosgdf commented on #3730
Due to European Union regulation, we are not able to create tickets in Spain in most of the businesses, they were replaced by Simplified Invoices (which main difference is that the customer is not identified).

[2015-11-18 22:18] pat15 commented on #3185
Is it working with 3.8.2 ? When i try example file i still have in line:
adrodt_debug_lines = {adrodt_debug_lines}

I try change to my own product extra line field -> {adrodt_jm} but not working... Checking on commande module.

[2015-11-19 08:01] marcosgdf opened #4036 "Bug: Direct printing module without any driver configured, shows an unformatted error message"
Version: 3.8.2

Page: htdocs/printing/index.php
![captura de pantalla 2015-11-19 a las 9 01 29](https://cloud.githubusercontent.com/assets/168744/11265383/265f685a-8e9c-11e5-81f0-f6c6813a7fa6.png)

[2015-11-19 09:40] jpfox commented on #3185
Have you enabled adrodt module ?

if your line field is named jm, use {line_options_jm} in your odt model

[2015-11-19 11:21] rdoursenaud opened #4037 "Add an option to prevent free field when products/services is enabled"
Some companies policy may want to prevent using free form documents and enforce using products and/or services available in the database.
Provide an option to disable free input when products and/or services are available.

[2015-11-19 11:23] rdoursenaud commented on #3185
@jpfox Why don't you contribute your changes to the native module? These seem useful for everyone.

[2015-11-19 11:25] rdoursenaud commented on #3730
The native POS will soon be able to print tickets thanks to @frederic34's hard work.
Get in touch with him ;)

[2015-11-19 11:34] frederic34 commented on #3730
:+1:  and if someone wants to lend me a printer ...

[2015-11-19 11:35] rdoursenaud commented on #3940
Can't reproduce…
Looks like it's been fixed by @eldy at fa8863d2eac449b2105419f610afae5c84ef9d66

[2015-11-19 11:35] #3940 closed, assigned to nobody

[2015-11-19 13:41] rdoursenaud commented on #4036
Looks awfully similar to #3236

[2015-11-19 14:13] marcosgdf commented on #4036
Yep. And it is still present in 3.8.2. So it probably didn't get fixed…

[2015-11-19 20:26] ParisLiakos opened #4042 "particulier property is unused"
When creating a third party, the form asks you whether you want a company or private individual.
No matter what you choose, always company is used.

After digging a bit seems that "particulier" property of societe class is unused.

[2015-11-19 22:06] pat15 commented on #3185
@jpfox - Yes i have it enabled, and still not working.
[!-- BEGIN row.lines --]{line_options_jm} ..... <- this is in odt template, when i generated and download this file i have: **{line_options_jm}**

[2015-11-20 09:03] marcosgdf commented on #3922
I'm going to submit in the following days a feature to handle product attributes, and generate product combinations that have price and weight modifiers. It doesn't handle stock but it can be improved

[2015-11-20 09:05] marcosgdf commented on #3954
Is there any record in the log?

[2015-11-20 09:05] marcosgdf commented on #4042
When creating a thirdparty, if you select "particular" a contact is created as well. Probably it should be merged with thirdparty type.

![captura de pantalla 2015-11-20 a las 10 06 31](https://cloud.githubusercontent.com/assets/168744/11295813/6c1dbbd0-8f6e-11e5-9cfc-9fbefea3de11.png)

[2015-11-20 09:10] marcosgdf opened #4043 "Bug: Incorrect translation in error mesage in menu creation admin page"
Version: 3.8.2
Page: http://dolibarr.local/admin/menus/edit.php?action=add&menuId=0

![captura de pantalla 2015-11-20 a las 10 08 11](https://cloud.githubusercontent.com/assets/168744/11295877/dbe0c7aa-8f6e-11e5-9beb-79a00179eaaa.png)

[2015-11-20 09:16] marcosgdf commented on #3681
So I guess this issue can be closed, right?

[2015-11-20 09:20] atm-gauthier commented on #3681
Yes now that it has been merged we can close it =)

[2015-11-20 09:25] camlafit commented on #3681
Yes looks solved on 3.8.2

[2015-11-20 09:25] #3681 closed, assigned to nobody

[2015-11-20 21:16] #3985 closed, assigned to nobody

[2015-11-20 21:30] #4022 closed, assigned to nobody

[2015-11-21 09:45] #4016 closed, assigned to nobody

[2015-11-21 09:46] #4043 closed, assigned to nobody

[2015-11-21 09:49] marcosgdf opened #4049 "Bug: PHP warning when trying to access a non-existing product/service"
Version: 3.8.2
Page: http://dolibarr.local/product/card.php?id=0

[code]

[2015-11-21 09:54] marcosgdf opened #4050 "Bug: $this is not accessible in static context in Mailing::libStatutDest"
Version: 3.8.2

File: /htdocs/comm/mailing/class/mailing.class.php
Line: 559

[2015-11-21 10:03] #2977 closed, assigned to nobody

[2015-11-21 10:37] marcosgdf opened #4055 "Bug: SQL error when trying to access a non-existing expedition"
Bug: 3.8.2

[code]

[code]

[2015-11-21 10:52] marcosgdf commented on #3706
Which pages?

[2015-11-21 10:54] marcosgdf commented on #3581
Can this issue be closed?

[2015-11-21 11:16] marcosgdf commented on #3293
It looks like this is intended. Check commit 4d7f3cb741d0c6480736115212c31e3f9aaf3a3f

[2015-11-21 12:00] marcosgdf commented on #3234
Isn't this more a feature request than a bug?

[2015-11-21 13:01] marcosgdf commented on #3100
Should we close the issue? It's been ~ 5 months

[2015-11-21 13:02] marcosgdf commented on #2991
I think this is the expected behaviour as most of the pages in Dolibarr behave this way…

[2015-11-21 13:14] marcosgdf opened #4062 "Feature request: Move most dol_mktime usages to DateTime objects"

[2015-11-22 02:34] rdoursenaud commented on #2991
@marcosgdf Yes, except this one is public!

[2015-11-22 02:35] rdoursenaud commented on #3234
Working without javascript is not an option but a requirement. So it classifies as a bug in my book.

[2015-11-22 02:38] rdoursenaud commented on #3100
Yeah. Closing.
@mistraloz please reply if you want this to be reopened.

[2015-11-22 02:38] #3100 closed, assigned to nobody

[2015-11-22 07:18] #3508 closed, assigned to nobody

[2015-11-22 07:18] #4049 closed, assigned to nobody

[2015-11-22 07:18] #4018 closed, assigned to nobody

[2015-11-22 21:24] aspangaro opened #4069 "Accountancy : Help needed - button "export" don't work on bank journal"
Hi,

Since Dolibarr 3.7, the button "export_csv" in bank journal on the module accountancy (Still in develop) doesn't work.

The difference with the other journal is an "id" in the address to detect the id of the bank account & I think the problem come from here and I don't find a way to correct the problem.

![2015-11-22 22_21_38-alarmes et horloge](https://cloud.githubusercontent.com/assets/2341

[2015-11-23 10:23] rdoursenaud opened #4071 "Crabe PDF template should not issue red messages with a perfectly valid configuration"
When set to:
![capture d ecran de 2015-11-23 11-19-48](https://cloud.githubusercontent.com/assets/1210367/11334285/5eb2700e-91d4-11e5-87b1-ee784068abde.png)

The result on the PDF should not be:
![capture d ecran de 2015-11-23 11-20-03](https://cloud.githubusercontent.com/assets/1210367/11334288/6100e21e-91d4-11e5-8f4b-a8014928b295.png)

[2015-11-23 13:09] rdoursenaud opened #4074 "User display settings theme parameters are not saved"
/user/param_ihm.php?id=1

Theme settings are not saved upon modification.

[2015-11-23 14:08] rdoursenaud opened #4076 "Interventions admin checkbox should be replaced by toggle switch"
To keep GUI clean and uniform,

![capture d ecran de 2015-11-23 14-53-36](https://cloud.githubusercontent.com/assets/1210367/11338366/ee3d4e32-91f3-11e5-911f-8d01fea97bf5.png)

Should be replaced by
![capture d ecran de 2015-11-23 14-53-45](https://cloud.githubusercontent.com/assets/1210367/11338372/f72b5994-91f3-11e5-903c-0a39ebc9b96e.png)

[2015-11-23 14:41] pat15 opened #4077 "Credit note for supplier invoice"
Hi,

I think this usefull function should be in Dolibarr. Sometimes when You received credit note to supplier invoice we must enter it to the system. Actually this not possible.

[2015-11-23 14:43] AlainRnet opened #4078 "[bug] llx_facture_fourn : label or libelle ?"
Hello.
Small bug in the supplier invoice form, the following message appears when I want to add a name:
"Unknown column 'label' in 'field list' "
After checking in the table llx_facture_fourn the label field does not exist, but the libelle field exists.

I just upgrade to the 3.7.2 version, and it's always the case.
Moreover, the installation script (3.7.2) always creates libelle field (not label)

[2015-11-23 14:46] ndrosis commented on #4077
Hi @pat15

see here https://wiki.dolibarr.org/index.php/Module_Suppliers_Invoices#Example_of_use_cases

[2015-11-23 15:34] tiaris opened #4080 "Product images management"
Can somebody explain what it tthe goal and idea in the new product pictures management ?

in 3.8 : to get images on products (from a 3.6 install) I put the constant PRODUCT_USE_OLD_PATH_FOR_PHOTO. ) No image is shown on product card
I add a photo on a product : picture is store in the new path system even if I use PRODUCT_USE_OLD_PATH_FOR_PHOTO. : nothing shown.

Before we had photos and documents

[2015-11-23 16:20] rdoursenaud opened #4081 "Missing translation for DisabledInMonoUserMode"
Used as a comment in user card preventing edition when maintenance mode is active.

[2015-11-23 16:49] rdoursenaud opened #4084 "[Organization] Milestones management"
@eldy @simnandez

Just a reminder.
If you decide to do a release, could you please move bugs that are still opened on the corresponding milestone to the next milestone. I just moved a bunch from 3.7.2 and 3.8.2…
You can manage milestones at https://github.com/Dolibarr/dolibarr/milestones

A formal community announcement and review a week or two before release would be great. This would give us the

[2015-11-23 16:50] rdoursenaud commented on #4084
Oh, and creating the newly released versions labels at  https://github.com/Dolibarr/dolibarr/labels so we can tag bug effectively.

[2015-11-23 18:42] low5 opened #4085 "#tags behind all categories in German translation"
see picture
![unbenannt](https://cloud.githubusercontent.com/assets/14179741/11345920/483fba20-921a-11e5-9179-cea3198734fa.PNG)

[2015-11-23 21:09] tiaris commented on #4080
correcting get_exdir : adding 'product' foir working with PRODUCT_USE_OLD_PATH_FOR_PHOTO constant
pull request #4086

[2015-11-24 09:30] BebZ commented on #3953
Ping again !! ?

[2015-11-24 10:24] rdoursenaud commented on #4085
This is what the de_DE translator choose.
Please subscribe and contribute at https://www.transifex.com/dolibarr-association/dolibarr/dashboard/
Thanks!

[2015-11-24 10:24] #4085 closed, assigned to nobody

[2015-11-24 10:39] daamien opened #4088 "Cannot change the date of a contract"
Dolibarr Version  : 3.7.2

On this page  /contrat/card.php

We're unable to change the date of contract. We're able to modify the project or ref_supplier but there's no icon to modify the date

[2015-11-24 10:44] daamien opened #4089 "Contract date inconsistency between /comm/card.php and"
The llx_contrat table has 2 date fields:  datec and date_contrat

On the main "client" panel ( /comm/card.php ) datec is displayed in the contract box

On the contract card (/contrat/card.php) date_contrat is displayed

[2015-11-24 10:52] daamien opened #4090 "Display the ref_supplier inside the contract list of /comm/card.php"
Dolibarr Version 3.7.2

The contract box in the main "client" panel of a company (/comm/card.php)

For Instance the box may contain :
######

CT1501-0890  30/06/2015      9 Services
CT1501-0079 28/01/2013  1 Services
CT1411-0142 20/11/2014  3 Services
######

The contract ref is hard to understand and I would be easier to display also the ref_supplier filed:
######

CT1501-0890  contract_A   30/06

[2015-11-24 14:44] rdoursenaud opened #4091 "Add option to allow searching all third parties (Closed/Active)"
In older versions, the third party search used to return all third parties regardless of their status (Closed/Active).
Newer versions prioritize searching active third parties except if there is a perfect match.
- [ ] Add an option in the third parties module to restore the old behavior.
- [ ] Add a "blank" search option in the third party list to allow searching all third parties.

[2015-11-24 14:47] rdoursenaud opened #4092 "Allow searching third parties by address"
Some use cases would prefer to search by address rather than by name (Real estate, worksites…).
Add this possibility.

[2015-11-25 09:27] marcosgdf commented on #3231
You can close this issue now

[2015-11-25 17:54] braito4 opened #4095 "BUG 3.8.3 Chrome can´t hand project element"
When you have a lot of proposals,invoices, etc attached to a project you're going to have this error:
ERR_RESPONSE_HEADERS_TOO_BIG

Part of the problem is the option: attach a invoice; because add more work to the queries.

Part of the solution is add a option to disable it; but still problems there.

[2015-11-25 18:29] rdoursenaud opened #4097 "Public holiday computation omits parsing the last day"
The last day is never parsed. If the last day is a saturday, sunday or public holiday, the returned count is wrong (missing one).

[2015-11-25 22:51] #4074 closed, assigned to rdoursenaud

[2015-11-26 00:32] #3231 closed, assigned to nobody

[2015-11-26 00:32] #3293 closed, assigned to nobody

[2015-11-26 00:32] #3987 closed, assigned to nobody

[2015-11-26 00:32] #4095 closed, assigned to nobody

[2015-11-26 05:41] aspangaro commented on #4069
Fix available #4101

[2015-11-26 10:32] marcosgdf commented on #4090
You mean ref. client, right? Contracts are for customers and not for suppliers

[2015-11-26 18:54] rdoursenaud commented on #3962
It's always a pleasure discussing with you. It's just like pissing into the wind!
Regardless of any of my comments, this has been done at 4f3196edf2a04ff4db9d252f789ffa2e47c55fab
Next time, don't even bother notifying me…

[2015-11-27 22:57] BebZ commented on #3953
What the hell is wrong with the margins, please , what has been introduced that gets all my monthly margin, wrong wrong and more wrong. I have made a screenshot and explained it quite well.
So please...

it's a stable version and this bug is ignored ??? it's not a bug ???

Then, some will complain that users don't test enough and dont report bugs.

Thanks for ignoring such small bugs...

@rdoursen

[2015-11-28 15:48] #4069 closed, assigned to nobody

[2015-11-29 02:57] IonAgorria opened #4112 "31 of December at 23:xx as January"
When using UTC/GM for dol_print_date($time, 'daytext', 1) sets the month name as january instead of december:

Code for reproducing
$last = dol_get_last_day(2015, 12, true);
print dol_print_date($last, 'daytext', true);

At 22:59 the months displays correctly, so probably has something to do with the month name calculation not being correctly set as UTC

[2015-11-29 08:41] jfbaillette opened #4113 "Impossible to "unactivate" or "deactivate" a contact in Dolibarr 3.8"
# Problem

Some of the contacts that are retired have to be un or de-activated.
There's no way to de-activate the contact.
Bug reported in 3.6.0
See http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/51513-modification-d-un-contact
# Views where the impossibility was identified
## "Contacts list" view.

![1](https://cloud.githubusercontent.com/assets/3332281/11456084/9a37a1ba-967

[2015-11-29 09:12] fappels commented on #4113
Did you have the disable/enable buttons?

![dolibarr - contacts-adresses 1](https://cloud.githubusercontent.com/assets/4573808/11456186/3bf98e6a-9681-11e5-98b4-971ac015e22e.png)
![dolibarr - contacts-adresses 2](https://cloud.githubusercontent.com/assets/4573808/11456187/428f8c0c-9681-11e5-8a5c-42b5be6f7fdb.png)

[2015-11-29 20:08] daamien commented on #4090
In the dolibarr 3.7, the field is called ref_supplier  https://github.com/Dolibarr/dolibarr/blob/3.7/htdocs/install/mysql/tables/llx_contrat.sql#L25

The ref_customer was added last month:
https://github.com/Dolibarr/dolibarr/commit/91a2341e888f1039880b83ab975236147ab18665

Anyway whatever the name of the field, I would be great to have more info in the "contract" box in /comm/card.php

[2015-11-30 08:07] jfbaillette commented on #4113
Working - not intuitive but perfect.
Maybe a new feature : enable/disable contacts directly from the mark "Active" on a single click ?
Tks

[2015-11-30 08:07] #4113 closed, assigned to nobody

[2015-11-30 10:53] rdoursenaud commented on #3953
@BebZ You know we are not machines, right?
Please show a little bit more respect and be patient.
Thanks!

[2015-11-30 13:10] lucanot opened #4120 "Bug: cannot delete an invoice even if INVOICE_CAN_ALWAYS_BE_REMOVED=1"
# Environment
- **Version**: 3.8.2
- **OS**: Linux
- **Web server**: Apache/2.2.15
- **PHP**: apache2handler 5.5.30
- **Database**: MySQL or MariaDB 5.5.46
- **URL**: /dolibarr/htdocs/compta/facture.php?facid=430
# Report

[2015-11-30 13:20] lucanot commented on #4120
the button unavailability occurs also on 'edit' btn; I had to append &action=modif in order to modify the line of an invoice not yet payed

[2015-11-30 15:58] rdoursenaud opened #4121 "[Regression] Password in user card should be hidden"
It's an industry standard security practice to not display passwords in any circumstances.
I remember having done a patch for that in the past.

Self reminder @rdoursenaud: audit other versions for the same problem.

[2015-12-01 09:47] BebZ commented on #3953
OK sorry. I am respectful of your work but always impatient when it concerns on-production problems. Deciding to change rounding computations (so dealing with potentially the heart of the heart : numbers...), and not flag it on the admin side of Dolibarr in "limits and precisions" shoud normally "light up" some big warnings not to fall in bad calculations for essential business matters.

[2015-12-01 14:42] rdoursenaud opened #4127 "Add option to not list savings accounts on bank proposition list"
Parameter in admin/propal.php: BANK_ASK_PAYMENT_BANK_DURING_PROPOSAL
When enabled, an account list is proposed on proposal creation.
This list contains savings account.
Since getting paid on a saving account is not possible, I believe only "standard" accounts should be listed.

[2015-12-01 14:46] rdoursenaud opened #4128 "Orders should have bank accounts"
Since proposals can now have a bank account, customer orders should also have it to no loose information for peoples with a "Proposal -> Order -> Invoice" workflow.

[2015-12-01 14:49] rdoursenaud commented on #4128
My bad. The options already there…

[2015-12-01 14:49] #4128 closed, assigned to nobody

[2015-12-02 09:55] daamien opened #4132 "Use "WHERE true" instead of "WHERE 1""
Dolibarr version: 3.7.2
PostgreSQL : 9.5 beta 1

Since we've updated to 3.7, we're getting errors the following error when we try to create a company here: /societe/soc.php?action=create

[code]

MySQL may understand "WHERE 1" but it's not the correct way to do this and by default PostgreSQL will refuse to convert an integer into a bool. The WHERE operator must be followed by a boolean statement,

[2015-12-02 10:19] FHenry commented on #4132
My question is why dolibarr need to do WHERE 1 ? ... I'll check

[2015-12-02 11:11] FHenry commented on #4132
Do you use user extrafeilds ?

[2015-12-02 12:52] daamien commented on #4132
yes we use extrafields on the user card

[2015-12-02 13:06] daamien commented on #4132
Fixed

[2015-12-02 13:06] #4132 closed, assigned to nobody

[2015-12-02 13:40] atm-maxime opened #4135 "Detail IBAN"
Today when printing an account information on a PDF, all details are given (according to country). Shouldn't we use simple IBAN / BIC display for all europeans country ?

See /htdocs/compta/bank/class/account.class.php, function useDetailedBBAN()

[2015-12-02 17:17] rdoursenaud commented on #3601
Since @aspangaro seems busy, let's ask @jpdoursenaud
Should personnel expenses reimbursement appear in the purchase journal?

[2015-12-02 17:31] rdoursenaud opened #4137 "Can't save salaries admin parameters"

[2015-12-02 19:35] aspangaro commented on #3601
Sorry @rdoursenaud,  don't view this "old" issue. I work on a expense report journal. I want to separate  the purchase journal and the expense report for more clear accountancy.

[2015-12-03 07:53] vgrioche opened #4141 "Bug: duration in interventions"
# Environment
- **Version**: 3.8.1
- **OS**: Windows NT
- **Web server**: Apache/2.2.11 (Win32) PHP/5.3.0
- **PHP**: apache2handler 5.3.0
- **Database**: MySQL or MariaDB 5.0.45-community-nt
- **URL**: /dolibarr/fichinter/card.php?id=4
# Report

when i want to update an event, the duration is not updatable, so set up to 0

[2015-12-03 09:19] frederic34 opened #4142 "Cancel edit weight of a shipment give a shipment page without id"
![2015-12-03 10_17_41-dolibarr - expedition](https://cloud.githubusercontent.com/assets/3624836/11556495/516e99f6-99a7-11e5-9417-1e0d28a99955.png)
![2015-12-03 10_18_19-dolibarr - expedition](https://cloud.githubusercontent.com/assets/3624836/11556497/53b10d84-99a7-11e5-9ef2-a4d70964f0b1.png)

[2015-12-03 09:33] FHenry opened #4143 "Warning: mysqli::mysqli(): Headers and client library minor version mismatch. Headers:50546 Library:50627 in ...htdocs/core/db/mysqli.class.php on line 196"
Branch Devellop
Ubuntu 14.04
php 5.5.9
mysql 5.6

[2015-12-03 09:40] rdoursenaud commented on #4143
Sounds like a local problem on your computer.
Check that mysql and mysql-client are the same version and use PHP's mysqlnd driver.
See:
https://www.dotdeb.org/2014/04/04/about-the-mysql_connect-headers-and-client-library-minor-version-mismatch-warning-2/
https://stackoverflow.com/questions/10759334/headers-and-client-library-minor-version-mismatch
https://mariadb.com/kb/en/mariadb/installation-iss

[2015-12-03 09:44] FHenry commented on #4143
solve by sudo apt-get install php5-mysqlnd
more information https://www.skyminds.net/mysql-resoudre-lerreur-mysql_connect-headers-and-client-library-minor-version-mismatch/

[2015-12-03 09:44] #4143 closed, assigned to nobody

[2015-12-03 09:45] FHenry commented on #4143
@rdoursenaud Yes true, local problem, use of php5-mysqlnd solve problem

[2015-12-03 09:48] rdoursenaud commented on #3953
@BebZ Sorry for being harsh, I was in a bad mood that day.
For business critical issues, you always have the opportunity to ask a [Preferred Partner](https://wiki.dolibarr.org/index.php/List_of_Dolibarr_partners_and_providers) for a timely fix. Of course, this will come attached to a fee…
In the meantime, community support happens on a best effort basis.

[2015-12-03 09:49] rdoursenaud commented on #4143
Glad to read that.
mysqlnd is awesome anyway ;)

[2015-12-03 09:54] FHenry commented on #4088
https://github.com/Dolibarr/dolibarr/pull/4144

[2015-12-03 09:54] BebZ commented on #3953
@fappels referenced this issue, maybe he corrected it ?
If not, i will pay the fee for the correction to be PR'd here ;)
I know everything can't be corrected and checked twice on "free time".

[2015-12-03 09:55] FHenry commented on #4088
Can't do a PR on 3.7 or 3.8 branch (it will be consider as new feature...)

[2015-12-03 10:00] FHenry commented on #4089
https://github.com/Dolibarr/dolibarr/pull/4145

[2015-12-03 10:04] FHenry commented on #4090
https://github.com/Dolibarr/dolibarr/pull/4145

[2015-12-03 11:00] #4137 closed, assigned to rdoursenaud

[2015-12-03 14:20] BebZ commented on #3118
Yes there are 2 diferent steps : one is a status, which can be updated quickly, when the delivery guy is still here...
the other one is a manual dispatch with no control if partial/total/excendently dispatched (because it is important to be able to dispatch more or less than ordered qty, if supplier mistakes, or rounding it to a defined qty)
then the status must be updated by your warehouse guy to

[2015-12-03 15:19] BebZ commented on #3391
I think if you agree, I will finance the PR to be able to dispatch and ship to/from multi warehouses in the same time.
Because even on demo, it is not possible to ship from more than 1 warehouse, and sometimes even in "normal" using of warehouses, you have a warehouse "shop" and another warehouse "stock", just next to the shop.
Sometimes you have the products in both of them and you need to send i

[2015-12-04 08:58] karouani commented on #3401
Hello,

I don't know if that's problem is just detected by me or you have other
person , so the movie attached in the link below explain more my problem.

https://www.youtube.com/watch?v=uGrnMjL6rvg

N.B : Sorry for my bad english

[2015-12-04 09:13] FHenry commented on #3401
Upgrade your dolibarr version.... you play with 3.5.2, upgrade to 3.8

[2015-12-04 09:20] karouani commented on #3401
that's what I want, but i have a difficult i can upgrade version 3.5 to 3.6
but 3.6 to 3.7 i have a problemes discubed in the youtube video.
Where i past all files of 3.7.X, i don't know why the button of upgrade has
not visible , jut the new install

Cordialement

2015-12-04 9:13 GMT+00:00 HENRY Florian <notifications@github.com>:

[2015-12-04 10:25] braito4 commented on #4023
It's working now.

[2015-12-04 10:25] #4023 closed, assigned to nobody

[2015-12-04 12:13] ram111 opened #4151 "Prevelement file - wrong text in reference"
3.8.2
When creating a prevelement file (SEPA) with many lines from different invoices, in the file it generates, the <Ustrd> tag (which is reference text that is seen by the client on the bank charge) on the file contains all the invoices comma separated.
This is wrong because each line belongs to an invoice, and it can be the case that each line may belong to an invoice of a different client.

Pl

[2015-12-04 17:48] javieralapps4up opened #4155 "Search Categories error"
3.8.1, 3.8.2 and development version

In categories/class/categorie.class.php there is a mistake.

Function rechercher, where $type = $map_type; must be: $type = $map_type[$type];

(I think)

[2015-12-04 23:54] casati-dolibarr opened #4158 "3.8.0 - Cosmetics Bank Account screens"
Pls. find attached a patched version of 3.8.0 htfocs/societe/rib.php

(Neither drag 'n drop nor Select worked to include zipped code. Pls. advise)

This is a proposal - and very much a shot from the hip, because I could not find an easy way to include CSS in the tables (w/o editing the characteristics of each and every field).

Better solutions are welcome ;-)
- Fixed screen estate isues
- Fixed d

[2015-12-05 05:37] aspangaro commented on #4158
Sorry. You have forgotten the attachement

[2015-12-05 07:50] casati-dolibarr commented on #4158
That's why I've added "Neither drag 'n drop nor Select worked to include zipped code. Pls. advise".
According to THIS editor we are currently using, attaching files should work - but doesn't. And because it's more a proposal than an educated code change yet, I deliberately don't wan to use the (complicated) Github code insertion process.

[2015-12-05 08:32] BebZ commented on #4158
Really complicated ? but widely shared to not miss any issues with compatibility. I think the devs Won't accept modifications done without github code insertions.
Just fork on develop version,  modify your branch, and Pull Request on dev branch... is that so complicated ?

[2015-12-05 10:46] casati-dolibarr commented on #4158
For the kind of info I wanted to exchange: Yes.
Again: THIS Editor here, allows for "Attach files by dragging & dropping or ...", BUT THIS didn't work for .zip

![Uploading Selection_804.png…]()

And doesn't work for .png too.

[2015-12-05 11:01] casati-dolibarr opened #4160 "3.8.0 - Irritating behaviour in Bank Account"
From Third Party choose Bank Account.

Outermost right Tab is "Sales representative" and below is a user list.

The irritation arises because an arrow is displayed too, which by onclick changes the Third Party.

Is this an intentional behavior and why?

[2015-12-05 11:04] casati-dolibarr opened #4161 "PR: Start wit Agenda instead of Home"
For better CRM functionality, we should be able to define Agenda to be loaded after Login.

[2015-12-05 11:08] casati-dolibarr opened #4162 "PR: Allow Alarms / Alerts w/o Email too"
For CRM functionality Pop-Up Alarms/Alerts ( eg. Meeting starts in 15 minutes!) should be possible - at least when Dolibarr is a Tab/Window in Web Browser

[2015-12-05 13:17] rdoursenaud commented on #4158
@casati-dolibarr ZIP attachments are not supported on GitHub. PNGs should work though: https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/
If you don't want to be bothered with a pull request (don't know what code insertion is…) I advise that you use our developper mailing list: https://lists.nongnu.org/mailman/listinfo/dolibarr-dev to post your RFC.
Thanks.

[2015-12-05 13:17] BebZ commented on #4160
http://demo.dolibarr.org/societe/rib.php?socid=777

u mean here ?

Where is the arrow ? can u make a screen capture and paste it here ?
i use screen capture of windows and paste no need to save it n computer

[2015-12-05 14:23] casati-dolibarr commented on #4158
That's what I've tried. Are there size-constraints?

I'll set-up GIT now ...

[2015-12-05 14:32] casati-dolibarr commented on #4160
It's a PITA that neither pasting, dropping or selecting a .png file works:

Therefore I attached my screnshots to the URL you've supplied (Linked Files)

2nd picture is after pressing left arrow

[2015-12-05 15:42] BebZ commented on #4160
It is not the intended behaviour ?  You click an arrow and you switch the third.
What behaviour u expected?

[2015-12-05 16:02] casati-dolibarr commented on #4160
That it is only possible when in "Card". Because if you hit the arrow in error (say you are a clerk, distracted by a phone call) and leave the Sales Representative screen to add an account afterwards, it will be connected to the wrong Third Party - unless you recognize you are in error immediately ...

[2015-12-05 18:36] casati-dolibarr opened #4163 "3.8.2 -Setup Module Members misses Product for Subscription"
- during Setup of Modules.

User will Setup from Top to Bottom.

As an example *): He will NOT be aware, that after he enabled Products below, an additional option will be enabled in Members Module Setup.

PR: During Setup such "dependent fields" should be displayed too (although greyed out).

So customer is aware of such option. An additional pictogramm or an info message is required then.

*) Ot

[2015-12-06 13:23] aspangaro commented on #3601
@rdoursenaud @patas-monkey Sorry I need some money to create my company. I created an external module available on the Dolistore for this function. Need some sell before integrate this complementary module in the core.

https://www.dolistore.com/fr/modules/579-Journal-comptable-des-notes-de-frais-3-8---3-9.html

[2015-12-06 18:16] casati-dolibarr commented on #4160
Will reopen as Bug.

[2015-12-06 18:16] #4160 closed, assigned to nobody

[2015-12-06 18:20] casati-dolibarr opened #4167 "BUG 3.8.0 - WAS: Irritating behaviour in Bank Account #4160"
Missing entry for displaying
- Third Party
- Navigation

[2015-12-06 19:13] casati-dolibarr opened #4168 "3.8.0 BUG still? 'Duplicate entry '' for key 'uk_user_api_key''"
API is enabled with key generated.

Choose an existing Contact of a Third Party and 'Create User' -> Validate

[2015-12-07 07:49] tiaris opened #4172 "french translation on 3.9 beta"
in module configuration

Interfaces with external systems
Web sites and other frontal application

[2015-12-07 07:51] tiaris opened #4173 "Ergonomie of product/service card"
Now we have a nice design for products with photos
But for users who do not manage photos on their products/services, it is useless to show a no-picture logo.
Perhaps a configuration key can solve this ?

[2015-12-07 13:36] rdoursenaud commented on #3953
Looking into the issue a bit more closely for @bebz, I don't see any reason for rounding at that stage.
The supplier price is already rounded when inserted on the product page.
Furthermore, this data is multiplied by the quantity to compute margin totals. Reducing the mantissa at that stage greatly reduces the precision and can have disastrous effects.
PR incoming…

[2015-12-07 21:06] pat15 opened #4180 "Invoice edit"
In older version i can edit validated invoice - now i look on this (i must change payment term) and there's no edit option
![invoice_no_edit](https://cloud.githubusercontent.com/assets/6292835/11639719/be828d24-9d2e-11e5-8290-7328a6ee1ce8.png)

[2015-12-08 10:52] marcosgdf commented on #4167
Can you please explain the issue?

[2015-12-08 10:52] marcosgdf commented on #4173
:+1:

[2015-12-08 10:53] marcosgdf opened #4182 "Bug: SQL error when deleting an unexisting bank entry"
Version: 3.7.2
Page: /compta/bank/rappro.php?action=del&rowid=104&account=1

[code]

[2015-12-08 11:58] casati-dolibarr commented on #4167
Throughout Dolibarr the navigation arrows are displayed e.g. to switch between Third Parties etc. easily w/o leaving the actual canvas (say Supplier Card, Personal Data Card etc.)

This is not the case with Third Party Bank Accounts Card.

That led me to the wrong perspective on the problem in #4167.

So: My initial impression of "erroneously allowing to switch between Third Parties" is wrong - BU

[2015-12-08 15:46] grandoc opened #4184 "Bug: Help inline from left menu is no more displayed"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Windows NT
- **Web server**: Apache/2.2.22 (Win64) PHP/5.4.3
- **PHP**: apache2handler 5.4.3
- **Database**: MySQL 5.5.24-log
- **URL**: /dolibarr_dev/admin/ihm.php?mainmenu=home&leftmenu=setup
# Report

[2015-12-08 16:19] mrsof opened #4185 "Missing equal sign in workflow.lang"
3 Translations occurences are missing equal sign:
#### descWORKFLOW_PROPAL_AUTOCREATE_INVOICEAutomatically

[code]
#### descWORKFLOW_CONTRACT_AUTOCREATE_INVOICEAutomatically

[code]
#### descWORKFLOW_ORDER_AUTOCREATE_INVOICEAutomatically

[code]

[2015-12-08 21:05] BebZ commented on #4037
@Defrance did a module in this direction. Or it is an option of one of his modules I guess.

[2015-12-08 21:13] defrance commented on #4037
YES please see customLine, it's Cheap (5€) and use simply jquery for do the job

[2015-12-09 07:50] tiaris opened #4187 "E-mails templates substitutions not work in 3.9 (from german forum)"
here the post http://www.dolibarr.de/forum/bugs-fuer-development-oder-demo-versions/52118-angebot-per-e-mail-versenden-textvorlagen-fuer-emai#55762

It seems that only FACREF and SIGNATURE are replaced, other fields not.
A core or a translation issue ?

[2015-12-09 07:51] sugenganthos opened #4188 "DoliBD, wrong limit implementation"
I see plimit function in database.interface.
This should be implemented in driver.class instead of doliDB.class.php
The LIMIT and OFFSET syntax is different between MySQL and pgSQL

dolibarr 3.8.2
PHP 5.6.15 with mysql, mysqli, sqlite3, and PDO support
MySQL 5.7.9

[2015-12-09 11:37] rdoursenaud commented on #4097
Fix merged at #4099

[2015-12-09 11:37] #4097 closed, assigned to rdoursenaud

[2015-12-09 12:34] rdoursenaud commented on #2749
Fixed by @eldy  in f437bd2d6da63002ad366ea5bead1253d27fa98a
Fix available since 3.7.2.

[2015-12-09 12:34] #2749 closed, assigned to nobody

[2015-12-09 12:36] rdoursenaud commented on #2743
So, what's the current status of this issue?

[2015-12-09 13:06] rdoursenaud opened #4193 "HTML5 input types"
HTML5 provides a bunch of new input types that could be leveraged to provide a better interface for Dolibarr: http://www.w3schools.com/html/html_form_input_types.asp

Explore the possibility of migrating relevant fields to them while maintaining backward compatibility.

[2015-12-09 15:04] jpdoursenaud commented on #3601
A purchase journal or a spécific journal for travel expenses is useful for deductibility VAT.
However for most companies the VAT deductible of travel and reception expenses are not significant.
In this case use a bank journal is simpler.

[2015-12-09 17:08] rdoursenaud commented on #4121
Can't reproduce…
Sorry for the noise.

[2015-12-09 21:59] sugenganthos opened #4195 "virtual in llx_product is keyword"
Hello,
I'm failed installing dolibarr 3.8.2 at llx_product table. I found out that column name "virtual" is a keyword for MySQL, therefore it should not be used as column name. I change the name and installed successfully. But this break other modules (i'm not using it at the moment).

dolibarr 3.8.2
mysql 5.7.9

[2015-12-10 09:18] rdoursenaud opened #4196 "Bad upload of accountancy.lang on Transifex"
The accountancy.lang upload seem to have failed and picked up an HTML file from GitHub.
The current content makes no sense.
Please remove and reupload.

https://www.transifex.com/dolibarr-association/dolibarr/accountancy/

@eldy @novalore

[2015-12-10 12:15] #3962 closed, assigned to nobody

[2015-12-10 13:55] rdoursenaud opened #4198 "VAT from expense reports does not appear in VAT reports"
The VAT on expense reports should appear in VAT reports.

[2015-12-10 20:09] cbrunet opened #4202 "Command line upgrade should update MAIN_VERSION_LAST_UPGRADE"
Dolibarr 1.8.0, 1.8.1, 1.8.2...

When performing upgrade from command line (using upgrade.php and upgrade2.php), configuration variables are not updated in the database (usually performed by step5.php in the upgrade wizard). Therefore, Dolibarr does not know it was upgraded, and shows the upgrade wizard when I log into the web interface.

The command line upgrade should also upgrade those conf var

[2015-12-11 02:34] IonAgorria opened #4204 "Fields are not checked properly when adding and updating lines"
Some pages don't check fields properly or don't do any check when updating a line, the check should be consistent with the checks when adding a line.

Which speaking of adding lines, quantity is not checked for negativity or zero some pages, some other pages don't inform correctly the "wrong" fields or don't show any error at all.

Some common code for checking all the fields across pages would re

[2015-12-11 05:42] BebZ commented on #3391
No Pull Reqest has been created on develop before Freeze of 3.9 ? @fappels
Meaning dispatching to multiple stocks in the same time, and shipping from multiple stocks at the same time will not be possible in 3.9 ? @eldy

[2015-12-11 16:59] #3953 closed, assigned to rdoursenaud

[2015-12-11 19:09] rdoursenaud commented on #4196
Fixed \o/

Thanks to anyone!

[2015-12-11 22:40] rdoursenaud opened #4207 "FPDI needs upgrade to be compatible with PHP 7"
PHP 7 is now stable and is a huge improvement.
Dolibarr compatibility would be very nice.
But the version of FPDI we currently ship does not work with PHP 7 and issues the following message:

[code]

The current stable version of FPDI (1.6.1) has a declaration that is compatible with the shipped TCPDF and should work with PHP 7 (to be confirmed).

Somewhat related to #3351.

[2015-12-12 12:11] rdoursenaud commented on #4196
@simnandez  fixed it yesterday. But problem reappeared. Looks like some automatic feature misbehaving since it's the only file affected.

[2015-12-13 15:23] #3734 closed, assigned to nobody

[2015-12-13 15:23] #3930 closed, assigned to rdoursenaud

[2015-12-13 15:23] #4081 closed, assigned to nobody

[2015-12-13 15:31] rdoursenaud commented on #4196
@simnandez refixed it and it came back again today.
There is something strange going on.
The bad upload is always around 10 AM CET (I receive an email notification from Transifex).

[2015-12-14 08:35] centoasa opened #4217 "can't add product/service to proposal"
By proposal can't add product/service (as I do with order)

[2015-12-14 11:21] centoasa opened #4218 "invoice reference"
If I create invoice from order, all % gain are right!
Instead if I create customer invoice from shipping all % gain = 0
And it would be better in custoemr invoice to have customer invoice related to shipping

[2015-12-14 14:33] centoasa commented on #4217
Sorry, error with my cloudflare!

[2015-12-14 14:33] #4217 closed, assigned to nobody

[2015-12-15 05:28] defrance opened #4225 "auguria line on llx_menu not suppress when menu change"
when we change menu to auguria we add many line on llx_menu table
but when we change again menu to eldy the line stay on llx_menu table
propose to delete auguria line when auguria menu is no more active

[2015-12-15 09:50] braito4 opened #4227 "Bug: Warning: Declaration of FactureRec::XXXX should be compatible with Facture::XXXXX (php7)"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 7.0.0
- **Database**: MySQL or MariaDB 5.5.42
- **URL**: /dolalfa/projet/element.php?id=1 also on dolalfa/compta/facture/fiche-rec.php
  # Report
  Warming errors in project element
  ![screen shot 2015-12-15 at 10 50 19](https://cloud.githubusercontent.com/assets/1913498/11807384/ac32134c-a

[2015-12-15 09:55] braito4 opened #4228 "Bug: Warning: Declaration of PaiementFourn::fetch($id) should be compatible with Paiement::fetch (PHP 7)"
![screen shot 2015-12-15 at 10 54 49](https://cloud.githubusercontent.com/assets/1913498/11807476/4bfdf6ac-a31a-11e5-912a-e2eac1f1c83d.png)
# Environment
- **Version**: 3.9.0-beta
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 7.0.0
- **Database**: MySQL or MariaDB 5.5.42
- **URL**: /dolalfa/compta/bank/account.php?id=1
  also in dolalfa/compta/bank/releve.php?account=1
# Repo

[2015-12-15 10:03] braito4 opened #4229 "Bug: Declaration of Resource::load_previous_next_ref($filter, $fieldid) should be compatible with CommonObject::load_previous_next_ref (PHP 7)"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 7.0.0
- **Database**: MySQL or MariaDB 5.5.42
- **URL**: /dolalfa/resource/list.php?idmenu=5405
# Report

![screen shot 2015-12-15 at 11 02 19](https://cloud.githubusercontent.com/assets/1913498/11807655/6912d018-a31b-11e5-8eac-247e30ba42ec.png)

[2015-12-15 10:06] braito4 opened #4230 "Bug: Declaration of CompanyBankAccount::delete($user) should be compatible with Account::delete() (PHP 7)"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 7.0.0
- **Database**: MySQL or MariaDB 5.5.42
- **URL**: /dolalfa/societe/rib.php?socid=1344
# Report

![screen shot 2015-12-15 at 11 05 47](https://cloud.githubusercontent.com/assets/1913498/11807710/dec70806-a31b-11e5-9e2f-c380f111325f.png)

[2015-12-16 11:18] centoasa opened #4235 "no history action for supplier orders"
Only order convalidation is present in the list of action for supplier orders: when send email to supplier from order no actions is show.

[2015-12-16 11:58] BebZ commented on #3391
@Darkjeff

[2015-12-16 12:00] BebZ commented on #3391
https://github.com/fappels/dolibarr/tree/develop-stock-locations

[2015-12-16 14:15] centoasa commented on #4235
sorry, feature in agenda not set properly!

[2015-12-16 14:15] #4235 closed, assigned to nobody

[2015-12-16 18:12] BebZ opened #4241 "Bug : incorrect VAT when delivering in origin country"
Example :
A customer wants to be invoiced in switzerland but delivered in France (customs...)
I must register the sale with VAT on the products.
My Thirdparty is registered in Switzerland (Headquarters) with "subject to VAT" to YES
My Contact for delivery, and suivicommande is in France

So, even if the Thirdparty is abroad, when contact for delivery is in France, order should be subject to VAT.

[2015-12-16 18:43] rdoursenaud opened #4242 "Dashes can't be disabled in documents"
The dashes should be controlled by the MAIN_PDF_DASH_BETWEEN_LINES constant.

But two conflicting clauses prevents it from being asserted.

Documents code uses:

[code]

But `htdocs/core/class/conf.class.php` contains:

[code]

The result is that you can't disable the feature since MAIN_PDF_DASH_BETWEEN_LINES can never be empty thus dashes can never be disabled!

[2015-12-16 18:56] Leeto2 commented on #3538
Had the same issue after migrating from 3.7.0 to 3.8.2.
Fixed by adding MAIN_USE_ADVANCED_PERMS = 0 (thank you markosgdf) to  Home --> Setup -->Other Setup

[2015-12-16 19:28] rdoursenaud opened #4243 "SQL injection vulnerability in ajax product selector"
Ajax product selector inputs are not properly escaped and can be used for SQL injection.

Sample request:
Error url=/product/ajax/products.php?htmlname=idprod&outjson=1&price_level=0&type=&mode=1&status=1&finished=2&idprod=Entr%C3%A9e+d%27air, query_string=htmlname=idprod&outjson=1&price_level=0&type=&mode=1&status=1&finished=2&idprod=Entr%C3%A9e+d%27air, sql=SELECT  p.rowid, p.label, p.ref, p.des

[2015-12-16 19:32] rdoursenaud opened #4244 "Missing translations for select2 component"
The text issued by the component should be translated.
Locales seem to be shipped with the component but never enabled.

[2015-12-16 19:41] braito4 opened #4245 "Bug: Fatal error: Uncaught Error: Using $this when not in object context in /fourn/class/fournisseur.commande.class.php on line 518 (PHP7)"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 7.0.0
- **Database**: MySQL or MariaDB 5.5.42
- **URL**: /dolalfa/fourn/commande/list.php?leftmenu=orders_suppliers
# Report

![screen shot 2015-12-16 at 20 41 04](https://cloud.githubusercontent.com/assets/1913498/11851881/5b1f2f36-a435-11e5-8657-6608833015bb.png)

[2015-12-17 09:33] vegorevegore commented on #4080
Hello @tiaris

we are facing the same problem here, did you solve this issue?

[2015-12-17 20:44] fappels opened #4255 "Bug 3.9 multiprice VAT not stored in product_price"
VAT from product with multiprices not added by default when adding to customer orders/proposals/invoices.
Should be stored in product_price table or product object fetch should be adapted to read vat from product table.

[2015-12-18 10:35] lucasgehin opened #4258 "Bug : Total customer invoice in bottom of page"
Total of customer invoices list not displayed in the bottom of the page when there is more than 1 page.

[2015-12-18 12:23] centoasa opened #4260 "combo ajax issue"
Product combo ajax don't add product to customers order when change qty or price on the row. Instead on supplier order add with no problem, also changing qty

[2015-12-18 16:07] #4242 closed, assigned to rdoursenaud

[2015-12-18 16:28] #3749 closed, assigned to nobody

[2015-12-18 17:24] tiaris opened #4263 "Include join files of emails into saved actions (3.8)"

[2015-12-18 17:26] tiaris commented on #4263
If you sen a mail with a joined document, and if you activate the automatic creation o action (COMPANY_SENTBYMAIL), action is created, bud joined document is not saved on action.

[2015-12-18 18:15] simnandez commented on #4196
@eldy refixed it today.... before close this issue, we wait a few days... because we are not sure that happens...

[2015-12-18 21:12] #3879 closed, assigned to nobody

[2015-12-19 17:04] eldy commented on #4260
Which version of dolibarr do you experience this ?

[2015-12-19 17:07] eldy commented on #4255
By default with 3.9, there is on vat for all customer prices.
To have vat for each price, you must enable option PRODUIT_MULTIPRICES_USE_VAT_PER_LEVEL. Does you problem is with this option on ?

[2015-12-19 17:11] eldy commented on #4241
Not really a bug. Dolibarr does not include all rules to define vat (there is an infinite case). Only few to have default vat set correctly in most cases but it is role of user to set the correct vat depending on situation.
But may be an enhancement of default vat calculation.

[2015-12-19 17:18] #4228 closed, assigned to nobody

[2015-12-19 17:19] eldy commented on #4196
It seems a batch ran with transifex account of novalore is erasing each day content of this file with rubbish data.
@novalore can you have a look at your batch ?

[2015-12-19 17:20] eldy commented on #4195
Fixed for 3.9

[2015-12-19 17:20] #4195 closed, assigned to nobody

[2015-12-19 17:21] eldy commented on #4225
The erase is done when going back to auguria in setup.
What will be the benefit to delete when we leave the menu handler ?

[2015-12-19 17:26] #4185 closed, assigned to nobody

[2015-12-19 17:29] centoasa commented on #4260
3.8.2

[2015-12-19 17:37] eldy commented on #4263
Currently, joined files are not saved on the actions (whatever is the way action is created, automatic or from the "send by email" button of object).
This is a feature request to develop.

[2015-12-19 17:51] eldy commented on #4202
In fact step5.php should be rename into installorupgradeend.php and include this script ran as command line into upgrade process.
I will update doc to mention this

[2015-12-19 17:51] fappels commented on #4255
The problem seems to be that the common vat for all multiprices is not added to the lines.
With this option on it works, but on < 3.9 it also worked with the common vat.

[2015-12-19 17:56] eldy commented on #4188
The plimit function as a default implementation into DoliDb.class.php but is correctly defined into the pgSQL driver. So everything looks good to me.

[2015-12-19 18:00] eldy commented on #3509
@aspangaro Yes high priority.
Missing this make not possible to mutualize a lot of code and we need to reduce/mutualize code if we don't want to loose control of it.

[2015-12-19 18:48] #4245 closed, assigned to nobody

[2015-12-19 18:51] #3736 closed, assigned to nobody

[2015-12-19 18:54] eldy commented on #4080
Still can't reproduce the problem. Can someone provide a complete use case to reproduce the bug. What i need is:
The full path into "documents" diretory where pictures of a product are stored, name of picture file and url of page where image is not visible when it should.

[2015-12-19 23:04] sugenganthos commented on #4188
MySQL syntax : LIMIT offset,numberOfLine
PostgreSQL : LIMIT numberOfLine OFFSET offset
That is according to Postgre and MySQL manual.

I'm sorry... looks like it because i'm not fully aware of PHP OOP features.
Actually it doesn't matter. If I need to create another plimit, I just create new function in pgsql.class, it will override the one in DoliDB.class

[2015-12-19 23:04] #4188 closed, assigned to nobody

[2015-12-20 06:00] novalore commented on #4196
I had a look at my systems and couldn't find any batch running or cronned anywhere.
I changed the password of my transifex account (it has to be stored in .transifexrc to use the client without interaction); we'll see what happens today at 10 AM.

[2015-12-20 09:18] ndrosis commented on #4196
Today at 10 AM CET

![index](https://cloud.githubusercontent.com/assets/4933899/11917318/13bd7016-a70b-11e5-8729-d6f63a18246d.png)

[2015-12-20 19:25] defrance commented on #4225
No the auguria line stay on llx_menu :
1 - change to auguria menu: line are create
2 - return to eldy menu : auguria line still present
3 - when i add new menu i have a problem to détermine the fk_menu value on lookin on llx_menu

[2015-12-20 22:32] eldy commented on #4244
Done into 3.9

[2015-12-20 22:32] #4244 closed, assigned to nobody

[2015-12-21 11:40] #4243 closed, assigned to nobody

[2015-12-22 08:44] tiaris commented on #4080
i did not find any problem when applying the proposed patch ( get_exdir : adding 'product' ) in 3.8 in production with PRODUCT_USE_OLD_PATH_FOR_PHOTO.
You reject the PR because it creates problems in other places, but where ?
cf https://github.com/Dolibarr/dolibarr/pull/4086

[2015-12-22 09:01] centoasa opened #4272 "issue when try print by customers product list"
Dolibarr ha rilevato un errore tecnico.
Si tratta di informazioni utili alla diagnostica:
Data: 20151222095550
Dolibarr: 3.8.2
Livello di funzionalità: 0
PHP: 5.6.16
Server: Apache
OS: Linux 100asa.it 2.6.32-573.8.1.el6.x86_64 #1 SMP Tue Nov 10 18:01:38 UTC 2015 x86_64
UserAgent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36

UR

[2015-12-22 09:34] rdoursenaud commented on #4196
I think an admin should check the "Auto update resources" setting on this page: https://www.transifex.com/dolibarr-association/dolibarr/content
That's the only native feature I can think of that could misbehave like this.
@eldy @novalore ?

[2015-12-22 11:10] rdoursenaud commented on #4121
Found it again.
At user creation, a clear password is suggested.
The problem is that the field stays clear if we enter a new password.

[2015-12-22 11:11] rdoursenaud commented on #4121
Suggestion should be done another way to allow secure input of a different password.

[2015-12-22 11:19] rdoursenaud commented on #4272
Could you please describe what you were trying to do? (Pages visited, actions performed, expected results…)
This page is supposed to be called with a 'socid' parameter that seem to be missing from your request but we can't assess what's gone wrong without context.
Thanks!

[2015-12-22 11:52] centoasa commented on #4272
See this screenshot:
https://www.evernote.com/shard/s272/sh/86adbce3-7fd1-470e-8756-b9172c9ec90d/251b25f03f2aa786c71bf745f8304b8a
from customer, reference object, product lists

[2015-12-22 14:42] centoasa opened #4274 "FR: create supplier order when stock are low"
When I create an customers order and stock are low, dolibarr can ask to create directly a supplier order with the same product of customer order.

[2015-12-22 16:52] casati-dolibarr opened #4275 "FR: Wild Card Search"
If set-up to ask for first character(s) in search forms, we should have '*' as a "catch-all" fallback solution.

[2015-12-22 16:59] casati-dolibarr opened #4276 "FR: Colorize Calls, Meetings, Todos by event type"
Eventually for priority as well.

Anticipated problem: External calendars with their own color schemes.

[2015-12-22 23:05] novalore commented on #4196
I think you are right @rdoursenaud , accountancy.lang was the only file connected to an update url (the url of the file in the github repo).

That was the most probable cause of the glitch. I think it was logged as me because my user is the founder of the project on transifex. I honestly don't know how the problem could occur, but it has to be related to the fact that accountancy.lang was added la

[2015-12-23 08:18] centoasa opened #4278 "services issue"
When services come from proposal, when became an order service changes as a product, and order is not shippable because service is signed as low stock
https://www.evernote.com/shard/s272/sh/fbdc30ab-ed3d-4cdf-bb66-83664b52f387/b14dc26889df062d375f242c29a9e067

[2015-12-23 09:08] centoasa opened #4279 "module Google Cloud Print"
I've a printer installed and working on Google Cloud Print, but the dolibarr module say me no printer in module Google Cloud Print.

[2015-12-23 10:16] marcosgdf opened #4280 "Bug: SQL error when ordering product list"
Version: develop

[code]

[2015-12-23 10:17] marcosgdf commented on #4279
Version?

[2015-12-23 10:18] marcosgdf commented on #4278
Version?

[2015-12-23 10:18] marcosgdf commented on #4274
Version?

[2015-12-23 10:24] marcosgdf opened #4281 "Bug: Only variables can be passed by reference"
File: dolibarr/htdocs/product/list.php
Version: develop
Line: 168,169

[code]

[2015-12-23 10:26] centoasa commented on #4279
3.8.2

[2015-12-23 10:26] centoasa commented on #4278
3.8.2

[2015-12-23 10:26] centoasa commented on #4274
3.8.2

[2015-12-23 10:31] centoasa opened #4282 "shipping time issue"
Ver. 3.8.2 on dictionary I addedd other shipping time (1 day, 3 days...) on customer order when change shipping time don't add to pdf einstein, but work only shipping time default (1 week, 3 weeks..)

[2015-12-23 16:35] centoasa opened #4283 "stock provisioning bug"
as you can see in image attached, on 3.8.2 release when virtual stock is negative (-2) and product is coming (2) the qty suggested is 0; instead it must be 2 !
https://www.evernote.com/shard/s272/sh/e572db4c-9242-419e-9b4c-bef9e35fdcbd/4f17b8d5ef82321dcce5b56b9f0f2172

[2015-12-23 22:10] BebZ commented on #4283
It must be 2 because you have customer orders for 4 units and supplier order for 2 units  ?
So you mean you will theoretically miss 2 items in stock to be sold later ?

[2015-12-24 08:03] centoasa commented on #4283
It's right: I've 4 pcs in customers order and 2 in supplier order. So the restock module maybe suggest me 2 pcs to buy

[2015-12-24 09:50] DrSParis commented on #3685
Hi there, I have as well the problem, very problematic for me as I need to produce those files officially.
Could the priority be revaluated to something higher than low?
Or perhaps would you have a workaround?

[2015-12-24 13:05] marcosgdf commented on #4050
@FHenry I see it has been merged to develop but the bug is present in 3.8. Can you make a PR to 3.8 as well?

[2015-12-24 13:16] marcosgdf opened #4285 "Bug: SQL query shown when accessing an unexisting invoice"
Version: 3.8.2

It is too much information for the end-user

[code]

[2015-12-24 13:29] marcosgdf opened #4287 "Bug: SQL error when accessing an unexisting proposal"
Version: 3.8.2

[code]

[2015-12-24 17:52] naxonez opened #4291 "HTML Injection not filtered correctly"
Hi,

You have a html injection in field "url" from the external calendar. You only need to edit the url parameter like: http://">< h1>injection< /h1> to see the html injection.

Regards

![untitled](https://cloud.githubusercontent.com/assets/7959568/11996942/55132300-aa6f-11e5-92f8-b9f626517b6a.png)

I see others fields like the bank name that is suceptible to html injection because all fields are

[2015-12-24 19:07] marcosgdf commented on #4258
Version?

[2015-12-24 19:14] marcosgdf commented on #4167
To me it looks like a Feature Request. But good news is that it is working in the next 3.9 release.

[2015-12-24 19:28] marcosgdf commented on #2630
Closing as the function returns false and the warning is caused by the UI

[2015-12-24 19:28] #2630 closed, assigned to nobody

[2015-12-25 10:19] marcosgdf commented on #3366
I've got a working port of makepack-dolibarrmodule.pl but there are some features that are not used/not useful: like compress all modules (this script is for publishing to dolistore so it doesn't make sense).

What do you think about removing it?

[2015-12-25 10:26] #4182 closed, assigned to nobody

[2015-12-25 10:27] #4285 closed, assigned to nobody

[2015-12-25 10:32] #4055 closed, assigned to nobody

[2015-12-25 10:56] marcosgdf commented on #3181
At least in spain the number must be both sequential and chronological. There is a penalty if they detect it…

[2015-12-25 14:06] #4167 closed, assigned to nobody

[2015-12-25 15:10] naxonez commented on #4291
The injection is with http:// like this:

Http://">< h1>injection< /h1>

Sorry for mistake

[2015-12-26 13:21] lucasgehin commented on #4258
3.8.2

[2015-12-27 02:18] rdoursenaud commented on #4196
Thanks @novalore
No spurious updates since 4 days.
Now if @eldy or @simnandez could upload the correct file ;)

[2015-12-27 02:25] rdoursenaud commented on #4272
Can't reproduce on a clean 3.8.2 install.
Could you please give us the URL you have on the print button when on that page?

[2015-12-27 02:27] rdoursenaud commented on #3366
I certainly have nothing against it. Where can we find your port?

[2015-12-27 09:24] centoasa commented on #4272
http://erp.100asa.it/societe/consumption.php?optioncss=print

[2015-12-27 11:29] naxonez opened #4300 "path disclosure"
When you put an incorrect parameter id in the editfk_procut_type the web show the complete path of the installation.

 PoC:
 1.- Go to: http://XXXX/product/card.php?action=editfk_product_type&id=1 (a real id)

2.- Change the id to another id that not exist like 'NONE':
http://XXXX/product/card.php?action=editfk_product_type&id=NONE

 The application show the path of installation like this:

 /home

[2015-12-27 11:47] marcosgdf opened #4301 "Feature Request: Replace payment mode dictionary page type text field with a selector"
![captura de pantalla 2015-12-27 a las 12 47 52](https://cloud.githubusercontent.com/assets/168744/12010104/1d0a09e4-ac98-11e5-80aa-76be0a148734.png)

[2015-12-27 11:57] marcosgdf opened #4302 "Bug: Undefined variable $conf in Commande::LibStatut"
Version: 3.8.2

[2015-12-27 12:20] marcosgdf commented on #4300
Cannot reproduce.

![captura de pantalla 2015-12-27 a las 13 18 49](https://cloud.githubusercontent.com/assets/168744/12010179/63f19d46-ac9c-11e5-83e9-6907d112b225.png)

[2015-12-27 12:26] marcosgdf commented on #4272
Works for me as well in 3.8.1, 3.8.2 and latest 3.8 code.

[2015-12-27 12:30] marcosgdf commented on #4260
Cannot reproduce. Can you please tell us which browser are you using and if you see any error in the javascript console?

[2015-12-27 12:34] marcosgdf commented on #4258
This is an expected behaviour and not a bug. You can access the total amount of invoiced services through Financial > Reports menu

[2015-12-27 12:38] marcosgdf commented on #4184
Can you please explain the issue?

[2015-12-27 12:39] marcosgdf commented on #4180
Version? Can you edit other invoices? Have you got enough permissions?

[2015-12-27 12:40] marcosgdf commented on #4172
Sorry, what do you mean?

[2015-12-27 12:42] marcosgdf commented on #4168
Cannot reproduce in 3.8.2

[2015-12-27 12:44] marcosgdf commented on #4163
This looks more like a Feature Request than a bug… I don't really think this is possible as the user can be overwhelmed by so many fields that depend on other modules… Also, because the behaviour can be modified by external modules this can be a little bit confusing…

[2015-12-27 12:47] marcosgdf commented on #4155
Can you please explain why there is a mistake there? Where do you experience the problem?

[2015-12-27 12:57] marcosgdf commented on #4142
Cannot reproduce in latest develop version. Also, please do not report bugs when using MAIN_FEATURES_LEVEL higher than 0 as the message in the screen says.

[2015-12-27 13:00] marcosgdf commented on #4141
Cannot reproduce in 3.8.2.

[2015-12-27 13:04] marcosgdf commented on #4135
Agree.

SEPA participating countries can be found at http://www.ecb.europa.eu/paym/retpaym/html/index.en.html

I've done an interesting refactor of the way the details are handled in #4381, so I suggest waiting until that is merged to address this task

[2015-12-27 13:06] marcosgdf commented on #4127
Well, at least here is possible to get paid in a savings account. Savings accounts allow receiving payments but they do not allow paying through direct debit and some banks, like ING, restrict the receiver of bank transactions.

[2015-12-27 13:09] marcosgdf commented on #4120
Cannot reproduce. I was able to delete it. Also this should not be related to the "Edit" button

[2015-12-27 13:10] marcosgdf commented on #4090
I believe this can be closed now

[2015-12-27 13:10] marcosgdf commented on #4089
I believe this can be closed now

[2015-12-27 13:11] marcosgdf commented on #4088
I believe this can be closed as well

[2015-12-27 13:29] pat15 commented on #4180
I have newest version 3.8.2 - i have admin permission for all items. I try with 3 different invoice - all the same - can't edit ;/

[2015-12-27 13:34] naxonez commented on #4300
You can use the demo site to view the issue:

http://demo.dolibarr.org/product/card.php?action=editfk_product_type&id=NONE

Regards

[2015-12-27 13:37] marcosgdf commented on #4300
There is in fact a bug but the reason the path is shown is because of your PHP configuration, not because of Dolibarr.

http://es.php.net/manual/es/errorfunc.configuration.php#ini.display-errors

[2015-12-27 13:43] marcosgdf commented on #4078
What do you mean by "add a name"? It is working fine for me… Could it be related with some external module?

[2015-12-27 13:47] marcosgdf commented on #4071
I see it like an invalid configuration. You've set up the invoice to be paid by check but Dolibarr has no information of the check details.

[2015-12-27 14:03] marcosgdf commented on #4012
Cannot reproduce

![captura de pantalla 2015-12-27 a las 15 03 16](https://cloud.githubusercontent.com/assets/168744/12010543/fdada624-acaa-11e5-9f6c-0a53dc980005.png)

[2015-12-27 14:13] marcosgdf commented on #3881
Does this happen with the bundled ODT template or with a customized one?

[2015-12-27 14:17] marcosgdf commented on #3815
@simnandez Could you please review this?

[2015-12-27 14:18] marcosgdf commented on #3798
So is this fixed or a new bug is introduced? :laughing:

[2015-12-27 14:39] #4300 closed, assigned to nobody

[2015-12-27 14:39] naxonez commented on #4300
Thanks and sorry for disturbe :P

[2015-12-27 14:44] naxonez opened #4307 "Posible SQL Injection"
Hi,

I found this posible SQL Injection. When you put "-1" in sortorder you can view the error message showing the following advice:

![sin titulo](https://cloud.githubusercontent.com/assets/7959568/12010661/60c22d3e-acb0-11e5-9e16-4725054fbad7.png)

Poc:
http://demo.dolibarr.org/holiday/list.php?page=1&sortfield=cp.rowid&sortorder=-1

Normally when you try a SQL Injection the application this sho

[2015-12-27 14:48] centoasa commented on #4260
chrome browser, plese see this video:
https://youtu.be/VXgkUk9_8GE

[2015-12-27 14:56] centoasa commented on #4272
please, see my video:
https://youtu.be/6zXGUJIJSKE

[2015-12-27 14:59] marcosgdf commented on #3694
Caused by 5ec0b32ab0625f2dd7e603da75249c8233b79b16

[2015-12-27 15:06] marcosgdf commented on #3693
I see it is not even implemented… Should we consider it a feature request or a bug?

[2015-12-27 17:08] eldy commented on #4260
Can't reproduce with last version into 3.8 branch.
Can you reproduce on demo.dolibarr.org ?

[2015-12-27 17:09] eldy commented on #4275
Seems to be implemented into 3.9

[2015-12-27 17:09] #4275 closed, assigned to nobody

[2015-12-27 17:10] eldy commented on #4307
Using -1 is not a sql injection (not harmful and does not change sql syntax), it is just a not valid value. That's why there is no message
"Access refused by SQL/Script injection protection"
Everything looks correct with error message here

[2015-12-27 17:13] eldy commented on #4080
The images of products are just not more visible when patch is applied.
On the opposite, i can't reproduce any bug currently. Can you provide a use case to reproduce the bug when patch is not merged. What I need is :
The full path into "documents" diretory where pictures of a product are stored, name of picture file and url of page where image is not visible when it should.

[2015-12-27 17:19] centoasa commented on #4260
why on release I using I've
https://www.evernote.com/shard/s272/sh/5615e7b9-f771-4238-821d-ee2226bd997d/136229c81e48bc7882edea1548626f16
with vat, unit price net, etc as in image, instead on demo there are only qty, discount, buy price for defualt sell products? on demo when I add product that have vat, the row show 0% vat.
Where I change this? Or where I wrong settings?
Maybe I've setup 2 level p

[2015-12-27 17:26] #4230 closed, assigned to nobody

[2015-12-27 17:33] eldy commented on #4207
With 3.8, it seems embedded FPDF_TPL has already a method setFont with the expected signature.

public function SetFont($family, $style = '', $size = null, $fontfile = '', $subset = 'default', $out = true)

[2015-12-27 17:40] eldy commented on #4207
We are now using tcpdi to build pdf (that use tcpdf).
And tcpdi current version has this note:

"Note that only the standalone version of fpdf_tpl is supported (v1.2.3); the version bundled with FPDI 1.5 is not currently compatible."
FPDI is no more used.
That's why tcpdf_tpl (the standalone version) was added manually into directory tcpdi.

May be we should make a try to use this other repo of "h

[2015-12-27 17:48] #4207 closed, assigned to rdoursenaud

[2015-12-27 18:15] #3980 closed, assigned to nobody

[2015-12-27 18:15] #4036 closed, assigned to nobody

[2015-12-27 18:15] #4281 closed, assigned to nobody

[2015-12-27 18:15] #4282 closed, assigned to nobody

[2015-12-27 18:15] #4287 closed, assigned to nobody

[2015-12-27 18:15] #4302 closed, assigned to nobody

[2015-12-27 18:48] grandoc commented on #4184
Hello Marcos
Help is now on right top, I have found it.

[2015-12-27 19:42] #4089 closed, assigned to nobody

[2015-12-27 19:43] #4088 closed, assigned to nobody

[2015-12-27 19:44] #4090 closed, assigned to nobody

[2015-12-27 20:50] naxonez opened #4309 "Posible Command Injection in Backup Section"
Hi,

Testing the backup page I see that if you put a command like this in "Full path to mysqldump command" you can execute commands like ls and the result appear in the .err file generated:

![dolibarr](https://cloud.githubusercontent.com/assets/7959568/12011931/a88eed7c-ace3-11e5-80dd-bdd27f45a812.png)

The payload used is /bin/ls; but an attacker can use other commands to create a shell o execut

[2015-12-27 21:18] naxonez commented on #4307
Hi Eldy,

Maybe this sql in particular is not harmful but another person can be exploit this vector because the sql error is there.

The error message looks correct as you say but you can fix this sql error in these particular parameter.

Regards

[2015-12-27 21:39] javieralapps4up commented on #4155
Version 3.8.1 or development, go to thirdparty - categories. Type something in "search" and press button.

I see a error message (several).

En español, (sorry). Marcos, si activo el módulo categorías, me creo algunas (de clientes, por ejemplo) y uso el campo "Buscar", me da un error. He comprobado que si cambio la línea que digo, el error desaparece y busca la categoría correctamente.

$map_type

[2015-12-27 21:43] javieralapps4up commented on #3798
Marcos, never fixed. It is the same error. Eldy corrected the cron script, not the php file. Has you read the above FIX #2519 link (where Eldy photo)?

[2015-12-27 23:05] AlainRnet commented on #4078
I mean modify the label (I think problem with automatic translating). I just try to reproduce in the dolibarr demo session, but no problem. So I will investeigate on another session and will come back if necessary.

[2015-12-28 11:33] #4229 closed, assigned to nobody

[2015-12-28 11:50] BebZ commented on #4184
+1
Le 27 déc. 2015 19:48, "Philippe Grand" notifications@github.com a écrit :

[2015-12-28 11:55] fmarcet opened #4314 "Cron tasks do not run as expected if task runtime is high"
# Environment
- **Version**: 3.6
# Report

For example, we have a cron task that must be executed every day at 9:00 AM. The first day it is executed (function run_jobs) at 9:00 AM and then it is reprogrammed (function reprogram_jobs) for the next day. If the execution time is, for example, three seconds, the next run is reprogrammed to 9:00:03 AM. So the second day, the cron is launched again at 9

[2015-12-28 12:49] marcosgdf commented on #4180
Try removing and applying permissions again and see if anything changes…

[2015-12-28 12:51] pat15 commented on #4180
I remove all invoice permission and apply all - without change ;/

[2015-12-28 12:56] marcosgdf commented on #4184
Haha. Then can you please close the issue?

[2015-12-28 13:00] marcosgdf commented on #4155
Next time please paste the errors :)

[code]

[2015-12-28 13:59] marcosgdf commented on #4272
Next time please describe all the steps to get to the bug because you didn't mention that you searched for some kind of object in the page.

Now I could reproduce it.

[2015-12-28 14:00] centoasa commented on #4272
sorry, it's right!

[2015-12-28 14:27] marcosgdf commented on #4180
Could it be related to some external module?

The conditions the button is shown are:
- Status = Valid (without any payment)
- If the amount remaining to pay is equal to the invoice total
- Not exported to accountancy
- If the invoice is not corrected by another one
- Something related to cycles (sorry, I don't really know what it is)
- Enough permissions to create invoices or to invalidate them

[2015-12-28 15:53] marcosgdf commented on #4309
Version?

[2015-12-28 15:54] naxonez commented on #4309
3.8.2

[2015-12-28 15:57] marcosgdf commented on #2857
Is it fixed or not fixed? The bug has been closed&reopened

[2015-12-28 15:58] naxonez commented on #2857
I think that is not fixed yet.

2015-12-28 16:57 GMT+01:00 Marcos García notifications@github.com:

[2015-12-28 21:00] #4184 closed, assigned to nobody

[2015-12-29 00:05] #4168 closed, assigned to nobody

[2015-12-29 00:10] casati-dolibarr commented on #4163
Could we have an information/warning box like:

"Your choice made additional options in Setup available. Pls recheck your Dolibarr Setup!"

once triggered by a user action?

PS: Certainly you are right as long as Dolibar Partners setup the customer's installation. The described issue wont't occur.

[2015-12-31 13:52] casati-dolibarr opened #4322 "3.8.3: Agenda - Meeting marked as finished"
Drag & Move still possible. Should behave as other "umoveable" entries like Invoice sent, 3rd Party created etc.

Other Events evt. need to be checked as well (Should be unmoveable once completed/finished).

[2015-12-31 14:16] eldy commented on #4120
Can you reproduce on demo.dolibarr.org ? I activate option. If yes, can you provide ref of invoice ?

[2016-01-01 12:50] marcosgdf commented on #3694
I guess it can be closed now

[2016-01-02 10:41] braito4 opened #4326 "Bug: (PHP7) Warning: Declaration of CompanyBankAccount::delete($user) should be compatible with Account::delete($user = '')"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 7.0.0
- **Database**: MySQL or MariaDB 5.5.42
- **URL**: /dolalfa/societe/rib.php?socid=XX
  # Report
  in /htdocs/dolalfa/societe/class/companybankaccount.class.php on line 33
  ![screen shot 2016-01-02 at 11 38 53](https://cloud.githubusercontent.com/assets/1913498/12074173/18d73920-b146-1

[2016-01-02 10:56] #4326 closed, assigned to nobody

[2016-01-02 11:00] braito4 commented on #4227
This is now the only big warning I have in php7.
it's all related to FactureRec.

[2016-01-02 11:27] #3694 closed, assigned to nobody

[2016-01-02 11:27] #4155 closed, assigned to nobody

[2016-01-02 11:27] #4272 closed, assigned to nobody

[2016-01-02 11:32] centoasa commented on #4272
on 3.8.3 release still this issue
Dolibarr ha rilevato un errore tecnico.
Si tratta di informazioni utili alla diagnostica:
Data: 20160102123131
Dolibarr: 3.8.3
Livello di funzionalità: 0
PHP: 5.6.16
Server: Apache
OS: Linux 100asa.it 2.6.32-573.8.1.el6.x86_64 #1 SMP Tue Nov 10 18:01:38 UTC 2015 x86_64
UserAgent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chro

[2016-01-02 13:23] marcosgdf commented on #4272
@centoasa 3.8.3 has been released before fixing the error

[2016-01-03 10:53] centoasa commented on #4260
on 3.8.3 release still remain the issue
see my video to explain:
https://youtu.be/07JVHto204Q

[2016-01-03 11:31] marcosgdf commented on #4309
The attacker will need administrator privileges to do so.

I am not sure if it can be avoided… Will a check for "mysqldump" binary in the given path be enough to avoid that?

[2016-01-03 11:37] marcosgdf commented on #4260
I'll repeat my question: Can you please tell us which browser are you using and if you see any error in the javascript console?

[2016-01-03 11:40] marcosgdf opened #4329 "Feature Request: Move database backup process to a function so that external modules can trigger it"

[2016-01-03 13:30] IonAgorria opened #4330 "Suggestion: use hook or similar mecanism for specific codes"
Currently several pages (for example propal.php, commande/card.php and facture.php) contains code that are specific to (internal) modules, my sugestion is to move that code to each module and be called by a hook or similar thing.

Adding hooks for add, update, addline and updateline could be beneficial to external modules too.

[2016-01-03 13:47] AlainRnet commented on #4078
Hello.
Can you just tell me which file sends datas to the database, table "llx_facture_fourn" ?
Thank you in advance and best regards.

[2016-01-03 13:59] marcosgdf commented on #4078
It should be dolibarr/htdocs/fourn/class/fournisseur.facture.class.php

[2016-01-03 14:14] marcosgdf commented on #4218
Version? Also... could you please explain it a little bit more? I don't really understand

[2016-01-03 15:17] centoasa commented on #4260
latest release chrome
when select order I've Uncaught SyntaxError: Unexpected token .
card.php?id=71:628
then when add product with default qty
ajax_autocompleter new value selected, we trigger change card.php?id=71:512
when add product with personal qty:
Uncaught SyntaxError: Unexpected token .card.php?id=71:662

[2016-01-03 15:47] naxonez commented on #4309
I think that de best practice is autodetect mysqldump in the system or disable this option and only permit "Mysql Dump (php)" option. Another workarround is escape the character ';' without this character i can't inject arbitrary commands. Maybe scape other characters like '&' can avoid the combination of multiple Os commands.

On the other hand the user needs admin as you say but using this comma

[2016-01-03 17:47] srehlig opened #4331 "Configuration for showdetails for page footer in pdf generation"
The parameter showdetails of function `pdf_pagefoot`in pdf.lib.php is always 0. It is called from all PDF templates in function `_pagefoot`. Would it make sense to make the value configurable for all PDF documents?

[2016-01-05 05:48] centoasa commented on #4260
same happen on this demo site http://dolibarr.atm-consulting.fr/commande/card.php?id=6

[2016-01-05 15:22] mariamanc28 opened #4336 "proposal convalid button not enalbled"
hi, from 3.8.1 version i cannot reach to add proposal, i cannot press convalid(save) button because is enabled, and i don't think why, nothing message apper. that is image
![cattura](https://cloud.githubusercontent.com/assets/12257498/12118755/80f14e54-b3c8-11e5-82c7-44f788711318.JPG)

[2016-01-05 16:44] #4142 closed, assigned to nobody

[2016-01-06 09:30] marcosgdf commented on #4260
The demo site is http://demo.dolibarr.org/public/demo/index.php. That site is throwing PHP errors

Also, we may need an extract of the code the errors are referring to, as the page changes depending on many variables (modules, language…). Can you please record on a video the errors of the JS console and an extract of the lines the errors are referring to?

[2016-01-06 09:58] marcosgdf opened #4339 "Feature Request: Show social charge label instead of Id in bank transaction list"
Instead of "Charge social payment: 4", show "Charge social payment: DefinedLabel" because it gives much more information

[2016-01-06 11:02] pat15 commented on #4180
When i update to 3.8.3 - problem disappear :)

[2016-01-06 11:15] marcosgdf commented on #4180
Great. Can you please close the issue then?

[2016-01-06 11:16] #4180 closed, assigned to nobody

[2016-01-06 12:05] marcosgdf commented on #4336
Can you please update to latest version 3.8.3 and try again?

[2016-01-06 12:20] marcosgdf commented on #3235
Should we move the module to experimental? Users are already complaining about it and it got reported more than 6 months ago

[2016-01-06 12:24] frederic34 commented on #3235
It has been corrected in 3.9

[2016-01-06 12:26] marcosgdf commented on #3235
Then… when is it going to be merged to 3.8?

[2016-01-06 12:42] vp1985 commented on #4180
I had a similar problem. I can't edit any valid invoice. The edit button shows "This invoice in not the last in cycle and must not be modified.".
I solved this Problem for me by deleting the if query in htdocs\compta\facture.php:

Deleted Lines:
if (! $objectidnext && $object->is_last_in_cycle())
                    {

} else if (!$object->is_last_in_cycle()) {

Does someone know something about t

[2016-01-06 18:37] ghost opened #4341 "XSS vulnerability on latest version"
Hi all,

I don't think it's a good idea to post this here. But nobody respond to my mail and Dolibarr Official twitter account advise me to post this here (https://twitter.com/MickaelDorigny/status/684456187870457857) so ...

Here is an advisory about XSS Vulnerability on Dolibarr latest version (v3.8.3).
# Vulnerability description :

A Stored XSS is available in the Dolibarr 3.8.3 core code. No

[2016-01-07 08:50] centoasa opened #4342 "Feature request: send email button also for draft"
Send email button should be enabled also for draft document, so operator can send to customer draft document for approve it!

[2016-01-07 09:12] mariamanc28 commented on #4336
ihave already updated to 3.8.3 version, and this apear again to this. Perhaps there are something that i not make good? i don't think, because i have created propal before passed to 3.8.2 version.

[2016-01-07 10:02] tibo808 opened #4344 "Bug:"
# Environment
- **Version**: 3.8.3
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.3.29
- **Database**: MySQL or MariaDB 5.5.46-0+deb7u1-log
- **URL**: /livraison/card.php?id=593
# Report

Suite upgrade 3.7.2 -> 3.8.3
Perte historique BL + documents
Si regeneration manuelle, nouveau numéro de BL non conforme à l'ancien
Lien vers BL sur page "Fiche réception->Expéditions et réception

[2016-01-07 11:07] mariamanc28 commented on #4336
the problem is that href of button convalid, that is disabled is # not something like comm/propal.php?id=30&action=valid

[2016-01-07 11:46] centoasa opened #4345 "Feature Request: drop shipping visible on PDF"
For drop shipping, when I select third parties contact address for shipping, should be another box on pdf document
1st box left: dolibarr company
2nd box right: invoice customer/supplier
3rd box right: recipient products/services

[2016-01-07 13:16] benlo06 opened #4347 "Request : Add ModePaiement Label to csv tools exports"
I Would have the type of paiement when I export my invoices,

[2016-01-07 13:27] benlo06 opened #4348 "BUG: Auguria Theme: in list display, not see category when selected"
Since dolibarr 3.8

This bug is with  Auguria Theme. When I list products (/product/list.php) or list invoices, when I selected category, it display in white color in white background :/,

[2016-01-07 14:12] tibo808 commented on #4344
J'ajoute que post creation du BL, dès retour sur la fiche d'expéditions, le BL à disparu. Il faut en recréer un mais l'expédition ne peut être supprimée "BL existant"...

[2016-01-07 14:12] #4344 closed, assigned to nobody

[2016-01-07 14:48] centoasa opened #4351 "negative value for free input"
When add a negative value for price (ie occasional discount ) for free input, dolibarr show me error for qty and price; input the same positive value, that's ok, and after can change to negative.
Also negative value for price should be permitted.

[2016-01-07 15:15] mariamanc28 commented on #3538
for me instead "Validate" button  is disabled under proposal module, i have 3.8.3 version

[2016-01-07 16:16] benlo06 opened #4352 "NEW: use function getNextValue when clone a product"
Hi,

When I clone a product in the confirmation popup, the field reference for new product is "CopyOf 122345".

But when I clone lot of products it is tiring to enter the reference of new product.
I would like that the next reference is the "getnevalue" of my product, if $modCodeProduct->code_auto if defined.

Regards,

[2016-01-07 18:01] centoasa opened #4353 "invoice supplier bank account"
On supplier invoice, when no bank account is selected, dolibarr choose the first bank on bank account list and related invoice to this account. (3.8.3 release)

[2016-01-07 22:04] benlo06 commented on #4352
I find the code in this release, it is already done !

[2016-01-07 22:04] #4352 closed, assigned to nobody

[2016-01-08 03:12] rdoursenaud commented on #3181
@eldy I understand the business case very well, believe me.
But that's not what the tax administration wants. What they want is for you to input your invoices in a chronological order to avoid fraud and make their verification job easier.
The rationale being that you have no reason except fraud to not invoice in a FIFO manner.
And quite frankly, I think they're right there.

[2016-01-08 03:17] rdoursenaud commented on #4127
Ok, this may be a bank by bank policy. Mine certainly does not allow that!
Turning this to a feature request ;)

[2016-01-08 03:20] rdoursenaud commented on #4127
One nice implementation IMHO would be to add a flag to the account properties that allows or disables receiving payments (as opposed to transfers) on that particular account.

[2016-01-08 03:25] rdoursenaud commented on #4071
This is a perfectly valid configuration. I asked Dolibarr to not suggest a specific address.
My customers are not dumb enough to not know to send their checks at the corporate address in the invoice's header!

Even if this was an invalid configuration, the PDF document is not the right place to display such a message! This should refuse to generate the document and issue the error to an interface

[2016-01-08 03:29] rdoursenaud commented on #3881
This seem to only materialize with custom templates prepared with Microsoft Word (in ODT mode of course).
Another proprietary software fuck up?

[2016-01-08 03:31] rdoursenaud commented on #3693
Let's say it's a bit of both…

[2016-01-08 03:45] rdoursenaud commented on #4207
@eldy Thanks for the clarification.
Looks like the bug indeed is in TCPDI and I got confused.
The message stated in the OP is issued because of `htdocs/includes/tcpdi/tcpdi.php`.

Also, does that mean that we can completely get rid of FPDI for 4.0?

[2016-01-08 03:51] rdoursenaud commented on #2857
@marcosgdf Some has been fixed (The specifically reported ones). But vulnerable code is still all over the place. This is a profound issue with Dolibarr's project coding practices (Very low level, very light abstraction model, so everything needs to be escaped manually and is almost always forgotten). Quite a lot of work is still to be done. Check the commit I did to fix the original issue to have

[2016-01-08 03:54] rdoursenaud commented on #4158
Not that I'm aware of. You can also try copy-pasting your image.

[2016-01-08 03:57] rdoursenaud commented on #4272
Screencasts FTW \o/
(Sorry, couldn't resist…)

[2016-01-08 04:34] rdoursenaud commented on #2857
Upon closer inspection, my fix (for 3.5) has not made it to develop (future 3.9)!
@eldy @simnandez Aren't we supposed to merge previous branches in the newest ones on a regular basis?
Looks like 3.8 has never been merged in develop…

[2016-01-08 05:04] rdoursenaud commented on #4309
Yes, I agree, this is a serious issue that can allow privilege escalation from a Dolibarr admin to the server.

[2016-01-08 05:35] rdoursenaud commented on #4291
Well, except it is not saved (If you refresh the page, the field is empty). No big deal.
Will push a patch anyway since this shouldn't hit the page in the first place.
Thanks!

[2016-01-08 06:17] rdoursenaud commented on #4309
The same is true for the antivirus commands at `htdocs/admin/security_file.php` (sic).
I successfully uploaded and executed a script.
It's still executed with the PHP server privileges which should limit damages but is still enough to access and modify privileged data available to the server process.

[2016-01-08 06:22] rdoursenaud commented on #4309
Oh and of course the cron job module `htdocs/cron/list.php` allows similar behavior.

[2016-01-08 08:35] tiaris opened #4358 "Problem with stock in 3.7 (check in 3.8, 3.9 also)"
Users posted an issue on French Forum for a stock issue after migrating Dolibarr 3.7.1 to 3.7.2
May be we should check this point http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/54624-probleme-stock-insuffisant-pour-livraison

[2016-01-08 09:07] BebZ commented on #4345
please post a screenshot ! ?
Drop shipping is when you order to your supplier to deliver directly to your customer.
Is it this cse you are talking about ?
So you suggest to add a box with a THIRD party to deliver on the Supplier's oreders, isn't it ?

If it is so, it needed more precise informations to be understood.

[2016-01-08 09:18] centoasa commented on #4345
it's all right!
or maybe more simply to have the company data in the header of pdf document, and 2 box with supplier at left and customers shipping address to right

[2016-01-08 10:17] rdoursenaud opened #4359 "Allow searching by check number in payment lists"
`htdocs/compta/paiement/list.php` and `htdocs/fourn/facture/paiement.php`.

This would help easily finding the payment related to the check when the account is unknown or the check has not yet been deposited.

[2016-01-08 11:12] rdoursenaud opened #4361 "Validate phone numbers and always store international format"
https://packagist.org/packages/giggsey/libphonenumber-for-php provides a very handy way to validate and parse phone numbers.

Validating and storing them in international format would ensure that the data is coherent and clicktodial works every time.

This can also be leveraged to improve the UI and provide a user-friendly way of inputting international phone numbers (a la Google Contacts) with cu

[2016-01-08 12:35] eldy commented on #2857
Branch were merged. However, it is possible that conflict were not correctly solved and we lost changes.
I close this bug because having it open and close nd open and close when the case reported is fixed make us lose time to understand if it is fixed or not.
If another hole is found, opening another ticket will be better describing where is the bug (url affected) so dev would be able to fix it.

[2016-01-08 12:35] #2857 closed, assigned to rdoursenaud

[2016-01-08 13:49] #3798 closed, assigned to nobody

[2016-01-08 13:49] #4291 closed, assigned to rdoursenaud

[2016-01-08 13:49] #4341 closed, assigned to rdoursenaud

[2016-01-08 14:06] eldy commented on #4309
@rdoursenaud If you can upload a script, why no uploading directly a php page to execute code of your choice. You don't need to use the reported "hole".

The dolibarr "admin" user is the user that is granted permission to admin dolibarr, so to decide which unix command to use to make dump, or antiviruscan. So yes, this user is able to decide to run a linux command that is not a dump or antivirus.

[2016-01-08 14:15] eldy commented on #4196
Should be ok now.

[2016-01-08 14:15] #4196 closed, assigned to nobody

[2016-01-08 14:18] eldy commented on #4121
May be a javascript component can be added:
As soon as we change one char of the suggested password (clear because user must be able to read it), type for field can be modified into a type "password" instead of "text". Not sure it is possible, but if yes, should be perfect.

[2016-01-08 14:28] eldy commented on #4358
Can't reproduce. Seems to come from an old bug.
Note that by calling page   /install/repair.php
there is a command that fix this automatically. This fix was introduced the 2012-10-17 so i suppose the bug was in a version before 2012-10-17 and is now fixed

[2016-01-08 14:29] #4358 closed, assigned to nobody

[2016-01-08 14:45] #4314 closed, assigned to nobody

[2016-01-08 14:45] eldy commented on #4314
If script start at 9:00, next run should be next 9:00 whatever is duration of script.
If fixed for 3.9

[2016-01-08 14:48] webmaster128 commented on #2693
Hi everyone and a happy new year!

It is great to see this positive feedback on the idea of integrating Kullo Secure Comminication into Dolibarr. I am one of the Kullo co-founders and happy to provide all the resources to make things work. It took us some time but I have great news for the integrations. First of all, we just launched Kullo client software for iOS and Android, making it even more c

[2016-01-08 14:48] eldy commented on #4331
Why not.
We could replace $showdetails = 0
with   $showdetails = $conf->global->PDF_SHOW_COMPANY_DETAILS_IN_FOOTER ? $conf->global->PDF_SHOW_COMPANY_DETAILS_IN_FOOTER : 0

[2016-01-08 14:52] eldy commented on #4307
The error message is here but it is sanitized before output so it could not be exploited and it does not provide no dangerous information to exploit them. All fields and table are known with no need to call the page.
And If you put something dangerous, so other than -1, the message will not contains what you provide but a clean different value. Message is kept to say you provide something wrong.

[2016-01-08 14:52] #4307 closed, assigned to nobody

[2016-01-08 14:53] eldy commented on #4348
Theme is abandonned with 3.9, so i am not sure this will be fixed.

[2016-01-08 14:57] eldy commented on #4274
Note that you have the feature "replenishment" into left menu that can be a solution.

[2016-01-08 14:58] eldy commented on #4276
It seems with 3.8, setting a color on event type is already available.

[2016-01-08 15:01] eldy commented on #4353
I can't reproduce with 3.8.3. Can you provide a screenshot ?

[2016-01-08 15:02] eldy commented on #4279
Some changes were done into 3.9. I suggest to wait it to see if it is now fixed for you.

[2016-01-08 15:39] centoasa opened #4363 "3.8.3 release missing departements on pdf"
As I say on object, on latest release is missing the departements (state) on pdf documents, as custoemr orders, invoice etc.
I was solved, please see my thread here http://www.dolibarr.org/forum/12-howto-help/25200-state-in-pdf-template

[2016-01-08 16:05] benlo06 commented on #4348
Ok, no problem. I have fix this:
---/htdocs/theme/auguria/style.css.php  2016-01-07 11:06:01.856996385 +0100
**************\* div.ecmjqft {
**\* 2472,2477 ****
--- 2472,2479 ----
  a span.select2-chosen
  {
    font-weight: normal !important;
- /\* BLT */
-         color: #000;
  }
  .select2-container .select2-choice {
    background-image: none;

[2016-01-08 16:05] #4348 closed, assigned to nobody

[2016-01-08 17:44] eldy commented on #2717
Seems fixed into 3.8 so i close bug

[2016-01-08 17:44] #2717 closed, assigned to nobody

[2016-01-08 17:45] eldy opened #4364 "Develop the IMAP email collector and email browser with module emails"
The IMAP email collector will work like this:
- scan IMAP from last scanned date
- for each email found, check it match an include or exclude filter
- It if matchs, save the email into llx_action_comm table with type "Automatically inserted event" (date is date of email) and code into llx_actioncomm = 'AC_EMAIL_IN_AUTO'
- Also store the id of thirdparty in field fk_soc if email comes from a know t

[2016-01-08 17:46] eldy opened #4365 "Make shipment easier to understand"
[X] Store id of order line in shipment
[X] Add list of shipments and qty on each line of detail on the tab "shipments" of order and when we clic we see id/nb and date of other shipments
[X] remove the area "other shipments"
[] Add a status "shipped" instead validated (1) and shipped (2)      (new status will be 2 and billed to 0)

[2016-01-08 18:23] benlo06 opened #4366 "NEW: [cashdesk] Add hook in cashdesk for generate custom tickets"
I have a printer ticket EPSON TM220, and for print correctly tickets, I generated a custom template for generate PDF ticket and print automatically.

I would have use a hook for no modify the code when dolibarr was updated,
File cashdesk/validation_ticket.php,

Thanks

[2016-01-08 18:39] BebZ commented on #4365
Where do you plan to detail this "already shipped" ?
on pdf ? or on the screen o the shipment linked to the order ?

If you want to add a field "order ref" on the line of shipment detail,
does it mean you plan to make available shipping from multiple orders from a same customer ?
where is the area other other shipments ?

[2016-01-08 20:19] benlo06 opened #4368 "NEW: Add hook in propals to rewrite propal_prepare_head"
Hello,
I have write a module who create propals, and for this propals I notes this propals with special demand_reason_id .
I would like if user open this propal I display specific tabs only if demand_reason_id field is set to my special value.
I would like use  complete_head_from_modules to rewrite tabs but, it is not possible to rewrite tab with condition on current object.

I would like to add h

[2016-01-08 21:24] casati-dolibarr commented on #4158
This IS copy & paste

![Uploading Selection_805.png…]()

[2016-01-08 22:08] braito4 commented on #4158
you can use a online service like https://gyazo.com/ to share screenshots

[2016-01-09 08:03] BebZ commented on #4368
Ask @Defrance he has a module to manage custom tabs ;)
Maybe he has implemented hooks inside ?

[2016-01-09 08:36] BebZ opened #4370 "Feature Request : unactivated warehouse products stock should not appear in products stock tab"

[2016-01-09 08:40] BebZ commented on #4370
When you desactivate a warehouse, the remaining stock of products should not display as "in stock"
For example, if the warehouse burns and all the stock inside, it's easier to desactivate it.
Or when you change a warehouse it's not really practical because there is no import/update of empty stock possible ?

[2016-01-09 09:30] defrance commented on #4368
better way is to use $reshook=$hookmanager->executeHooks('printTabsHead',$parameters);
in function in core/lib/functions.lib.php near line 835
in your way just an additionnal jquery script who hide your additionnal tabs

[2016-01-09 11:35] grandoc opened #4372 "Bug: Delivery order and date are not displayed"
# Environment
- **Version**: 3.9.0-beta
- **OS**: Windows NT
- **Web server**: Apache/2.2.22 (Win64) PHP/5.4.3
- **PHP**: apache2handler 5.4.3
- **Database**: MySQL 5.5.24-log
- **URL**: /dolibarr_dev/livraison/card.php?id=1&action=confirm_valid&confirm=yes
# Report

Delivery order and date are not displayed within Shipments and receivings for this order.
And when you click on Shipment card tab, d

[2016-01-09 12:14] marcosgdf commented on #4071
I agree that it is not the right place to show that information. And I also agree that if a specific address is not selected, the company address should be used.

[2016-01-09 12:15] marcosgdf commented on #4309
But if the cron module allows similar behaviour I don't really think this is avoidable… Even if we don't allow the final user to modify it, an attacker could enable a 3rd party module and do the same thing…

[2016-01-09 12:17] marcosgdf commented on #4336
I think this is a duplicate of bug #3538. Please try the trick I posted in that page and tell us if that works for you

[2016-01-09 16:46] marcosgdf commented on #3366
You can find it here https://github.com/marcosgdf/dolibarr/tree/fr-3366 and the code is in https://github.com/marcosgdf/dolibarr/blob/873477d375e774719eb892204b3a4f9b3ed37cff/build/Command/BuildModuleCommand.php, to test it:
1. Execute `composer.phar install`
2. `chmod +x build/console.php`
3. `./build/console.php build:module` and follow the wizard

(I assume you don't need that much info but if

[2016-01-09 22:30] marcosgdf opened #4375 "Feature Request: Create a function to get countries using state information"
Actually the info is duplicated.

dolibarr/htdocs/core/class/commonobject.class.php:450
dolibarr/htdocs/core/lib/functions.lib.php:1004

[2016-01-10 10:36] #4366 closed, assigned to nobody

[2016-01-10 10:47] #4347 closed, assigned to nobody

[2016-01-10 10:56] #3868 closed, assigned to rdoursenaud

[2016-01-10 11:14] marcosgdf opened #4382 "Bug: Fatal error when viewing a bank account card"
Version: 3.9, 4.0

[code]

[2016-01-10 11:17] marcosgdf opened #4383 "Bug: Undefined variable $userid"
Version: 3.8, 3.9, 4.0

/htdocs/user/class/userbankaccount.class.php:146

[2016-01-10 12:27] marcosgdf opened #4385 "Feature Request: Move AccountLine url to linkedobjects"
It is duplicating behaviour

[2016-01-10 12:28] marcosgdf opened #4386 "Feature Request: Move Bank account categories and Bank account transactions to categories module"
It is duplicating behaviour

[2016-01-10 12:56] marcosgdf opened #4387 "Feature request: Account::addline should use AccountLine::create function"

[2016-01-10 15:16] marcosgdf opened #4390 "Bug: Invalid code in SupplierProposal::load_board"
Version: 3.9

load_board function _must_ return an object WorkboardResponse and this class is the only one that doesn't do that

[2016-01-10 15:52] centoasa opened #4391 "Products stats"
![image](https://cloud.githubusercontent.com/assets/5500935/12222354/4fe5c2fe-b7ba-11e5-8bb2-45a0c63eb9a2.png)
Sorry, but on products stat there are only products on proposal: stats for products shouldn't show best seller products or most seller?

[2016-01-10 20:25] benlo06 commented on #4368
Yes,
I dont see this hook before, it is perfect.

[2016-01-10 20:25] #4368 closed, assigned to nobody

[2016-01-11 09:25] mariamanc28 commented on #3538
i have resolved problem, i have deactivate and reactivate the module

[2016-01-11 09:45] marcosgdf commented on #4351
It is not allowed because standard invoices cannot have a negative amount.

[2016-01-11 09:55] marcosgdf opened #4394 "Bug: Untranslated label in list of expense reports"
Version: 3.8.3

Page: http://dolibarr.local/expensereport/list.php?idmenu=4
![captura de pantalla 2016-01-11 a las 10 54 21](https://cloud.githubusercontent.com/assets/168744/12230575/c5f20ee8-b851-11e5-8669-55bc3052a871.png)

[2016-01-11 09:58] marcosgdf commented on #4391
This place is for bug reports or feature requests… Please refer to the french forum at dolibarr.fr if you want to clear any doubts

[2016-01-11 10:00] marcosgdf commented on #4342
There is a hidden constant for that. FACTURE_SENDBYEMAIL_FOR_ALL_STATUS

[2016-01-11 10:03] marcosgdf commented on #3239
I changed the way this error is displayed. Can you please try in the latest version?

[2016-01-11 10:09] marcosgdf commented on #2820
Still called Resource in 3.9 branch

[2016-01-11 10:15] centoasa commented on #4351
But if I add default row on invoice with positive amount, and after change this value in negative amount, invoice works well and the total is right!

[2016-01-11 10:17] marcosgdf commented on #4351
Well, that should be reviewed. But I think discounts are managed through the "Discounts" tab in the thirdparty

[2016-01-11 10:21] centoasa commented on #4351
Example: on customers order I add a special discount for first purchase, example 5 euro
So into order I must to add -5
Una tantum

[2016-01-11 10:22] marcosgdf opened #4395 "Bug: Date filter in customer invoices show future years"
Version: 3.7.2

We shouldn't be able to filter by future invoices as that doesn't make much sense…

![captura de pantalla 2016-01-11 a las 11 21 21](https://cloud.githubusercontent.com/assets/168744/12231143/98081a32-b855-11e5-9350-b6e6312edb69.png)

[2016-01-11 10:28] centoasa commented on #4342
This hidden constant is valid also for customer/supplier orders?

[2016-01-11 10:29] rdoursenaud commented on #4309
@eldy The problem is not that we allow administrator to run commands. The problem is that we allow him to run **arbitrary** commands. And this always is a security vulnerability.
I believe the mysqldump and clamscan commands should be checked and validated before being accepted.
Cron are a different matter, because it's their whole purpose and they need (some) server privileges anyway.

[2016-01-11 11:21] centoasa opened #4396 "dashboard link for late document"
https://www.evernote.com/shard/s272/sh/6bd4cfe0-ef79-4397-b9be-ee1fa4b117de/d5dec9c2568f5a8816cb43e10afdb330
as you can see the link for late order is the same for nr. orders and for late orders

[2016-01-11 15:25] pat15 opened #4398 "Replacement invoice for customer"
I make invoice for customer, validate it. Now i wan change sales tax. I create Replacement invoice, edit line change tax 23% -> 0% and then i received info:
**The progress can't be smaller than its value in the previous situation.**

How can i change sales tax? I can't modify original invoice because it's posted.

[2016-01-11 15:29] ndrosis commented on #4398
Hi,
create an credit note and create new standard invoice with correct vat.

[2016-01-11 15:40] pat15 commented on #4398
There's no other way?

[2016-01-11 15:55] ndrosis commented on #4398
I tried in the way you mention and changed it without a problem.
Which version do you have?
Did you put a minimum discount to the product?

My version is 3.8.2.

[2016-01-11 16:00] pat15 commented on #4398
I have 3.8.3.
No i don't have set minimum price. I try do it on demo site here:
Invoice: http://demo.dolibarr.org/compta/facture.php?facid=6717
Replacement invoice: http://demo.dolibarr.org/compta/facture.php?id=6718

And it's not work ... ;/

[2016-01-12 09:16] philazerty opened #4405 "Link to sub-category"
Hi,
Example of simple category structure:
COULEUR
COULEUR => ROUGE
COULEUR => BLEU
If the option to link the parent category is activated upon addition of ROUGE, the COULEUR will be added automatically. By cons we can not add BLEU except disable "link to the parent category"

Reproduce on 3.8.3

[2016-01-12 10:03] marcosgdf opened #4406 "Bug: Company administration page shows incorrect information"
Version: 3.7.3
Page: http://dolibarr.local/admin/company.php

In a fresh install, the admin page of the company shows that the month the fiscal exercise is started is "January", while `$conf->global->SOCIETE_FISCAL_MONTH_START` equals to 0.

If I try to modify the configuration, then it shows that no month is selected.

We should be able to see that no month is selected without having to access to

[2016-01-12 10:07] marcosgdf commented on #4398
Replacement invoices are for amounts higher than 0. Credit notes are for amounts lower than 0. If you reduce the VAT, then the total amount will be negative, so a credit note must be issued.

[2016-01-12 10:08] marcosgdf commented on #4396
Duplicate of bug #3241

[2016-01-12 10:11] marcosgdf commented on #4342
Woops. I guess not. I agree it would be interesting to have that option available

[2016-01-12 10:22] centoasa commented on #4342
You can assign this thread as enhancement

[2016-01-12 12:51] fappels opened #4409 "3.9 totals not shown when stock/list has pages"
Offset needs to be subtracted from total lines on check to show totals footer.
Totals need to be memorized or fetched separately.

[2016-01-12 16:21] rdoursenaud opened #4410 "[WIP] Support printing extrafields on documents"
Some extrafields may be needed on documents (PDF, OTD…) but others only for internal data.

Tentative implementation:
- [x] Add a boolean "Printable" property to extrafields
- [x] Modify interfaces to allow setting this
- [ ] Modify PDF documents to display these extrafields if the property is set
  - [ ] Customer proposals
    - [ ] azur
  - [ ] Customer orders
    - [ ] einstein
    - [ ] profor

[2016-01-12 22:12] centoasa commented on #4260
The demo site I'm talking about is http://dolibarr.atm-consulting.fr/commande/card.php?id=6 and have same issue to mine

[2016-01-13 10:12] rdoursenaud commented on #3366
Great work! Thanks for sharing.
I'll have a look ASAP.

[2016-01-13 10:20] eldy commented on #3366
@marcosgdf
What do you mean with "compress all modules" ? Do you mean removing the option "all".
It is a feature I use a lot but may be i am alone, so i can add the feature myself if necessary.

Also, If it does no require the file descriptor, how can we exclude some files we don't want into the zip ? This is need to be sure to have only required files into zip and not some tests or data files als

[2016-01-13 10:54] marcosgdf commented on #3366
@eldy yeah. That is what I meant. To me it doesn't make much sense because
all the modules are not going to be published in Dolistore. Also, it looks
more like a function that is appropriate for the dolibar-makepack.pl
script. If you can tell us under which circumstances is this useful we can
understand it better.

El mié., 13 de enero de 2016 11:20, Laurent Destailleur <
notifications@github.com>

[2016-01-13 14:52] marcosgdf opened #4414 "Bug: Supplier invoices use FAC_FORCE_DATE_VALIDATION client invoices property"
Version: 3.7

Supplier invoices module uses FAC_FORCE_DATE_VALIDATION property of client invoices that force the date of the invoice to be the validation date.

This causes a problem when you add a supplier invoice of another year and it uses the current year for the reference.

[2016-01-13 15:11] centoasa commented on #4391
This mine is a feature request, because dolibarr don't seems have a products stats.

[2016-01-13 15:47] BebZ commented on #3954
It happens when there are 2 times the same number of batch... prevents the recording of 2 or 3 times the same batch... S172025 for example.
let's close it ;)

[2016-01-13 15:47] #3954 closed, assigned to nobody

[2016-01-13 17:29] eldy commented on #4414
This may be also a problem for customer invoices. This option should just not exists i think, don't you think so ?

[2016-01-13 17:51] eldy commented on #4372
I can' t reproduce.
Can you reproduce on demo.dolibarr.org and provide link to page with missing display

[2016-01-13 18:15] grandoc commented on #4372
[code]

http://demo.dolibarr.org/livraison/card.php?id=135&action=confirm_valid&confirm=yes
    j'y ai reproduit le problème.
    1) il n'y a rien de marqué en bas sous Bon de réception, et date de
    livraison.
    2) Si tu clic sur l'onglet "Fiche expédition" tu vois disparaitre
    l'onglet "Fiche réception" sans moyen de retrouver le BL, sauf à
    faire un retour page en arrière.
    @+

[2016-01-13 19:44] eldy commented on #4372
Fixed into 3.9 and develop

[2016-01-13 19:44] #4372 closed, assigned to nobody

[2016-01-14 07:45] marcosgdf commented on #4414
In fact it does make sense for customer invoices. A customer invoice does not officially exist until it is validated, but a supplier invoice has been issued in the date that we have entered in the input. So... it does even make sense to force that option to be enabled by default in Dolibarr for customer invoices.

[2016-01-14 08:37] vp1985 opened #4416 "Feature request: Additional search fields for propals, orders and invoices"
Is it possible to make three additional search fields for propals, orders and invoices below the menu on the left side?

Or maybe one for all three?

[2016-01-14 12:30] #4409 closed, assigned to nobody

[2016-01-14 16:47] centoasa opened #4419 "Bug: shipping pdf with serial error"
# Environment
- **Version**: 3.8.3
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.16
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /expedition/card.php?id=101
# Report

 When is enabled the multilingual, instead of serial will print "printBatch-printQty"

[2016-01-15 10:29] sbschumacher opened #4423 "Bug: "Fill address with thirdparty address" does not fill in "State/Province""
Version: 3.8.3
URL: ../contact/card.php

[2016-01-15 10:39] marcosgdf opened #4424 "Bug: Missing email of user popup in supplier orders area"
Version: 3.8.3
Page: /fourn/commande/index.php

![captura de pantalla 2016-01-15 a las 11 39 16](https://cloud.githubusercontent.com/assets/168744/12351261/a267b36e-bb7c-11e5-8eb8-182cee54eb30.png)
![captura de pantalla 2016-01-15 a las 11 39 23](https://cloud.githubusercontent.com/assets/168744/12351262/a31ab090-bb7c-11e5-93fb-03c59a72c429.png)

[2016-01-15 10:42] marcosgdf opened #4425 "Bug: Missing "VAT" translation in supplier order popup"
Version: 3.8.3
Page: http://dolibarr.local/fourn/commande/list.php?leftmenu=orders_suppliers

See that "TVA" is meant to be translated to "IVA"

![captura de pantalla 2016-01-15 a las 11 41 18](https://cloud.githubusercontent.com/assets/168744/12351320/f7500cf0-bb7c-11e5-9786-e76c0d85be3e.png)

[2016-01-15 13:03] tiaris opened #4427 "Problerm with function Facture::is_last_in_cycle()"
When you validate an invoice (so it is last invoice); you can non more edit it because of this->situation_cycle_ref is null in DB

if (empty($this->situation_cycle_ref)) {
            // No point in testing anything if we're not inside a cycle
            return false;
        }

I think it should return true, but what are this DB fields intended to do ?
Strange : invoice could no more being edite

[2016-01-15 16:57] pscoffoni opened #4429 "Strange behaviour for translation in Expensereport"
Hello,
Something I d'ont understand in the way translation are made in expensereport module.
In card.php,  the selection list of value is transalated based on the field label in the function
function select_type_fees_id (expensereport.class.php)
`if ($obj->code != $langs->trans($obj->code)) print $langs->trans($obj->code);
else print $langs->trans($obj->type);`

but when the label is displayed in

[2016-01-15 20:37] sbschumacher opened #4430 "Feature request: Set standard contact for emailing customer invoices"

[2016-01-16 10:03] faridprogrammer opened #4431 "Will double entry accounting be supported soon?"
hi.
When double entry accounting will be supported on application?
In first page of project's github it was mentioned that it is not fully supported yet.

[2016-01-16 10:36] rdoursenaud commented on #4431
This is a bug tracker, not a forum.
Please direct your question to http://www.dolibarr.org/forum.
Thanks for your understanding.

[2016-01-16 10:36] #4431 closed, assigned to nobody

[2016-01-16 10:41] faridprogrammer commented on #4431
so sorry

[2016-01-16 12:02] marcosgdf opened #4433 "Bug: Fresh install shows disabled commercial and financial top menu buttons"
Version: 3.9, develop

![captura de pantalla 2016-01-16 a las 13 02 25](https://cloud.githubusercontent.com/assets/168744/12372300/6d61af5a-bc51-11e5-96df-e268fb247a59.png)

[2016-01-16 12:07] marcosgdf opened #4434 "Bug: Weird behaviour when enabling multiprices"
Version: all

If we do a fresh install and try to enable multiprices, after saving the changes, a new input is shown to fill it with the number of prices that we want to handle.

If we refresh the page, the input shows now "5" prices, but there is only one in the configuration unless we click "Save".

[2016-01-16 18:42] BebZ commented on #4410
Extrafields and custom fields are different, why not merging custom fields module inside dolibarr as it has a lot of documentation and powerful functions built-in  (constrained fields, etc...) ?
Just a general comment as always... but implementing the print of extrafields is already a so big answer to so many problems always reported on forums..
Thanks, Santa Raphaël !

[2016-01-16 20:20] centoasa opened #4435 "Bug: product stats"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.16
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /product/stats/card.php?id=all&type=0&action=recalcul&mode=bynumber
# Report

impossible create dir
http://prntscr.com/9qyj3p
Why stats don't include a way to export data, so to see the list of selling products per period.
Why in Lis

[2016-01-16 21:53] centoasa opened #4436 "Bug: customer card"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.16
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /comm/card.php
# Report

when try to print the customer card/sheet
Dolibarr ha rilevato un errore tecnico.
Si tratta di informazioni utili alla diagnostica:
Data: 20160116225115
Dolibarr: 4.0.0-beta
Livello di funzionalità: 0
PHP: 5.

[2016-01-17 10:12] marcosgdf opened #4437 "Bug: The module descriptor modUser must have a numero property"
Version: develop (maybe 3.9)?

Found in the log:
2016-01-17 10:11:09 ERR     192.168.42.1    The module descriptor modUser must have a numero property

[2016-01-17 10:20] marcosgdf opened #4438 "Bug: Inconsistent log priority for debug calls"
Version: develop (maybe 3.9 and 3.8 as well)

Most Product functions log the function we are calling with a INFO priority, while some of them and other classes log them with DEBUG priority

[2016-01-17 10:43] marcosgdf opened #4439 "Feature request: USing * into select is forbidden"
Version: 3.9, develop
Product::generateMultiprices

FIXME USing \* into select is forbidden

[2016-01-17 11:35] marcosgdf opened #4440 "Bug: Wrong price is filled by Product::fetch into multiprices arrays"
Version: all

The query only orders by date_price, without caring that 2 prices can have the same date but diferent `rowid`, so the query `order by` statement should be `ORDER BY date_price, rowid DESC`.

Before:
![captura de pantalla 2016-01-17 a las 12 35 05](https://cloud.githubusercontent.com/assets/168744/12377240/d38b3c2c-bd16-11e5-8487-eded4203ea28.png)
After:
![captura de pantalla 2016-01-

[2016-01-17 22:44] marcosgdf opened #4441 "Feature Request: move Product::get_image_size out of Product class"

[2016-01-17 23:45] rdoursenaud commented on #4410
Thanks @BebZ. I'm not familiar with the custom fields module at all. What does it provide that extrafields does not?

[2016-01-18 00:54] marcosgdf commented on #4198
Should it appear? I don't think so…

[2016-01-18 08:43] BebZ commented on #4410
Implementing of fields is already very detailed :
https://wiki.dolibarr.org/index.php/Module_CustomFields_FR

and dev doc is awesomely detailled too :
https://wiki.dolibarr.org/index.php/Module_CustomFields_Dev

the repo of lrq3000 (stephen larroque)
https://github.com/lrq3000/dolibarr_customfields

with detailled readme

[2016-01-18 09:09] marcosgdf opened #4442 "Bug: Missing translation in Banks menu"
Version: 3.7.2

If I am in the page https:///compta/facture/list.php?socid=3, then "Rubriques" is shown in the left menu, but if I navigate to other page, then "Tags/Categories" is shown.

[2016-01-18 10:23] centoasa opened #4445 "Bug: search head bar order"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.16
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /fourn/commande/list.php
# Report

for supplier and customers order, search head bar don't work; left link woks well.

[2016-01-18 10:32] marcosgdf opened #4446 "Feature Request: Work on a real AJAX ECM document navigator"

[2016-01-18 11:49] marcosgdf opened #4447 "Bug: Direct debit module not working properly"
Version: 3.8

Page: http://dolibarr.local/compta/prelevement/fiche-stat.php?id=1

[code]
- Broken direct debit file in http://dolibarr.local/compta/prelevement/factures.php?id=1
- Missing total amount in all the tabs except the main one
- Missing total amount in direct debit area
- Missing total amount in http://dolibarr.local/compta/prelevement/bons.php?mainmenu=bank
- Missing total amount in htt

[2016-01-18 11:53] marcosgdf opened #4448 "Bug: Undefined variable $filebonprev in BonPrelevement::Create"
Version: 3.8

/htdocs/compta/prelevement/class/bonprelevement.class.php:939

[2016-01-18 11:56] marcosgdf opened #4449 "Bug: ICS translate key does not give enough information for translators or developers to understand what it is"
Version: 3.8
Page: /htdocs/admin/prelevement.php

[2016-01-18 12:03] marcosgdf opened #4450 "Feature Request: Do not alert the user if the IBAN code is valid"
Version: 3.8

Page: http://dolibarr.local/societe/rib.php?socid=1

If the given IBAN is valid, then why showing an icon to the user like there is any relevant information available to show? If the IBAN code is invalid, then a warning should be shown, but if it is a valid code I don't think that is relevant information to the user.

[2016-01-18 12:04] marcosgdf opened #4451 "Feature request: Merge prelevement invoice tab with new payment page"
It is a much reasonable place…

[2016-01-18 12:08] marcosgdf opened #4453 "Bug: SEPA Direct Debit generated XML shows a trailing comma in RmtInf field"
Version: 3.8

[code]

[2016-01-18 15:20] centoasa opened #4454 "Bug: price for qty"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.16
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /product/price.php?action=delete&id=227&lineid=660
# Report

delete row price for qty, show error:
Cannot delete or update a parent row: a foreign key constraint fails (`admin_dollibar`.`llx_product_price_by_qty`, CONSTRAINT `fk_prod

[2016-01-18 16:58] sbschumacher opened #4455 "Bug: "All orders" counter in /fourn/card.php stops at 5"
# Environment
- Version: 3.8.3
- OS: Linux
- Web server: Apache
- PHP: 5.6.15
- Database: MySQL MySQL 5.1.73-log
- URL: /fourn/card.php?socid=123
# Report

The small label behind the box title "All orders" will always show the number "5" even though /fourn/commande/list.php?socid=123 contains more than 5 orders.

[2016-01-19 00:33] casati-dolibarr commented on #4276
Setting a user-defined event with a color in 3.8.2 ist not honored (tried 'red' and '#FF0000').

[2016-01-19 11:12] centoasa opened #4459 "Feature request: alert for late orders"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.17
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /commande/list.php?mainmenu=commercial
# Report

if customers orders was shipping, the triangle yellow for late orders must be disappear.

[2016-01-19 14:43] centoasa opened #4462 "Bug: order ready to ship"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.17
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /commande/list.php?page=0&sortfield=c.rowid&sortorder=DESC&sortfield=c.rowid&sortorder=DESC
# Report

passing the mouse on van icon with red arrow, the products are the same of upper order (and wrong). But enter into order (124) the

[2016-01-20 08:41] defrance commented on #4410
ODT are already capable to display extrafields on document (fill_substitutionarray_with_extrafields in commundocgenerator class)
in pdf the main problem is to define where display the fields (top, bottom, ...), think it's définitly a specific development or we need to develop a complete customising pdf builder feature...

[2016-01-20 11:17] benlo06 opened #4466 "FEATURE REQUEST: Decrement stock by warehouse and product when I validate invoice"
Hello,

I have 2 warehouse and I generate invoice with product of my 2 warehouse. But when I validate the invoice, the confirmation popup permit de decrease stock of only one warehouse.
Is it possible to choose the warehouse to decrease for each line of my invoice ?

Regards,
Ben

[2016-01-20 11:57] centoasa opened #4467 "Bug: supplier order hide product description"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.17
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /product/stock/replenish.php
# Report

when add a product to supplier order from replenish, row of product don't have the product description.

[2016-01-20 16:52] BebZ commented on #4466
It's a FEATURE REQUEST, NEW: is only for new functions implemented, can you change the title ?
you may use the functions of decrease/increase manually... if possible in your workflow in /admin/stock.php
![image](https://cloud.githubusercontent.com/assets/3694135/12456082/93c79d80-bf9e-11e5-8eca-b80fafc4051e.png)

[2016-01-20 17:55] benlo06 opened #4468 "FEATURE REQUEST: TvA on Margin"
Hello,
I develop new module for calculate TVA on Margin for my client.
Details here : http://www.dolibarr.fr/forum/11-suggestionsnouvelles-fonctionnalites/5707-tva-sur-marge

When I create product, there are a checkbox for product with "TVA un Margin" (with custom fields moduile).
When I create invoice/invoice or propal, I would like that the TVA is calculate in the margin for product only if it i

[2016-01-21 09:35] marcosgdf opened #4471 "Feature request: Split Form* functions into 2"
Form functions should be split into two functions. One for retrieving the data and one for printing the data to the screen in a formatted way.

It is complicated for thirdparty developers when you want all the countries and the only function that retrieves them, prints a HTML to the screen or forces some input style that you can't personalize.

[2016-01-21 10:00] tiaris opened #4472 "Tiers particuliers Individuals (version 3.5 to 3.9)"
Les id prof (SIREN, RCS....) sont toujours visibles me pour des particuliers où cette info n'a aucun sens.
Ca pose problème si on active le contrôle sur un de ces champ (SIREN unique) : impossible de saisir un particulier.

Prof ids are always active even for indivuiduals, where they have no sense. If control of this fields is activated, then ther is no more possible to create a physical thirdpart

[2016-01-21 10:45] fappels commented on #4471
:thumbsup:

[2016-01-21 10:46] jfefe commented on #2820
Fixed into PR #4473 and waiting tests

[2016-01-21 10:55] rdoursenaud opened #4474 "Port select2 native translations to Transifex"
See #4399.

[2016-01-22 02:30] #4394 closed, assigned to nobody

[2016-01-22 02:43] eldy commented on #4410
@rdoursenaud Why introducing a property "printable" ?
Any fiedls (extrafields like other) are already available into pdf and odt templates. It is goal of template to decide which data is output.
A future version will introduce a PDF generator that accepts tags like ODT do. And extrafields are already available for substition into core code for PDF like it is for ODT..

[2016-01-22 08:02] centoasa opened #4477 "Feature request: product list"
It would a very good thing to have the list of products with column of ordered, so per product the operator can see how many in stock and how many in supplier order.
And very important thing, have the print option on stock list.
this features are very important for who sell by phone.

[2016-01-22 08:09] BebZ commented on #4477
Can you specify more,a nd maybe with a screenshot ?
did you know this screen ?
/product/stock/replenish.php
there are columns for Commandé À commander     (Ordered / to order)

[2016-01-22 08:11] centoasa commented on #4477
I refer to /product/reassort.php?type=0

[2016-01-22 08:13] BebZ commented on #4410
I think he wants to make it accessible to most of us, not only the developpers...
because there are many questions about how to print an extrafield, or any other field on a pdf, the answer is given on the wiki I guess, but not many understands how...
So I think it is a "democratization" process of printing fields...

[2016-01-22 10:00] defrance commented on #4410
I think is not the good way to say if the field is printtable in pdf or not (in odt is allway printable)
But display extrafields in pdf is a good enhancing feature

we need to remember a little the architecture of a pdf
we have many parts
- right header
- bottom header
- information bottom page
- totalisation bottom page
  ...

For me, the "killer" feature is to add a dropdown list in extrafields

[2016-01-22 16:41] altairis-tof opened #4481 "external users cannot access external modules even they have rights"
i guess this statement " Remarque, seuls les modules suivants sont ouverts aux utilisateurs externes (quelles que soient les permissions de ces utilisateurs) : Projets/Opportunités/Affaires, Fournisseurs, Libellés/Catégories, Tiers, Utilisateurs & groupes, Commandes clients, Adhérents, Expéditions, Agenda, Contrats/Abonnements, Factures et avoirs, Interventions" should not apply to external module

[2016-01-23 10:52] #4440 closed, assigned to nobody

[2016-01-23 16:31] marcosgdf opened #4482 "Feature request: simplify mysql backup wizard"
Show only a simple wizard to create a backup with the most common options and hide under an "advanced options" menu the rest of the options.

[2016-01-24 00:49] eldy opened #4485 "Add stats tab to build report with graph and pivot"
Orbjs.net
Or
Pivotgrid
Or
Pivottable
Or
specific dev

[2016-01-24 01:08] eldy commented on #4472
I think i fixed this recently on 3.9
Do you still have problem to create an individual when control on siren is on ?

[2016-01-24 01:08] eldy opened #4486 "Replace jflot with chart.js"

[2016-01-24 02:52] wankwaiwing opened #4487 ""Found date" field (date format) request for company"
Thank you

[2016-01-24 03:02] wankwaiwing opened #4488 "Prices permission issue"
We would like to show the details of selling prices and buying prices to related user but not all. It will be found under product card.

[2016-01-24 03:15] wankwaiwing opened #4489 "New request: show unit column under package product page/table"
Thanks very much!

[2016-01-24 03:17] wankwaiwing commented on #4489
UNIT: PCS,SET,M,KG,G.....

[2016-01-24 09:15] fgeek commented on #4341
When do you plan to release new version with these patches?

[2016-01-24 09:29] centoasa opened #4490 "Bug: payment condition dafault"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 7.0.2
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /commande/orderstoinvoice.php?orders_to_invoice%5B%5D=139&autocloseorders=on&socid=133&action=create&origin=commande
# Report

when generate invoice from cusotmers order, the payment condition and type was filled by default and not ho

[2016-01-24 09:37] ghost commented on #4341
Hi,
I've seen your fix for this specific vulnerability. I have to alarm you that this fix is no sufficient. JavaScript is a very Powerful language and a good security fix will be to avoid JavaScript execution possibility, and not to avoid a specific payload.

If an attacker could not exploit this specific payload, He will exploit another one because JavaScript injection is still allowed (using oth

[2016-01-24 09:38] hregis commented on #4341
@eldy @rdoursenaud
same problem with onmousemove, onmouseout, etc....

[2016-01-24 15:57] centoasa opened #4491 "Feature request: php 7 compatibility"
php >=7 compatibility

[2016-01-24 17:38] nes61 opened #4492 "error when cloning product with extra fields"
When I tried to clone a product with Extrafields I had this error:

Dolibarr a détecté une erreur technique.
Voici les informations qui pourront aider au diagnostic:
Date: 20160124182728
Dolibarr: 3.8.3
Niveau de fonctionnalités: 0
PHP: 5.4.45
Serveur: Apache
OS: Linux oberon.kreativmedia.ch 2.6.18-407.el5 #1 SMP Wed Nov 11 08:12:41 EST 2015 x86_64
UserAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X

[2016-01-24 23:38] BebZ opened #4493 "DIscussion : How do you manage levels of packagings ?"
Hello Community ;)
How do you manage levels of pacaging on your products ?

For example you can buy per carton to your supplier (easy for him, good price for you)
but you sell the boxes to your customers...
but you can also sell the unit that is in the box...
or buy a pallet to your supplier and sell the units to customers...

Sometimes it is really messy and tricky to know what price to put in th

[2016-01-25 15:42] rdoursenaud commented on #4410
Thanks everyone for the feedback.

@eldy The idea is to natively provide users a simple way to "display" their extrafields to predefined positions in documents.
Most of the users (well, err, clients…) I met have two kind of extrafields:
- internal data records for their eyes only
- public properties they want displayed on their documents

The "printable" property tries to reflect that.
AFAIK there

[2016-01-25 15:55] rdoursenaud commented on #4158
@casati-dolibarr You seem to have something wrong going on with your browser's javascript support and GitHub. Nothing we can do here. Please contact the GitHub support team: https://github.com/contact

[2016-01-25 15:57] rdoursenaud commented on #3538
Thanks for the report @mariamanc28. I'll close this issue.

[2016-01-25 15:57] #3538 closed, assigned to nobody

[2016-01-25 16:02] #4158 closed, assigned to nobody

[2016-01-25 16:03] rdoursenaud commented on #3239
Thanks @marcosgdf, way better :+1: .
Not quite understandable though and still trying to execute remaining code (`list_jobs()`) despite knowing it won't work (issues several warnings).
I'll keep it open ;)

[2016-01-25 16:05] casati-dolibarr commented on #4493
"Stock" the total number of smallest unit of the received delivery?

Then create "products for sale" in number of units?

[2016-01-25 16:07] rdoursenaud commented on #4198
Hum, I may have not explained this as thoroughly as needed.

Let me try again:
Expense reports allow using VAT.
If you want to be able recover that VAT from your expenses, this data should absolutely make its way to the VAT report.

I this helpful?

[2016-01-25 16:27] centoasa commented on #4419
same issue on relase 4.0.0 beta

[2016-01-25 16:32] rdoursenaud commented on #4493
I'd classify that as a feature request.

Dolibarr doesn't currently provide a streamlined workflow for that use case.
This is a management problem that is not easy to solve because there are various ways to do this.

I think the first step is to define the "storage unit".
Ie. for that product, what's the unit I stock and sell. Is it a single item, is it a box…
I'd use the smallest subdivision I ac

[2016-01-25 22:08] BebZ commented on #4493
I thought also of virtual products, but when I sell a Box of 10 it doesnt count as 10 units of a single item... everywhere in Dolibarr...
Packaged virtual products should have some automatic behaviour of converting greater units in smallest unit saleable, or something like that.
Or maybe it should only be a stock related info...

[2016-01-26 02:01] FAPMLIL opened #4497 "Error Margin module (price / reduc) 3.8.3"
Hi,

Dolibarr 3.8.3

I encounter a problem when I apply a discount on an item

Example below.

It increases my PU HT when I apply a discount

![prixv1](https://cloud.githubusercontent.com/assets/16575944/12570542/bea05676-c3d8-11e5-95a2-0fc46d1629d5.png)

![prixvrem1](https://cloud.githubusercontent.com/assets/16575944/12570549/c62b6f8e-c3d8-11e5-8947-4f4fae8818cf.png)

I tried with -10 instead of

[2016-01-26 02:02] FAPMLIL commented on #4497
It increases my PU HT

[2016-01-26 08:03] BebZ commented on #4497
where does it happen ? proposals ? orders ?

[2016-01-26 09:17] centoasa opened #4498 "Bug: search by tag"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.17
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**: /product/list.php?sortfield=p.ref&sortorder=asc&begin=&tosell=-1&tobuy=-1&type=0
# Report

after search by tag, and goes to next page, lost selection and show all products
This issue don't happens on /product/reassort.php

[2016-01-26 10:36] FAPMLIL commented on #4497
in Proposals, orders ...

[2016-01-26 10:41] FAPMLIL commented on #4497
Module margin activate

[2016-01-26 17:26] ilvinc3nt opened #4501 "POS and Invoice"
How can i have 2 POS in the same shop (if i have 2 cashes and 2 assistants in shop)? and most important for me: how can i dismiss invoice when i sell using POS (i mean no invoice or different numbers for ticket POS).

Thanks

[2016-01-27 08:49] centoasa opened #4502 "Feature request: more email address operator"
# Environment
- **Version**: 4.0.0-beta
- **OS**: Linux
- **Web server**: Apache
- **PHP**: cgi-fcgi 5.6.17
- **Database**: MySQL or MariaDB 5.5.47-cll-lve
- **URL**:
# Report

To send email for orders and others documents, it would be better to have more than one email address for operator, so email can send by different email address.