[2011-09-28 13:44] hregis opened #13 "Test add issue from Eclipse"
test

[2011-09-28 14:01] #13 closed, assigned to nobody

[2011-10-19 14:45] Alysko opened #29 "Very annoying problems with documents layout"
1/ When choosing a contact for invoice - (or other document), If he has no contact information (address), company details are not included although this is the most common case.

2/ There are page breaks faaar before the page is filled.

3/ The page numbering is buggy (1/{nb})

Since at least version 2.6.

[2011-10-20 04:50] pdt256 opened #33 "VAT/Tax Calculation Error with multiple line items"
Dolibarr is calculating VAT/Tax rates by rounding per order-line and then summing them to get the total tax due. This causes the sales tax totals to be off by a few pennies in some cases.

I have 39 line items with a quantity of 400 products.

Here are the calculations from Dolibarr:
Amount (net of tax): $2,097.60
Amount Sales Tax: $173.11
Amount (inc. tax): $2,270.71

The correct calculation usin

[2011-10-20 15:51] hregis commented on #29
Hi,
you must use the bugtracker on the Dolibarr project in doliforge.org

https://doliforge.org/projects/dolibarr/
https://doliforge.org/tracker/index.php?group_id=144

[2011-10-20 15:51] #29 closed, assigned to nobody

[2011-10-20 15:51] hregis commented on #33
Hi,
you must use the bugtracker on the Dolibarr project in doliforge.org

https://doliforge.org/projects/dolibarr/
https://doliforge.org/tracker/index.php?group_id=144

[2011-10-20 15:51] #33 closed, assigned to nobody

[2015-03-26 15:16] rdoursenaud opened #2481 "Setting GitHub issues labels (First)"
This is a great move.

But you ask us to set labels in the annonce and we can't :(

Only team members and project owners can set labels!

[2015-03-26 15:19] rdoursenaud commented on #2481
See: https://help.github.com/articles/permission-levels-for-an-organization-repository/ for more informations.

[2015-03-26 15:22] rdoursenaud opened #2482 "Create milestones for dolibarr versions"
Milestones are a great way to keep issues organised.

I think we should have milestones for all future versions:
- 3.5.7
- 3.6.3
- 3.7.0
- 3.8.0

[2015-03-27 11:06] marcosgdf opened #2487 "BUG: Lost suggested update highlight"
Version: develop

When upgrading from 3.5.2 to 3.8.0, suggested update choice is not highlighted as it was in past versions.

![captura de pantalla 2015-03-27 a las 12 05 02](https://cloud.githubusercontent.com/assets/168744/6866546/a4c04828-d479-11e4-95cb-a27f3503cf69.png)

[2015-03-27 12:34] braito4 opened #2488 "Token invoices in projects"
The main idea is that I have a invoice with has a lot os services an products on it; and is the one that I use in my accountancy but, some of this products are related to a project.

So I want the possibility if I have the project module activated to create a token invoice related to the realone in which I selected the products I'm using in the project(with the cost of this products).

thanks

[2015-03-27 15:46] eldy commented on #2487
Did you get also problem after upgradint it to 3.6 ?
Or is it only when coming from 3.5.2 ?

[2015-03-27 22:03] BebZ opened #2491 "BUG: when emitting a payment"
the emitter is lost when recording a payment on 3.6.2 and 3.7 (sometimes it works, i guess it is linked to the ode of payment : cheque, deposit, withdrawal, bank transfer...)

Lors d'une saisie de règlement le champ émetteur ne se remplis plus automatiquement :
Est ce normal ? Dans les version précédentes c’était possible.

http://www.dolibarr.fr/forum/8-mise-a-jour/52755-perte-de-l-emetteur-dans-

[2015-03-27 22:04] BebZ commented on #2481
how you set lables finally ? is it made by core team ?

[2015-03-28 14:40] eldy commented on #2481
For the moment, just put "FEATURE REQUEST" or "BUG" at begin of title.

[2015-03-28 17:08] eldy commented on #2491
I can't reproduce pb on 3.7. The make of cheque is correctly filled when you choose payment by cheque.

[2015-03-28 18:09] BebZ commented on #2491
![image](https://cloud.githubusercontent.com/assets/3694135/6882230/e277b336-d57d-11e4-87be-c23b8822c507.png)

woah copy paste works with image clipper of windows (capture)

[2015-03-28 18:10] BebZ commented on #2491
with cheque and bank transfer its ok it works, but on with other payment modes, it doesn't

Strange behaviour, dont you think ?
it's not big problem, you can sort it as "not prioritary" if we can manage issues with some labels...

![image](https://cloud.githubusercontent.com/assets/3694135/6958670/78587734-d90f-11e4-8ac9-a02159225619.png)

[2015-03-29 13:33] marcosgdf opened #2497 "BUG: Broken flag image in supplier card of a thirdparty with no country set"
Version: 3.6.2
Page: http://dolibarr.local/fourn/fiche.php?socid=2
To reproduce: Create a supplier with no country defined, then go to supplier card

![captura de pantalla 2015-03-29 a las 15 33 01](https://cloud.githubusercontent.com/assets/168744/6885624/ea226828-d628-11e4-8582-9000e233bded.png)

[2015-03-29 13:37] marcosgdf opened #2498 "FEATURE REQUEST: Do not allow Supplier invoice creation if thirdparty has no country set"
Type: Feature request

When we create a supplier invoice of a supplier that has no country set, we will see this warning in objectline_create.

It would be better if we warn the user before creating the invoice.

![captura de pantalla 2015-03-29 a las 15 37 05](https://cloud.githubusercontent.com/assets/168744/6885634/7e96ebb4-d629-11e4-9097-140a8212215b.png)

[2015-03-29 13:41] marcosgdf opened #2499 "Do not allow creating commercial documents with VAT if company has no country set"
Type: feature request

When we create a customer invoice, proposal, etc. that uses taxes, we will see a warning in objectline_create pointing that we have to complete the configuration first. It would be nice if we actually warn the user before creating it.

[2015-03-29 13:45] braito4 commented on #2499
+1
I've that problem when i have clients from outside Europe.

[2015-03-29 14:22] marcosgdf commented on #2487
It seems to have been fixed or to be a cache thing

[2015-03-29 14:22] #2487 closed, assigned to nobody

[2015-03-29 16:18] eldy commented on #2498
Duplicate of #2499, so closed

[2015-03-29 16:18] #2498 closed, assigned to nobody

[2015-03-30 01:53] marcosgdf opened #2505 "Bug: Non-available thumbnails are shown when placing mouse over a link"
Version: develop

It happens everywhere.

![captura de pantalla 2015-03-30 a las 3 51 42](https://cloud.githubusercontent.com/assets/168744/6889141/520656e0-d690-11e4-9d04-5883f56dceed.png)

[2015-03-31 08:08] marcosgdf opened #2509 "Bug: Ref is not shown in the bubble that appears when the mouse is over an agenda link"
Version: develop

![captura de pantalla 2015-03-31 a las 10 07 53](https://cloud.githubusercontent.com/assets/168744/6914727/d688a97e-d78d-11e4-931a-8f7a7e02d6fb.png)
![captura de pantalla 2015-03-31 a las 10 07 59](https://cloud.githubusercontent.com/assets/168744/6914728/d69c8e4e-d78d-11e4-9bde-ee18b209043a.png)

[2015-03-31 08:43] fappels commented on #2509
Automatic event bubble also misses ref and shows html tags

![image](https://cloud.githubusercontent.com/assets/4573808/6915180/3c15bf80-d792-11e4-8ea9-6a92c176327f.png)

[2015-03-31 10:13] hannus07 opened #2510 "Bug: Event Start and End Date"
Good day,

I am situated in South Africa (+2) and using v3.6.2 and would like to know why does my events dates year change from 2015 to 19xx when creating a event or task within the third party Agenda?

Regards
Hannu

[2015-03-31 20:04] frederic34 commented on #2505
What contains the field "photo" of user? can you add a photo and then remove it.
For me it never happen.

[2015-03-31 20:16] frederic34 commented on #2509
For html tags:
https://github.com/Dolibarr/dolibarr/pull/2517

[2015-03-31 23:09] IvanBUL opened #2518 ""select" type extra fields don't work on ODT documents"
Hi guys i have test on 3.6.2 and 3.5 extrafields on proposal are not working any ideas when they will be fix ?

[2015-03-31 23:25] javieralapps4up opened #2519 "dolibarr/htdocs/public/cron/cron_run_jobs.php line 136 wrong "...&& $line->dateend < $now)"
I think must be "...&& $line->dateend > $now)"

[2015-03-31 23:36] marcosgdf opened #2520 "Bug: Failed opening required '/var/www/dolibarr/htdocs/donations/class/don.class.php"
Version: develop
Page: http://dolibarr.local/projet/element.php?id=3

[code]

[2015-03-31 23:37] marcosgdf commented on #2505
Try with the bundled initdata

[2015-04-01 06:14] aspangaro commented on #2520
Correct, thanks @marcosgdf
#2521

[2015-04-01 08:00] frederic34 commented on #2505
bundled Initdata contain "01.jpg" as logo for SuperAdminName and you don't have this file, in this case nophoto is shown.

[2015-04-01 08:13] frederic34 commented on #2509
https://github.com/Dolibarr/dolibarr/pull/2523

[2015-04-01 08:28] marcosgdf commented on #2505
Oh, sorry then.

[2015-04-01 08:28] #2505 closed, assigned to nobody

[2015-04-01 08:46] marcosgdf opened #2524 "Implement protection against bruteforce"
I've seen some utilities that take advantage of bruteforce to guess the password of users. Because Dolibarr doesn't provide any protection against those attacks, It would be nice if we tracked those errors and forbid them to login for X minutes.

It is important to have it enabled by default.

[2015-04-01 08:56] frederic34 commented on #2505
For the non existent logo:
https://github.com/Dolibarr/dolibarr/pull/2523

[2015-04-01 12:48] rdoursenaud opened #2526 "[Export] Allow exporting prospects"
The export module allows exporting thirdparties, but it seems impossible to filter on prospects.

[2015-04-01 12:50] rdoursenaud commented on #2524
There is one available protection: the captcha. It is not enabled by default but should do the trick pretty well.

[2015-04-01 19:51] BebZ commented on #2524
Yes, I didn't notice it too, it's in /admin/security_other.php

[2015-04-01 19:53] BebZ commented on #2518
LABEL : more info
need more infos on your problem

[2015-04-01 19:57] BebZ commented on #2510
Can't reproduce on my 3.7
maybe can you write more infos on the steps
maybe check the date and time of your server ?

[2015-04-01 20:26] IvanBUL commented on #2518
i have created a extra filed on proposal Setup->Modules->Proposals afterwords setup on Proposal->complementary attributes i add new attribute with code "about" and values see attached file
![capture](https://cloud.githubusercontent.com/assets/11728170/6951777/6fc0cf3e-d8c6-11e4-8191-0c3a1cd994f8.JPG)
, then i try to call this field in odt template with {object_options_about} and its not working

[2015-04-01 22:51] #2520 closed, assigned to nobody

[2015-04-01 22:56] #2509 closed, assigned to nobody

[2015-04-01 23:10] simnandez commented on #2524
Possibles ways to implement:
-Blocking IP for X minutes
-Deactivate user after X failed logins

[2015-04-01 23:40] simnandez commented on #2519
The job must be executed if dateend is less than now. Why do you think the opposite?

[2015-04-02 05:55] BebZ commented on #2524
@darkjeff ;)

[2015-04-02 07:22] javieralapps4up commented on #2519
I thought that the dateend was the deadline to execute the task. Reading your response, I think I was in error. Now I think that I do not understand so there is that field.

If dateend is empty or does not have one date less than now, the work not be executed

[2015-04-02 08:45] eldy commented on #2491
This field is dedicated to store the name of who make the cheque (to generate cheque receipt), so i think it is standard behaviour to have this working only when payment mode is cheque.

[2015-04-02 08:47] BebZ commented on #2491
Ok, i'll explain it on the guy asking it on the forum, thanks Eldy ;) Close #2490

[2015-04-02 08:47] #2491 closed, assigned to nobody

[2015-04-02 08:52] BebZ commented on #2518
Did you read closely http://wiki.dolibarr.org/index.php/Cr%C3%A9er_un_mod%C3%A8le_de_document_ODT
For complete list of available tags, see on user documentation about using ODT templates on wiki:
http://wiki.dolibarr.org/index.php/Create_an_ODT_document_template

[2015-04-02 09:02] #2519 closed, assigned to nobody

[2015-04-02 09:31] frederic34 commented on #2524
On linux system, it's possible to use fail2ban with analyse of dolibarr.log

[2015-04-02 11:38] hannus07 commented on #2510
Just to clarify, from the third party agenda this is when it happens but it works fine if I do create an event from the agenda on the dashboard and the date on the server is correct?

[2015-04-02 11:51] hannus07 commented on #2510
![eventdate](https://cloud.githubusercontent.com/assets/11735250/6963407/5829d04a-d93f-11e4-82bb-e6fd8d607cd5.JPG)

[2015-04-02 20:39] IvanBUL commented on #2518
hi BebZ thanks for quick reply .I have read the instruction ,but its not working if i miss something please point it out to me i relay want to make this work.

[2015-04-02 23:08] eldy commented on #2510
What is your PHP version ?

[2015-04-03 01:16] marcosgdf opened #2534 "Bug: SQL error when editing a supplier invoice line"
Version: 3.6.2

Steps to reproduce:
1. Create a supplier invoice
2. Create a line with some discount
3. Edit the line and remove the discount

[code]

[2015-04-03 02:08] marcosgdf opened #2535 "Bug: Untranslated string in "Linked objects" page of a project"
Version: 3.6.2
Page: /projet/element.php?id=3

![captura de pantalla 2015-04-03 a las 4 07 24](https://cloud.githubusercontent.com/assets/168744/6977114/fa961b6e-d9b6-11e4-8469-95433667ac9c.png)

[2015-04-03 03:23] marcosgdf commented on #2524
? It just compares $_POST['code'] to $_SESSION['dol_antispam_value']. It is not exposed.

BTW Bundled captcha code provides very little protection. It can be easily read with OCR.

[2015-04-03 06:28] frederic34 commented on #2524
Oh I understand my error, $_SESSION are only on the server....

[2015-04-03 14:37] marcosgdf opened #2539 "Bug: Unable to create a thirdparty"
Version: develop
Page: http://dolibarr.local/societe/soc.php

Message `Unknown column 'fk_incoterms' in 'field list'`

[2015-04-03 14:52] marcosgdf opened #2540 "Bug: Incorrect HTML in "Bank account" tab of a Thirdparty"
Version: 3.6.2.
Page: /societe/rib.php?socid=3

![captura de pantalla 2015-04-03 a las 16 51 40](https://cloud.githubusercontent.com/assets/168744/6983739/d8f2908a-da21-11e4-8433-ea6299cb909d.png)

[2015-04-03 14:55] marcosgdf opened #2541 "Bug: Untranslated "Categories" menu when viewing a contract"
Version: 3.6.2.
Page: contrat/fiche.php?id=4

![captura de pantalla 2015-04-03 a las 16 54 27](https://cloud.githubusercontent.com/assets/168744/6983769/21d7ee08-da22-11e4-8c3e-26572e7d5dd6.png)

[2015-04-03 14:57] marcosgdf opened #2542 "Bug: Contracts store localtax preferences"
Version: 3.6.2.

If you create a contract with some service and the client is not subject to Localtax2, then the configuration is saved in the contract line. If you change that setting and then try to create an invoice from a contract, the invoice will be without Localtax2 even if the client is subject to it.

[2015-04-03 14:58] marcosgdf opened #2543 "Bug: Untranslated "Contract" origin string when creating an invoice from a contract"
Version: 3.6.2
Page: /compta/facture.php?action=create&origin=contrat&originid=4&socid=3

![captura de pantalla 2015-04-03 a las 16 58 13](https://cloud.githubusercontent.com/assets/168744/6983837/ac7171c4-da22-11e4-832b-e06c5f24caf8.png)

[2015-04-04 01:06] marcosgdf opened #2544 "Better error management for Syslog modules"
Version: 3.6.1.

When the syslog_file file does not exist, then a warning is shown on the page which prevents users from doing normal work. It would be great to find a way to show this errors to the user in a better way

![captura de pantalla 2015-04-04 a las 3 05 09](https://cloud.githubusercontent.com/assets/168744/6990872/7e9b4360-da77-11e4-880d-b91ac48f5be4.png)

[2015-04-04 01:08] marcosgdf opened #2545 "Bug: Missing object_margin.png in Amarok theme"
Version: 3.6.1.
Page: http://dolibarr.local/admin/modules.php?mode=other
Requested url: http://dolibarr.local/theme/amarok/img/object_margin.png

![captura de pantalla 2015-04-04 a las 3 07 58](https://cloud.githubusercontent.com/assets/168744/6990880/d79e27d4-da77-11e4-8145-819e885fb3c0.png)

[2015-04-04 01:17] marcosgdf opened #2546 "Bug: Unable to clone a customer order"
Version: 3.6.1

When I try to clone an order, I get a error message that tells me that the reference used for the creation already exists.

[2015-04-04 15:31] marcosgdf commented on #2541
This is not supposed to happen

[2015-04-04 15:31] #2541 closed, assigned to nobody

[2015-04-04 15:58] marcosgdf commented on #2497
Not able to reproduce anymore.

[2015-04-04 15:58] #2497 closed, assigned to nobody

[2015-04-04 16:06] marcosgdf commented on #2546
Already fixed in 3.6.2

[2015-04-04 16:06] #2546 closed, assigned to nobody

[2015-04-04 16:09] marcosgdf opened #2551 "Project names are truncated in project list and in project select"
Version: 3.6.2

Project names are too short and there is enough room to show larger ones.
![captura de pantalla 2015-04-04 a las 18 09 15](https://cloud.githubusercontent.com/assets/168744/6993455/b9e81f6e-daf5-11e4-8398-90ad918ed51e.png)

![captura de pantalla 2015-04-04 a las 18 08 54](https://cloud.githubusercontent.com/assets/168744/6993453/ab9b03cc-daf5-11e4-850d-cdd8c50eac85.png)

[2015-04-04 21:50] IonAgorria opened #2552 "Bug: TVA parsing and event showing problem in product/fournisseurs.php"
Version: develop
Page: product/fournisseurs.php
Showing error/event box when modifying a entry in product/fournisseurs.php causes to set page as create a new entry instead of modifying current entry, also setting non number at TVA causes a sql error

[2015-04-05 14:48] IvanBUL commented on #2518
Hello BebZ i just wanted to ask you if u have any info on my problem or any ideas ?
i will appreciate any help

[2015-04-05 17:11] IvanBUL opened #2553 "Generate repeatable invoice"
Hi guys i dont know if its right to suggest new features here but i will do it : )
1.repeatable invoices invoice that is issued automatically every month or week and send to an email defined as default contact for that invoice.
2.when making payment to an customer invoice can we have some button or link in the line to automatically add total of the amount not to typed every time if all its payed.

[2015-04-06 09:46] hannus07 commented on #2510
Hi Eldy,

It will be v5.3.2-1ubuntu4.28

[2015-04-06 10:08] BebZ commented on #2553
1. Repeatable invoices are possible, with contracts module i guess, or pre-defined invoices.
   but never tried.
   Issued automatically, as draft, or you mean really automatically ?
   (developpers didn't agree because it's quite source of errors and dangerous ;)
2. for me it used to work with
   USE_JAVASCRIPT_AJAX set to 1
   and
   MAIN_JS_ON_PAYMENT set to 1
   now on 3.7 it works with
   MAI

[2015-04-06 10:11] BebZ commented on #2518
i'm really sorry i didnt try to call extrafields yet on odt...
maybe you can try to see with the module that has been set free to open source recently.
CustomFields Pro and Prodcuts esay acces.
https://github.com/lrq3000/dolibarr_customfields

[2015-04-06 10:28] eldy commented on #2539
Did you run the upgrade process ?

[2015-04-06 10:33] eldy commented on #2551
With 3.8, i think i have removed trunc into combo list.

[2015-04-06 10:40] #2543 closed, assigned to nobody

[2015-04-06 10:42] #2540 closed, assigned to nobody

[2015-04-06 15:08] IvanBUL commented on #2518
hi BebZ in the past i have tried CustomFields and i have some issues with some warnings and stuff, i did not know that pro version is free now i will give it a try.
but plz try to call extrafields on odt just to be sure that i'm not making any mistake ,for me extrafields is far more clean way to make nessery changes.
10x for the update : )

[2015-04-06 16:05] marcosgdf commented on #2539
It was a fresh install

El lun., 6 de abril de 2015 12:29, Laurent Destailleur <
notifications@github.com> escribió:

[2015-04-06 16:22] IvanBUL commented on #2553
Hi BebZ again : ) i also thought pre-defined invoice to be some type of repeatable invoice but i did not manage to get it to work ,how ever i will take a look at contracts and how to set repeatable invoice from there.
2. i have try your suggestion and it works great for me on 3.7(test) and 3.6.2(production) with MAIN_JS_ON_PAYMENT set to 1 for 3.6.2 and FAC_AUTO_FILLJS set to 1 for 3.7  ,10x a lot

[2015-04-06 19:04] IvanBUL opened #2559 "Bug: Untranslated "Total" in Bank module"
minor bug in general view of bank module i did not find any way to translate this from BG-bg lang or US for that mater

hope this helps.
![capture](https://cloud.githubusercontent.com/assets/11728170/7010322/d6389072-dca8-11e4-976e-4be85584727d.JPG)

[2015-04-06 19:12] IvanBUL commented on #2559
its not anything urgent just letting you know ,this bug appear after migrating from 3.5 to 3.6.2

[2015-04-07 10:47] frederic34 commented on #2559
Hello, can you try this:
https://github.com/Dolibarr/dolibarr/pull/2561

[2015-04-07 14:40] IvanBUL commented on #2559
it works
Hello frederic34 i have replaced the code with new that you have provided and its fix ,done

p.s. i have made same changes in rows 182 and 242 so that can take effect for other types of bank accounts

[2015-04-07 14:40] #2559 closed, assigned to nobody

[2015-04-07 16:05] eldy commented on #2534
Fix merged

[2015-04-07 16:05] #2534 closed, assigned to nobody

[2015-04-07 16:15] #2539 closed, assigned to nobody

[2015-04-07 16:17] eldy commented on #2542
What do you mean with " If you change that setting ". Do you mean if you change property of client to tell he IS subject to localtax2 after creating crontract ?
Does this occurs frequently ?

[2015-04-07 16:20] marcosgdf commented on #2542
Imagine that the Spanish tax administration reduces Localtax2 from 21 % to 20 % since 1 january of 2015.

If you have a contract created in 2014, it stores the 21 % of the localtax2 amount which is correct in 2014.

Now in 2015, I change the localtax2 percentage in the settings and when I create an invoice from the contract, Localtax2 contains a wrong amount until I edit and save each line of the

[2015-04-07 16:27] eldy commented on #2535
Fix merged

[2015-04-07 16:27] #2535 closed, assigned to nobody

[2015-04-07 16:30] simnandez commented on #2542
If you change the localtax2 percentage and you create an invoice from te contract, localtax2 containg the correct amont (tested in 3.6.3)

[2015-04-07 16:32] marcosgdf commented on #2542
Maybe what I tested was that when I created the contract, the client was not subject to Localtax2, but I change it later and create an invoice from the contract. The invoice has no Localtax2 amount.

This was tested in 3.6.2

[2015-04-07 16:39] eldy commented on #2524
There is also a feature to limit brute force. When a login/pass is tried, if it fails, dolibarr will return result after a 1 or 2 seconds delay. This make brute force very slow because attacker need to wait, to know if result is ok or not. The attacker must run a very high number of thread if he want to make enough tests to have brute force a chance to find, and apache will restrict this with its

[2015-04-07 16:44] #2545 closed, assigned to nobody

[2015-04-07 16:45] eldy commented on #2510
This is very strange. Do you enter date using the calendar/mouse or using the keyboard ?

[2015-04-07 18:10] #2542 closed, assigned to nobody

[2015-04-08 09:39] eldy opened #2565 "Feature Request: Allow adding a photo to contacts"
Can add a photo on contact (like we can on thirdparty)

[2015-04-08 10:23] #2552 closed, assigned to nobody

[2015-04-08 11:50] hannus07 commented on #2510
both?

[2015-04-08 14:19] IvanBUL commented on #2553
Hi guys i did not manage to create repeatable invoice using contract module , if anyone can give some tip it will be appreciate thanks.

[2015-04-08 14:59] IvanBUL commented on #2518
Hello i have tried custom fields again and same warnings appear ,i don't like them.
i have tried extrafields on 3.7 and they still don't work on proposal.

[2015-04-08 15:08] rdoursenaud opened #2566 "Accessibility"
A while ago, after attending [a talk at RMLL about using Dolibarr being blind](https://2014.rmll.info/conference223), I started working on improving Dolibarr accessibility (#1730, #1737) and documented some insights [on the wiki](http://wiki.dolibarr.org/index.php/Accessibility).

Unfortunately, I don't have the time to do all the required work on my own.

I open this issue in the hope we can gath

[2015-04-08 15:38] rdoursenaud opened #2567 "Accountancy code for VAT payments"
In module "Special expenses (tax, social contributions, dividends)"

Default setting for France: 445510

ping @aspangaro ;)

[2015-04-08 15:53] rdoursenaud commented on #2553
@IvanBUL You should seek help using [the forum](http://www.dolibarr.org/forum).
Issues are **not** for support. Please keep the discussion on topic.

[2015-04-08 15:55] braito4 opened #2568 "BUG: Strange behaviour moving task in projects"
Version 3.7

If you drag the task it can go above the title.
![screen shot 2015-04-08 at 17 54 11](https://cloud.githubusercontent.com/assets/1913498/7049250/6791e54e-de18-11e4-9f46-1bcecad99b76.png)

[2015-04-08 16:04] rdoursenaud commented on #2568
Confirmed :+1:

Also happens in 3.6 current branch, _not_ in 3.5.

[2015-04-08 16:59] rdoursenaud opened #2570 "[Contacts] Page should not process if ID is invalid"
v3.6.2

Calling a contact page with an invalid (or deleted) ID displays bogus informations.
The page should not be processed like thirdparties.

[2015-04-08 17:07] eldy opened #2571 "Replace tab for tags/category with new select2 multiselect component"
Replace tab for tags/category with new select2 multiselect component

For reference:
- [x] Products/services (done in f0b10c14d70d647e44022955e997c7637e9bc464)
- [x] Customers (cf #2932)
- [x] Suppliers (cf #3415)
- [x] Contacts (cf #3016)
- [x] Members
- [X] Bank transactions

[2015-04-08 17:15] eldy opened #2572 "Merge tab photos and attached files tab for product"
Merge tab photos and attached files tab for product.
This will save one tab. The tab photos is useless if feature to crop and resize are included into attached files tab.

[2015-04-08 17:47] BebZ commented on #2572
:+1:

[2015-04-08 18:31] eldy opened #2574 "Rewrite module selection for a nicer tool"
Merge all tabs for module and replace with an area with a badge for each module (one div per module)

<div>
------------------------<br>
| Module name    |<br>
| v1.0 - Category |<br>
|       Logo            | <br>
| More info link...  |<br>
|    Activated      |<br>
------------------------<br>
</div>

With at top, a search form with criteria:
Installed (checked by default)
Not installed (checked

[2015-04-08 18:37] rdoursenaud commented on #2574
Related: #2573

[2015-04-08 18:38] rdoursenaud commented on #2574
A quick and dirty idea:
I think an optional "About" page for external modules would also be a nice addition for publishers.
This may even be standardised and parsed automatically to feed dolistore.

[2015-04-08 18:43] IvanBUL commented on #2553
Hi @rdoursenaud thank you for your reply ,i just want to point out a few things here :
1.dolibarr forum i pretty much inactive.
2.repeatable invoices are nice feature to have.
and i think that topic here is "Feature Request" and we discus ideas how and ware to be able to create such invoices e.t. do we need contract to create repeatable invoices yes may be sounds logical. Can they be available out

[2015-04-08 18:44] #2568 closed, assigned to nobody

[2015-04-08 18:59] eldy commented on #2553
For repeatable invoice, table is already ready. It is llx_facture_rec.
Still looking for dev to do this:
- [ ] enhance form of predefined invoice to be able to edit/view the date start, date end, period to repeat creation and date of first/next generation (file htdocs/compta/facture/fiche-rec.php)
- [ ] create a class with a method "generatePlannedInvoice" that will look table llx_facture_rec with

[2015-04-08 19:12] aspangaro commented on #2567
Thanks @rdoursenaud

I take this feature request but not before two or three weeks.

The first step is also to replace all accountancy fields with a select list from chart of accounts. It's more user friendly.

[2015-04-08 19:20] eldy opened #2575 "Merge box of linked object into one box"
Merge all boxes of linked object into one box. We must just add a column with type of object.
(for example on invoice, merge lines of boxes of proposal, order, ficheinter, into one table)

[2015-04-08 21:07] braito4 commented on #2568
Also in the div total

[2015-04-09 07:03] marcosgdf opened #2576 "Bug: Unable to edit a dictionary entry that has # in its ref"
Version: 3.6.2
Having a third type that has the ref: TE_###A, I am unable to edit it after saving. The page goes back to the list of dictionary types.

[2015-04-09 07:21] BebZ commented on #2567
With a select list of a "personnalised" chart of accounts ? because to choose from default lists is a headache ;)

[2015-04-09 07:35] marcosgdf opened #2577 "Bug: Incorrect invoice status in "Linked objects" page of a project"
Version: 3.6.2.

When I have an invoice that has been marked as "Closed (paid partially)" it is shown in "Linked objects" page as Abandoned.

[2015-04-09 08:50] braito4 opened #2579 "Bad display duration enter data on intervention"
Version 3.7

![screen shot 2015-04-09 at 10 48 16](https://cloud.githubusercontent.com/assets/1913498/7063342/2a78617c-dea6-11e4-8368-5031ca73e289.png)

[2015-04-09 09:01] BebZ commented on #2553
Ok, i will make the tests when someone will try to make it :)
When a subject is labelled Feature Request, it should be allowed to discuss it here.

Rdoursenaud says right if you're looking for support for config, it's the wrong place here (example : Fac_autofill_js you could find the answer on the forum, which is not inactive for intelligent questions ;)

[2015-04-09 09:21] aspangaro commented on #2567
Hi @BebZ

Charts of accounts is the same page than a dictionnary page, it's possibly to disable some accounts.

Maybe... To limit the problem, according to the field, it is necessary to display a list based on the class of account. If we are on the product, we show list only with the accounts of the class product (class 7 in France, not the same in different country).

[2015-04-09 09:23] eldy opened #2580 "Module to suggest payment with caisse d'épargne"
Need a module to suggest payment with caisse d'épargne (copy of paybox module but using the societe general API)
Also the callback must record the payment of invoice (currently the paybox module receive the callback but do nothing with it)
This will save a lot of time of foundation board team

[2015-04-09 09:24] hregis commented on #2580
i can make it

[2015-04-09 09:33] eldy commented on #2574
What you called the "About" is what i called the "More info link..." into the module badge. Idea is to output a popup with information inside the module descripor (what permission module brings, what table, what trigger and what hook. We could also add information of editor)

[2015-04-09 09:37] BebZ commented on #2580
i have the paybox module with magento
and all the documentation if you are interested, or do you still have it ?

[2015-04-09 09:59] braito4 opened #2581 "Bug: trying to convert contrat to invoice"
Version 3.7
The main problem is in here: commonobject.class.php:3422
The first error what this: DB_ERROR_NOSUCHTABLE Table 'dolbeta.llx__extrafields' doesn't exist
so, i changed 3392 to $sql.= " FROM ".MAIN_DB_PREFIX.$this->table_element."extrafields";
then appeared this error: DB_ERROR_NOSUCHFIELD Unknown column 'clinfin' in 'field list'

so a this point i'm lost

[2015-04-09 10:05] braito4 commented on #2581
I think the problem is that in the convert the function is not calling llx_contrat_extrafields just lost contrat in the calling.
Also is missing clinfin in llx_contrat_extrafields.

[2015-04-09 12:48] marcosgdf opened #2582 "Bug: Untranslated table header in /compta/bank/search.php"
Version: 3.6.2

![captura de pantalla 2015-04-09 a las 14 48 01](https://cloud.githubusercontent.com/assets/168744/7066937/6f0718da-dec7-11e4-942f-8f577193c0e1.png)

[2015-04-09 12:49] marcosgdf opened #2583 "Bug: Unable to create a bank transfer with localized numbers"
Version: 3.6.2

If I enter "3,62" I get an error message telling me that I entered an invalid number, but in the rest of Dolibarr I am able to create it.

[2015-04-09 15:08] braito4 commented on #2581
clinfin is a custom extrafield. I thing the problem in the end is that contrat is not fill in 3392:
$sql.= " FROM ".MAIN_DB_PREFIX.$this->table_element."_extrafields";

Also, if you convert from contract to invoice but you have a custom extrafield, in one of this but not in other, it should warning you.

[2015-04-09 16:30] eldy opened #2584 "Feature request: A tool to scan language files from not used language keys"
Build a command line tool that report key into en_US lang files that are not used into code and report them into a file.

[2015-04-09 17:10] IvanBUL commented on #2553
Hi @eldy thank for the info : ))) i have to say i sounds very nice and will love to try or test it as soon is ready or possible thanks for the input again very much appreciated.

[2015-04-09 17:20] IvanBUL commented on #2553
hi @BebZ i have to say i'm dolibarr forum every day i have posted intelligent questions about some issues but i did not receive any info or reply ,how ever probably far more intelligent questions with topic "Login from any PC" are far more discussed. How ever i don't find my comment to be tell me how i was looking for something that i may have mist or dependency e.t.c.....

[2015-04-09 19:03] aspangaro commented on #2582
#2585

[2015-04-09 19:34] BebZ commented on #2553
You not obliged to close it reopen #2553 :) as Eldy gave some nice advices please.
I'm sorry you didnt find any help on ENGLISh forum, i was misunderstanding with french one...
There is a lot of internationalization being made in Dolibarr in the code now, hope this will encourage more people speak english

[2015-04-09 19:37] IvanBUL commented on #2553
Hi guys i'm new to this system and i did not know i'm opening it again ,and awaiting for more input from Eldy : )

[2015-04-10 08:36] braito4 commented on #2581
I try again and now is working...

[2015-04-10 08:36] #2581 closed, assigned to nobody

[2015-04-10 13:15] rdoursenaud commented on #2567
@BebZ You should fill a separate feature request because of the broad spectrum and implications.

[2015-04-10 13:27] rdoursenaud commented on #2574
Ah, ok, I thought the "more info" was leading to the setup page.
So, may I ask where you envision the setup page link? On the module name?

[2015-04-10 13:32] rdoursenaud commented on #2580
Please don't fall into old habbits of copy/pasting and refactor it to share as much code as possible.
Understanding, debugging and generally maintaining copy/pasted code is a nightmare.

[2015-04-11 01:10] IonAgorria opened #2587 "Feature Request: SEPA Credit Transfer"
Hello, my idea is to implement SEPA credit transfers for supplier invoices in same or similar way as
"Standing orders" (prevelent) module in customer invoices, the idea was to change or copy current code for suppliers.

After looking the standing orders code I am quite worried about the state of code, and I'm questioning
if it's better to do it from ground instead of trying to fix non translated s

[2015-04-11 16:17] tiaris opened #2589 "Add user in script mailing-send.php"
If sending a mailing, the tag **SIGNATURE** will not be replaced by user sigature, as it is when sending mailing from IHM.
This is not coherant.
Insoure we find
'**SIGNATURE**' => '',  // Signature is empty when ran from command line (user is a bot)

why not giving a user login as a parameter to script, so this tag can be replaced ?
Or setting a variable in configuration.

email sending is limited

[2015-04-11 16:19] tiaris commented on #2589
here a forum discussion

http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/52846-attribut-signature-dans-l-envoi-de-courriels

[2015-04-11 16:27] tiaris opened #2590 "Bill several shipments for a customer with one invoice"
As it is done for orders, it would be fine to have the possibility to create one inoice for several shippments fo a special customer.

http://www.dolibarr.fr/forum/15-retours-dexperiences-utilisateursintegrateurs/52821-lier-plusieurs-expeditions-dans-la-meme-facture

[2015-04-11 16:30] tiaris opened #2591 "Margin is incorrect used with POS"
A forume user reported a bug http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/52810-module-point-de-vente-marge
Margin is incorrect on invoices generated by the POS Module

[2015-04-11 17:17] tiaris opened #2592 "incorrect link in google agenda export"
Whn exporting dolibarr agenda to googel calendar, the link for a third party seems to be false (submitted y user of forum)
http://www.dolibarr.fr/forum/507-agenda/52657-lien-vers-google-calendar

link is http://siteweb/htdocs/societe/soc.ph?socid=263 inste of http://siteweb/htdocs/societe/soc.php?socid=263

[2015-04-12 07:21] jfefe commented on #2580
There is a version working with SystemPay (used by Caisse d'épargne) : https://git.aternatik.net/dolibarr/systempay

[2015-04-12 19:06] marcosgdf commented on #2551
Can we remove it for 3.5~3.7 then? It is very annoying when having large project names

[2015-04-12 19:11] marcosgdf commented on #2592
Can you please be more specific like... which version is affected and how to reproduce it?

[2015-04-12 19:12] marcosgdf commented on #2591
Can you please be more specific like... which version is affected, which is the problem and/or how to reproduce it?

[2015-04-12 19:13] marcosgdf commented on #2584
I think there is already a FR made by you for this exact thing in Doliforge:

https://doliforge.org/tracker/?group_id=144&func=detail&atid=247&aid=300

[2015-04-12 19:18] marcosgdf commented on #2510
Take a screenshot of the Info Dolibarr page to see how Dolibarr is processing the time

[2015-04-12 19:40] marcosgdf opened #2596 "Move notes for Expense Reports to an individual tab"
![captura de pantalla 2015-04-12 a las 21 39 04](https://cloud.githubusercontent.com/assets/168744/7107176/848015ee-e15c-11e4-89f8-0d62caf932b0.png)

[2015-04-12 20:49] marcosgdf opened #2598 "Bug: Untranslated "Supplier" tab name and some tax inputs in /fourn/card.php"
Version: 3.7 at 1272b03e5e090afe54c7f45ea521d4f66e1771fe
Language: es_ES

![captura de pantalla 2015-04-18 a las 10 23 47](https://cloud.githubusercontent.com/assets/168744/7214638/1462394c-e5b5-11e4-9fe4-cc02be14630c.png)

[2015-04-12 20:52] marcosgdf opened #2599 "Bug: "Create Invoice" available when Invoices module is not enabled"
Version: 3.7 at 1272b03e5e090afe54c7f45ea521d4f66e1771fe

Page: /fourn/commande/card.php

![captura de pantalla 2015-04-12 a las 22 51 56](https://cloud.githubusercontent.com/assets/168744/7107463/8a07096e-e166-11e4-87fc-801cd523bd58.png)

[2015-04-12 20:54] marcosgdf opened #2600 "Bug: Card title of Commercial area should be Commercial area and not Customer area"
Version: 3.7 at 1272b03e5e090afe54c7f45ea521d4f66e1771fe
![captura de pantalla 2015-04-12 a las 22 53 49](https://cloud.githubusercontent.com/assets/168744/7107478/df9dd95c-e166-11e4-884c-006e8a17a4b2.png)

Line 68: `print_fiche_titre($langs->trans("CustomerArea"));`

[2015-04-12 21:00] marcosgdf opened #2601 "Bug: Supplier orderstoinvoice does not work with PostgreSQL"
Version: 3.7 at 1272b03e5e090afe54c7f45ea521d4f66e1771fe

ERROR: 25P02: current transaction is aborted, commands ignored until end of transaction block LOCATION: exec_simple_query, postgres.c:976 sql=SELECT c.rowid, c.ref, ref_supplier, c.fk_soc, c.fk_statut, c.amount_ht, c.total_ht, c.total_ttc, c.tva, c.localtax1, c.localtax2, c.date_creation, c.date_valid, c.date_approve, c.fk_user_author, c.fk

[2015-04-12 23:28] eldy commented on #2599
The name of invoice module is not correct. It should be "Customer invoice".
The button is for "Supplier invoice". And supplier invoice module is managed by module "Supplier". So behavior is correct for me. Here the problem is that the module Supplier is not split into 2 modules (supplier orders and supplier invoices).

[2015-04-12 23:30] marcosgdf commented on #2599
If Invoices module is not enabled, there is no way on earth I can access Supplier Invoices. So I guess the expected behavior is for the button to not be enabled.

[2015-04-13 05:54] hannus07 commented on #2510
![image](https://cloud.githubusercontent.com/assets/11735250/7110479/44d46322-e1b2-11e4-9acf-2da7a40db9c0.png)

[2015-04-13 07:12] abhimanyumohan opened #2602 "Stock decrease problem when invoiced"
I have a major issue with dolibarr. Our client has two warehouses, when invoicing , the products are taken from two warehouses. But while validating,the stock decreases from only one warehouse. How is possible to change this feature. Please help

[2015-04-13 11:09] #2582 closed, assigned to nobody

[2015-04-13 11:09] #2600 closed, assigned to nobody

[2015-04-13 13:48] fappels commented on #2591
Already fixed in 3.6.2, commit: b1a4b8e7d0aa8ff376e5dbfcf89260eb6e189d62

[2015-04-13 14:11] fappels commented on #2591
Though a better Fix should be to use latest buying price (Doliforge task #1910 https://doliforge.org/tracker/?func=detail&group_id=144&aid=1910&atid=247)

[2015-04-13 14:36] tiaris commented on #2591
I think best would be to use products pmp (for a product) if it exists,
or latest buy price. this could be a way to calcultate pmp if it does
not exist
Caution because in standard Dolibarr uses the best buyprice (minima),
which is not good.

greetings

Le 13/04/2015 16:11, Francis Appels a écrit :

[2015-04-13 15:15] BebZ commented on #2591
@fappels now we should use Issues in github to reference tasks or bugs, may I reference this one as a fet. request ? Add find most recent fournisseur price for POS margin and default PU

[2015-04-13 15:31] braito4 opened #2603 "Bug: Untranslated "LocalTax1IsUsed and LocalTax2IsUsed" in fourn/card.php?socid="
Version: 3.7

![screen shot 2015-04-13 at 17 27 08](https://cloud.githubusercontent.com/assets/1913498/7118968/e5ee0be6-e202-11e4-939a-99960a2293c1.png)

[2015-04-13 15:54] fappels commented on #2591
@BebZ yes you may, one old Doliforge ticket less, I will close it. Also add the pmp option proposed by tiaris, not a bad idea.

[2015-04-13 17:01] eldy commented on #2592
This is a bug into the module Google, not into dolibarr. Will be fixed into next module version of module google released just after 3.7 release.

[2015-04-13 17:01] #2592 closed, assigned to nobody

[2015-04-13 21:43] eldy commented on #2584
Yes, but because we will just drop the doliforge for task and bug report, i just recopy it on new tool.

[2015-04-14 06:05] BebZ opened #2605 "Supplier Price Request converting in an order, pricefourn, pdf..."
1/ There is a problem when converting a supplier price asking in an order (like when you validate a proposal into an order) (bouton clôturer")
http://localhost/dolibarr/fourn/commande/card.php?action=create&origin=askpricesupplier&originid=1&socid=639
RESULT is blank screen for me
http://localhost/dolibarr/fourn/commande/card.php?id=

BUT it creates the order anyway.
http://localhost/dolibarr/four

[2015-04-14 12:42] rdoursenaud commented on #2587
Hi @IonAgorria,

Thanks for your interest in contributing to Dolibarr.

History have proved that factoring existing code is almost always easier and more valuable than rewriting from scratch.

AFAIK The preferred way for refactoring Dolibarr code is to PR small readable changes into the develop branch. @eldy may chime in to fill in more details.

SQL table name changes are not to be taken lightly

[2015-04-14 13:00] rdoursenaud commented on #2602
You certainly don't want stock to be decreased from the two warehouses at once. That would mean you remove 2 products from your inventory each time you sell 1.

[2015-04-14 13:04] rdoursenaud commented on #2592
I think this kind of issues would benefit from an "invalid" tag.
My 2 cents~

[2015-04-14 15:23] IonAgorria commented on #2587
And what about using the mentioned library for generating both direct debit and credit transfer while refactoring the rest of code?
That would imply to replace the current direct debit generator code, but having a common library for both would be nice.

[2015-04-14 16:45] rdoursenaud opened #2607 "Bug: exporting tasks time issues error"
version 3.6.2

Looks like a typo. PR incoming.

[2015-04-14 17:06] rdoursenaud opened #2609 "Bug: Adding "time spent" to a "project and tasks" export issues translation error"
Version: 3.6.x

Adding "time spent" to a "project and tasks" export (step 2) issues a warning message to the user containing an internal error pertaining to the translation class:

[code]

The token `ErrorBadValueForParamNotAString` should not appear.

It's also reused later in the interface at step 4 and 5.

[2015-04-14 18:03] #2607 closed, assigned to nobody

[2015-04-14 18:03] #2609 closed, assigned to nobody

[2015-04-14 21:51] rdoursenaud commented on #2587
Nothing against an external library to manage such excruciating things as SEPA details.

Refactoring existing code to keep duplication away is certainly the path to follow!

[2015-04-15 06:04] abhimanyumohan commented on #2602
The first situation

I have a product name X. When Invoicing , I am going to add 10 numbers of product X from 1st warehouse and 5 numbers of products X from 2nd warehouse. so when invoice is validated, It just asks for reducing it from any one of the warehouse. So later we have to manually correct stock again. which is quite troubling and time consuming.

Second Situation:
Product X and product Y

[2015-04-15 06:25] BebZ commented on #2602
use orders and manual ventilation of supplier's and customer's orders, no ?
If you want to keep track of stocks it's the only way I guess.
Or the Excel sheet.

[2015-04-15 09:30] rdoursenaud commented on #2602
Thanks, I understand the use case better now.

Automatically decreasing stock from multiple warehouses is not supported currently. You have to make separate invoices for each warehouse or manage stock manually.

Looks like you'd want to be able to select the warehouse the product has been taken from when inserting the lines.

This way it could work for the two use cases. Just insert two lines of t

[2015-04-15 14:05] atm-maxime commented on #2590
FYI, there's our module doing exactly this functionality : https://www.dolistore.com/fr/autres/381-Exp--dition-facturable-3-4-3-5.html

We can discuss it during devcamp if you want :)

Several options are available and subtotal module can be used with too.

Regroup shipments in one invoice
Adds title and subtotal for each shipment (need subtotal module)
Keep invoice as draft or automatically valid

[2015-04-15 14:40] BebZ opened #2612 "Photos / Pictures link not available after updating to 3.7"
Strange behaviour :+1:
it's possible to upload a picture / photo of a product from the product's photo's tab,
but it doesnt display any link to check the picture.
/product/photos.php?id=...

but it displays a message of success, file transfered to the server.
Le fichier a été transféré avec succès

if I check the server, the file is there BUT there's a difference in the path of the file uploaded i

[2015-04-15 16:31] eldy opened #2613 "Merge two thirdparties into one"
Add a new page to select third party to keep and thirdparty to delete (the duplicate record).
All objects linked to second thirdparty are moved into first one by doing an update set fk_soc = newid where fk_soc = oldid.
There is a loop onto a list of all tables that contains a field fk_soc.

So once this is done, the second third party can be deleted.

[2015-04-16 06:17] BebZ commented on #2613
Woah ! Eldy is magic !

Would it be possible to have a page to merge "products" ?
Sometimes you create 2 products, as you do for thirdparties, not knowing there's already an existing one. and you put it on proposal, orders, invoices... so you can't delete one of the 2 almost same ref anymore.
a loop onto a list of all tables containing the field fk_product ?

I will open a new feature request is y

[2015-04-16 06:26] BebZ commented on #2596
why so much hate of the Notes on the page, it makes a clic less when we want to edit it.
and users forget less to fill it when it's already in front of their eyes. Except if the field is mandatory.

[2015-04-16 06:40] BebZ commented on #2612
@darkjeff @eldy  Maybe ?
https://github.com/Dolibarr/dolibarr/commit/90d47cffae315f235aadb77373f8e0aaa553de6c#diff-fe61cc4ccf92c29cf5236bfdfb0b6aa0L62

[2015-04-16 13:20] pat15 opened #2615 "Limit sales representatives permissions to their elements"
Hi,

I think that would be a nice option if We can change permissions to module proposals, orders, invoices in this same way like in Third Parties - Extend access to all third parties (not only those linked to user).

The situation:
I have user. I want give him access to read / see all third-parties but i want he can read only this proposals, orders, invoices which ale linked to third-parties link

[2015-04-17 01:56] IonAgorria commented on #2587
My approximated plan is:
- move those SQL Select in pages to classes
- separate code for each table in their corresponding class (at this moment for example lignes has no CRUD methods, bons class accesses the lignes table...)
- create tables and classes for transfers (Im not still sure if to make them similar to prevelement ones)
- use the pages and add some way for switching classes between preve

[2015-04-18 08:02] marcosgdf commented on #2601
[code]

[2015-04-18 08:10] grandoc opened #2624 "Clone supplier invoice fails"
loose label and get a free line with 0.00 amount

[2015-04-18 08:52] marcosgdf commented on #2612
What do you mean? I get this when I upload a photo to a product.

![captura de pantalla 2015-04-18 a las 10 52 33](https://cloud.githubusercontent.com/assets/168744/7214727/0ea7aace-e5b9-11e4-8777-5cc5fd4a0b27.png)

[2015-04-18 08:53] marcosgdf commented on #2603
Duplicate of #2598

[2015-04-18 08:54] simnandez commented on #2603
Same #2598

[2015-04-18 08:54] #2603 closed, assigned to nobody

[2015-04-18 09:09] novalore commented on #2584
[DevCamp 2015]We're working on the issue this morning with  @tbasilici .
The idea is to have a tool that is able to detect duplicate as well as unused language keys (in en_US files by default).

[2015-04-18 09:42] marcosgdf opened #2630 "Error when entering a very long constant name in Configuration > Misc"
Versions:
- 3.6
- 3.5 (Probably: not tested)

Name of the constant entered:

[code]

[code]

[2015-04-18 11:06] jfefe opened #2632 "Bad permissions on documents directory during install"
With a fresh install, documents directory is created with wrong permissions.
d--x--x--x

Later, there is error when trying to copy document templates

[2015-04-18 14:09] atm-maxime commented on #2630
I think this issue is present everywhere in Dolibarr. In a "Customer ref" field for example, you'll have the same behaviour. MySQL silently truncs the string, but posgresql is throwing an error...
I don't know what is the best way to fix this. I think we should have a maxlength everywhere set on inputs and fire errors when entry is somehow too long. I guess we should wait to have a global system a

[2015-04-18 14:10] atm-maxime commented on #2624
Clone doesn't fail, it's the editline that fails. It empties the current line and creates an empty new one

[2015-04-18 14:11] atm-maxime commented on #2599
This is a menu issue. If only the supplier module is activated, the commercial and financial top menus should appear. It's not the case for the financial menu.

[2015-04-18 14:27] #2598 closed, assigned to nobody

[2015-04-18 14:27] #2601 closed, assigned to nobody

[2015-04-18 16:21] marcosgdf opened #2640 "Bug: Unable to install with PostgreSQL"
Version: develop

[code]

[2015-04-18 16:48] marcosgdf opened #2644 "Bug: Untranslated title, intervention object name and months of the date selector in /societe/consumption.php"
Version: develop at a5ba7c664ea55bcd27f28d9dce07570c0ae270fd

![captura de pantalla 2015-04-18 a las 18 50 28](https://cloud.githubusercontent.com/assets/168744/7216330/d3f07d28-e5fb-11e4-83d6-439d1bb0fc3a.png)

[2015-04-18 16:55] marcosgdf opened #2646 "Make Objectline_add form in object card behave like the rest of Dolibarr"
Version: develop

![captura de pantalla 2015-11-07 a las 15 49 08](https://cloud.githubusercontent.com/assets/168744/11015667/1dff82d2-8567-11e5-8e00-f8ce9fa58e74.png)

[2015-04-18 17:16] #2644 closed, assigned to nobody

[2015-04-18 18:05] marcosgdf opened #2652 "Bug: Arbitrary expression in empty used in /societe/soc.php:2272"
Version: develop

Arbitrary expressions in empty are only allowed since PHP 5.5+

[2015-04-18 18:47] fappels opened #2655 "Add new internal barcode engine 'tcpdf'"
Add new barcode engine which uses the build in tcpdf barcode encoding

[2015-04-18 19:17] rdoursenaud opened #2656 "Packages for NAS"
- [ ] QNAP
- [ ] Turnkeylinux
- [ ] OpenNAS
- [ ] Synology
- [ ] …

[2015-04-18 19:26] marcosgdf opened #2657 "Bug: CRITICAL Dolibarr is broken"
Version: develop at 25a996644d38dc96c15d748a25350d9a37825e9c

[code]

It seems to have broken because of 1598a5d3a6a27ce44d7d8d73583d07c96776fe5d

[2015-04-18 20:19] #2657 closed, assigned to nobody

[2015-04-18 20:26] #2640 closed, assigned to nobody

[2015-04-18 20:39] #2584 closed, assigned to nobody

[2015-04-18 20:57] FHenry commented on #2624
Seems to work right now

[2015-04-18 21:14] #2652 closed, assigned to nobody

[2015-04-18 22:40] marcosgdf opened #2666 "Wrong install wizard redirection"
Version: develop

If you are in some page of Dolibarr like '/comm/propal/note.php' and then remove the file conf/conf.php, it is expected that Dolibarr redirects you to the install wizard. But it redirects you to http://dolibarr.local/comm/install/index.php, so you get a "File not found" error.

[2015-04-18 22:45] marcosgdf opened #2667 "Bug: SQL error "column c.total does not exist " in /comm/index.php"
Version: develop 2f853a56af0f7aea17bc7057ac166f97bf32ba7f

[code]

[2015-04-18 23:25] marcosgdf opened #2670 "Refactor FactureFournisseur addline and updateline to use FactureFournisseurLigne functions"

[2015-04-19 08:17] simnandez commented on #2670
Also add triggers and hooks system... We will have to update generally whole area of providers. It is very outdated.

[2015-04-19 10:06] atm-maxime opened #2676 "Separate permission for stock financial infos"
Today if the user has access to read stock, he can also see the PMP and valuation. These informations should be hidden if a specific right is not granted (stock->valuation->read ?)

[2015-04-20 13:10] Sebastian1984 opened #2681 "Install error with dolideb"
Hi, I tried to install  fresh dolideb and it is unable because it can't find php5-common so there seems to be something wrong.
tried to install fresh on debian wheezy dolibarr 3.7
Thx for fixing.
I think it has got a new adress because I also ran into this in 3.5.4 when trying to install it over the deb

[2015-04-20 13:16] Sebastian1984 commented on #2681
after installing it (php5 apache...) over synaptic all the packages it seems to work, but not out of the box

[2015-04-20 13:24] Sebastian1984 commented on #2681
Totally crap was unable to install over deb... will give it a retry... setting back the virtualbox

[2015-04-20 13:42] daviddolibar opened #2682 "imposiible create invoice after upgrade to 3.7"
Hi,
Today i was upgrading dolibarr from 3.6.2 to 3.7 in two different hosts.

All of them where upgraded ok but, later, when i try to create an invoce, the "bank that enter" field do not display anything and is impossible to continue creating an invoice.....

Thanks in advance.

[2015-04-20 14:46] #2682 closed, assigned to nobody

[2015-04-21 07:25] BebZ opened #2686 "Merge products feature"
Would it be possible to have a page to merge "products", created in double, or with similar properties that can be "merged" because one is stopped (out of stock and discontinued). ?
Sometimes you create 2 products, as you do for thirdparties, not knowing there's already an existing one. and you put it on proposal, orders, invoices... so you can't delete one of the 2 products anymore.
a loop onto a

[2015-04-21 07:37] BebZ opened #2687 "Adding extrafields to product Batch / Lot / Expiry Date"
@fappels said :
14/01/2015
Dispatching products can have a lot of parameters.
So I propose to add extrafields to productbatch and work like this:
In Product Stock Tab:
show list of batches with link on batch code.
When clicked, new card is shown with all parameters of batch including created extrafields.
The card will also contain the "correctstock" and "transfer" buttons like the stock card.
In S

[2015-04-21 07:38] BebZ commented on #2687
it is really closely related to
#2274 New: Added Extrafields for Supplier invoice lines and Supplier order lines

@aschio

[2015-04-21 07:48] marcosgdf commented on #2576
Already merged.

[2015-04-21 07:48] #2576 closed, assigned to nobody

[2015-04-21 07:49] marcosgdf commented on #2583
Already merged.

[2015-04-21 07:49] marcosgdf commented on #2577
Already merged.

[2015-04-21 07:49] #2577 closed, assigned to nobody

[2015-04-21 07:49] #2583 closed, assigned to nobody

[2015-04-21 07:53] marcosgdf commented on #2667
Fixed in #2668

[2015-04-21 07:53] #2667 closed, assigned to nobody

[2015-04-21 08:24] rdoursenaud commented on #2589
Closed by #2634

[2015-04-21 08:46] rdoursenaud commented on #2676
:+1:

[2015-04-21 09:06] braito4 opened #2688 "Permissions to create/edit bank accounts in thirdparties"
At some point if you use SEPA, if some change this data could make a big mistake; it will be wise had permissions and a log feature to watch what is going on there.

[2015-04-21 09:16] #2589 closed, assigned to nobody

[2015-04-21 09:18] eldy commented on #2632
Which package did you use ?
Do you still have pb with package 3.7 ?

[2015-04-21 10:12] eldy commented on #2666
I'am afraid there is no real solution to this.
If conf file is not here, there is no way to know what is relative url to use to find dolibarr. PHP-Apache does not provide any global variable for this. So code was done to work when url is the most common one, i mean the main page index.php.
If we use a redirect to /install/index.php and server is inside an alias http://myserver/myalias, then the re

[2015-04-21 12:33] rdoursenaud commented on #2632
No package, same result here straight from git.

[2015-04-21 20:32] simnandez commented on #2602
You must use the Shipments module and make orders and  corresponding shipments (you can decreasing product stock from multiple warehouses in the shipments). After you can make the invoice of complete order.

[2015-04-22 09:25] Sebastian1984 opened #2693 "Feature Request: Kullo# as encrypted email alternative"
Hi, I have an API  where they have a really easy to implement email alternative for encrypted communication.
https://www.kullo.net/protocol/http-api.html
this is the API, if it would be easy to make it work, this would be a really unique feature against all other ERP or CRM in the market, because they all send unencryptet.
We would enable our customers to send encryptet invoices to their customers

[2015-04-22 10:04] BebZ commented on #2693
And Dolimail can't send encrypted ?@guerrierk

[2015-04-22 10:21] marcosgdf opened #2694 "Bug: Warning: Invalid argument supplied for foreach() in commande.class.php on line 852"
Version: 3.7

An user from dolibarr.es forum at http://www.dolibarr.es/foro/viewtopic.php?f=18&t=2216&p=7779#p7779 is compalining about this problem. I was not able to reproduce it.

Steps:
1. Create a quote
2. Validate it
3. Close it (closed)

Warning: Invalid argument supplied for foreach() in C:\dolibarr\www\dolibarr\htdocs\commande\class\commande.class.php on line 852

[2015-04-22 10:26] Sebastian1984 commented on #2693
That is not the problem, but I found many people reluctant to make this step on exchanging public keys. Last projekt I needed to put up a complete Server including an enviroment where to exchange data. Ending that half of the people send me emails with very sensetive stuff because they are unable to use my server, because " I don't have time for this." So it is more about beeing easy to use at the

[2015-04-22 12:17] fappels commented on #2694
$this->errors does not always contain errors. We should make it an empty array in commonobject.class.php

[2015-04-22 13:32] aaujon opened #2696 "Adding complementary attribute fails if code is numerics"
Adding a complementary attribute for third parties (in module config page) fails without any messages if the field 'attribute code' only contains numerics.
Should be working or display an error message.
This bug is present in both 3.6.x and 3.7 release

[2015-04-22 13:53] aaujon commented on #2696
The limitation has been introduced by c69565fd69f826f3fc3c846a849f8e088828f4a1, but not properly checked when submiting the form to create the attribute

[2015-04-22 15:07] IvanBUL commented on #2518
Hi @BebZ ,did you find some free time to try extra fields on your environment ?

[2015-04-22 15:42] BKF29 opened #2697 "Bug: contact Bug"
Hello
![selection](https://cloud.githubusercontent.com/assets/12070402/7278480/0ae8b378-e916-11e4-9dfe-961cfd3b6e22.jpg)
![adre](https://cloud.githubusercontent.com/assets/12070402/7278636/f7066bce-e916-11e4-880d-12dcf508a400.jpg)

For a main customer there are 15 contacts Delivery.
With Dolibarr  3.7.0 version it is not possible to select a contact for shipping.
Dolibarr automatically selects the

[2015-04-22 16:08] rdoursenaud commented on #2697
AFAIK the status you point has nothing to do with it being picked or not.
It's the contact's general status, so its unrelated.

Now on the main defect: I believe one should not be able to pick more than one delivery contact. This makes no sense.

[2015-04-22 16:42] BKF29 commented on #2697
ok but we have an order with 15 different deliveries.
we must be able to select a different address for each shipment.
How can we do ?

[2015-04-22 16:48] simnandez commented on #2687
We are currently developing a module for the batch/ expiry date / sales deatline. You can test it if you have Dolibarr >=3.7.0 and you have activated MAIN_FEATURES_LEVEL to 2

[2015-04-22 16:52] simnandez commented on #2697
Put contact address Into each shippment?

[2015-04-22 17:11] BKF29 commented on #2697
yes but it does not work. It is always the last adress which is on the shipping

[2015-04-22 18:13] BebZ commented on #2687
Oh, I use it since centuries with Mobilid and my mobile phone + bluetooth barcode sanner :) for my stock, supplier receptions, and shipments, etc...
Maybe i was not clear, but it's a feat req. to know if some people is interested in having extrafields linked to a specific "batch", do you see what i mean ?
it's to add some more characterisitcs to "lots", maybe it's a bit too much details for a Doli

[2015-04-22 18:26] aspangaro commented on #2596
This module is deprecated in 3.8. A new module called Expense Report is present.

[2015-04-22 20:15] simnandez commented on #2687
Ops! Sorry, now I understand

[2015-04-22 21:41] #2694 closed, assigned to nobody

[2015-04-23 08:43] hannus07 commented on #2510
Problem solved, I have changed the language from South Africa to United Kingdom and now it is working.

[2015-04-23 08:43] #2510 closed, assigned to nobody

[2015-04-23 08:56] rdoursenaud commented on #2510
What do languages has to do with date management?

Still sounds like a bug to me!

[2015-04-23 09:12] rdoursenaud opened #2700 "Add default values for new per user calendar view"
version: develop

The new per user calendar view uses "Working time range" and "Working days range" values to build it's view.

The default values are sensible but I believe these should be available in the module's setup for the administrator to configure.

[2015-04-23 12:04] pat15 commented on #2615
Is there any chance to implement this modification? :)

[2015-04-23 13:06] eldy opened #2701 "Add support for categories on projects"
Implementation must work by copy and past of implementation used for thirdparty or product.

[2015-04-23 14:55] rdoursenaud opened #2703 "Factorize MenuManager to only have a single implementation"
The `MenuManager` class needs to be defined in an [interface](https://php.net/manual/language.oop5.interfaces.php) and an [abstract class](https://php.net/manual/language.oop5.abstract.php) other menus can inherit from rather than multiple implementations dynamically included at runtime which is hacky and messy.

[2015-04-23 15:06] rdoursenaud commented on #2703
Offensive code is here: https://github.com/Dolibarr/dolibarr/blob/4f3fe82e9383cdfcce70ef02ecc2bb3489d1fd1a/htdocs/main.inc.php#L874

[2015-04-23 17:56] rdoursenaud commented on #2701
PLEEAAAASSSE, no more copy/paste extravaganza. There's already more than enough already!
Make code generic enough to be shared.
How are you not tired of maintaining gazillion slightly out-of-sync versions of copy pasta?

[2015-04-23 19:14] eldy opened #2707 "Use select2 multiselect for sales representative selection into thirdparty card"
Feature request: Replace selection of sale represantative into thirdparty card to use multiselect (so select2 component).
This will allow to remove the page dedicated to selection of sale representative.

[2015-04-23 19:17] eldy commented on #2681
Does the dolideb package were downloaded from sourceforge ?

[2015-04-23 19:44] guerrierk commented on #2693
Hi all,

Dolimail use the dolibarr sending email configuration. If the Dolibarr is
able to send encrypted mail then Dolimail will be able too.

I have one question about your request : you want that the sent email from
dolibarr is globally encrypted or the file attached (order, invoice, or
other) ?

Thanks a lot ;-)

Kevin GUERRIER
Le 22 avr. 2015 12:04, "BebZ" notifications@github.com a écrit :

[2015-04-23 19:53] Sebastian1984 commented on #2681
Yes it was the dolideb from sourcefourge. But I had that problem before,
when I start a fresh machine of debian it simply doesn't find all
dependencies.... 3.5.4 and 3.7.0

Am 23.04.2015 um 21:17 schrieb Laurent Destailleur:

[2015-04-23 19:54] accett commented on #2701
It would be very harder make a branch writing Dolibarr in an Framework like
CakePHP?

Im new with this tool, but develop new request and debugging code is faster
and cleanner in this kind of tools, also the security is better.

What do you think?

Its so crazy like its seems?

By the way... how can I get the diagrams ER of the database? Sometimes I
need modify or add a field (no the extrafields) o

[2015-04-23 20:19] Sebastian1984 commented on #2693
globally encrypted... every other scenario has a flaw... the guy infront
of the computer.  It is a big topic here in germany. IT security, PRISM.
Would give us something that MS dynamics is not capable of...realy
unique value proposition.

Kullo is not email.
it is kullo.
striebig#kullo.net is my adress there, if you want to try you can talk
with me. They also make smartphone clients at the moment

[2015-04-23 21:44] rdoursenaud commented on #2701
@accett You can view/navigate the database model from a GUI tool like [MySQL Workbench](https://www.mysql.com/products/workbench/) or an advanced IDE (I use IntelliJ IDEA / PhpStorm).

[2015-04-25 05:56] Sebastian1984 opened #2710 "Postal mail / mass campaign"
Hi,
I would like to do some mail campaign, was already 2 requests in the forum.
http://www.dolibarr.org/forum/12-howto-help/24268-marketing-campaign
http://www.dolibarr.org/forum/12-howto-help/20209-marketing-campaigns
to send letters to members or leads or customers.
Best with odt modul to create this letter, but anything would be nice.
Or a predefined export function or something for massmailing

[2015-04-25 08:39] Sebastian1984 opened #2711 "Partnertime / localtime"
Hi, I wish to have a clock next to the partnercard
Story:
A customer mixed up timezones and called somebody at 3 am. Somebody was angry.
 And then I remembered, that it happened to me also because of timezones missing calls, interviews.
And then stories from other people getting calls in the middle of the night, with some minor question.
Other scenario you get a call and you are already on a party

[2015-04-25 12:23] matlopes opened #2712 "Members export fails"
Adherent export gets an error at step 3:
Dolibarr a détecté une erreur technique.
Voici les informations qui pourront aider au diagnostic:
Date: 20150425142146
Dolibarr: 3.7.0
Niveau de fonctionnalités: 0
PHP: 5.5.9-1ubuntu4.9
Serveur: Apache/2.4.7 (Ubuntu)
OS: Linux dell 3.13.0-49-generic #83-Ubuntu SMP Fri Apr 10 20:11:33 UTC 2015 x86_64
UserAgent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:37.0

[2015-04-25 13:20] eldy commented on #2711
This requests contains 2 different changes:
- first one is easy, we must just show "current local time" of partner near its country information.
- second part need a new module "Opened business time". This would add a new tab to define start and opened hours for business time. A good topic for a new module development.

[2015-04-25 14:07] eldy commented on #2712
Did you used an old predefined export with a previous versious version ?
You probably have to redefine it.

[2015-04-25 16:49] Sebastian1984 commented on #2711
Sorry that I mixed it up. Had forgotten that "current local time" is
ready to use. Then if it is that easy lets try it and ask how people
think about it, maybe the other feature is waste, even if i would really
like it.
Am 25.04.2015 um 15:20 schrieb Laurent Destailleur:

[2015-04-26 09:01] javieralapps4up opened #2713 "Bug: 3.7.0 mailing-unsubscribe.php not unsubscribe"
Wrong line 89: $sql = "UPDATE ".MAIN_DB_PREFIX."socpeople SET no_email=1 WHERE rowid IN (SELECT sc.rowid FROM ".MAIN_DB_PREFIX."socpeople AS sc INNER JOIN ".MAIN_DB_PREFIX."mailing_cibles AS mc ON mc.tag = '".$db->escape($tag)."' AND mc.source_type = 'contact' AND mc.source_id = sc.rowid)";

Reason:  In mySQL, you have to create another layer of abstraction when trying to update a table with value

[2015-04-26 10:45] Sebastian1984 opened #2714 "BUG:Members -> Memberxy-> Agenda -> technical Error"
Hi, so we tried a new dolibarr (thanks france! ) And I have got a new member account and got a new password. So I went to Members -> my own card -> and saw this in Agenda.

Aktionen zu diesem Mitglied (Actions for this Member)

( ! ) Xdebug: user triggered in /home/dolibarr.de/dolibarr/htdocs/core/lib/functions.lib.php on line 2490
Call Stack
# Time    Memory  Function    Location

1   0.0005  144

[2015-04-26 13:17] fappels commented on #2655
Reason for this request, new Dolibarr users often start generating EAN13 or ISBN codes without following the EAN guidelines described in http://wiki.dolibarr.org/index.php?title=Module_Barcode. This because the other commonly used codes like C39 or C128 are not included in the standard Dolibarr installation. So I will like to add more barcode types to the basic Dolibarr installation.

Started some

[2015-04-26 15:12] matlopes commented on #2712
Maybe i did. I don't know.

This time, i just checked "all fields", at step 2, not using any predefined export.

Here's what i get at step 3, at the "Type d'adhérent Id type adhérent" [fr] line:

Dolibarr a détecté une erreur technique.
Voici les informations qui pourront aider au diagnostic:
Date: 20150426170739
Dolibarr: 3.7.0
Niveau de fonctionnalités: 0
PHP: 5.5.9-1ubuntu4.9
Serveur: Apache/2.

[2015-04-26 23:08] marcosgdf opened #2715 "Statistics page has broken layout with long thirdparty names"
Version: 3.5.6 and 3.6.3

To reproduce it:
1. Create a third with a very long name, like "THis is a very long nameTHis is a very long nameTHis is a very long name"

![captura de pantalla 2015-04-27 a las 1 07 38](https://cloud.githubusercontent.com/assets/168744/7339730/de5d38e4-ec79-11e4-9ba7-f297f51bb925.png)

[2015-04-27 01:21] eldy commented on #2713
Can you try this instead
$sql = "UPDATE ".MAIN_DB_PREFIX."socpeople SET no_email=1 WHERE rowid IN (SELECT source_id FROM ".MAIN_DB_PREFIX."mailing_cibles WHERE tag = '".$db->escape($tag)."' AND source_type='contact' AND source_id is not null)";

[2015-04-27 07:34] javieralapps4up commented on #2713
Perfect! (and better)

[2015-04-27 09:18] eldy commented on #2655
Great !!  I am waiting for the PR :-)

[2015-04-27 09:47] eldy commented on #2714
A fix has been done. Ask an upgrade of your instance with patch #2714

[2015-04-27 15:03] Sebastian1984 opened #2717 "Opensurvey with enddate today or in the past leads to technical error"
Result:
( ! ) Xdebug: user triggered in /home/dolibarr.de/dolibarr/htdocs/core/lib/functions.lib.php on line 2490
Call Stack
# Time    Memory  Function    Location

1   0.0006  185388  {main}( )   ../card.php:0
2   0.0880  4566596 dol_print_error( )  ../card.php:49
3   0.0920  4603376 xdebug_print_function_stack ( ) ../functions.lib.php:2490
Das System hat einen technischen Fehler festgestellt.
Di

[2015-04-27 16:16] #2713 closed, assigned to nobody

[2015-04-27 16:36] rdoursenaud opened #2718 "[Export] [Projects and tasks] Task label missing"
We can export tasks reference and description but not the label.

The label holds the most valuable information of the task.
It should be made available for export.
Qualifies as a bug IMHO.

[2015-04-27 17:03] rdoursenaud opened #2719 "The time in the log tab does not display AM or PM."
Version: 3.6.2

When using Dolibarr in English the time in the logged dates is missing the AM or PM discriminent.
I.e:
- 18h59 is displayed 06:59
- 6h59 is displayed the very same 06:59

[2015-04-27 17:52] #2714 closed, assigned to nobody

[2015-04-27 22:21] braito4 opened #2720 "Bug: ErrorWrongValueForParameter when you try to add a user to a task"
# Environment
- **Version**: 3.7.0
- **OS**: Darwin
- **Web server**: Apache
- **PHP**: apache2handler 5.6.7
- **Database**: MySQL 5.5.42
- **URL**: /dolbeta/projet/tasks/contact.php?id=18
# Report

if you try to add your own user to a task, this error appears.
If it is other user, it works

[2015-04-27 22:33] braito4 commented on #2720
2015-04-28 00:28:54 DEBUG   ::1             sql=SELECT u.rowid, u.lastname, u.firstname, u.email, u.job, u.skype, u.signature, u.office_phone, u.office_fax, u.user_mobile, u.admin, u.login, u.note, u.pass, u.pass_crypted, u.pass_temp, u.fk_societe, u.fk_socpeople, u.fk_member, u.fk_user, u.ldap_sid, u.statut, u.lang, u.entity, u.datec as datec, u.tms as datem, u.datelastlogin as datel, u.dateprevi

[2015-04-28 08:33] Sebastian1984 opened #2721 "Opensurvey with login"
Hi,
I found some tools like this http://sharepointrelated.com/2013/01/25/get-all-subsites-of-a-subsite/ that collects all subsites of a website. So this would collect also our surveys of opensurvey.(I guess / Great I guessed wrong, thanks rdoursenaud) ---- no security issue, I guessed wrong---
I checked if Dolibarr kills the expired survey links. 3.7. obviously doesn't, so this tool is not safe fo

[2015-04-28 13:36] BebZ opened #2724 "External user can have access to supplier's products, but not to products"
It's a strange behaviour, an external user can access Produit fournisseurs
![image](https://cloud.githubusercontent.com/assets/3694135/7370694/375dbaf2-edbc-11e4-8cd6-6df51f5a7313.png)

but not product/list.php
![image](https://cloud.githubusercontent.com/assets/3694135/7370704/4881b3b0-edbc-11e4-8a84-dbdfdca79243.png)

[2015-04-28 20:34] ndrosis commented on #2656
Hi  @rdoursenaud  i will try next week to create a package for Synology.

[2015-04-28 21:10] rdoursenaud commented on #2656
Hey @ndrosis.
I just reported it during last devcamp while we were video conferencing with the new german community manager.
He thought these were good outlets to help the software gain popularity.
AFAIK @defrance has already worked on something for the Synology platform. I just forgot to ping him…

[2015-04-29 19:15] BebZ opened #2727 "Project can't link supplier orders ?"
I can link to a supplier's invoices but not a supplier's order on the projects module..

when you leave the third "blank" and you activate the
 PROJECT_CAN_ALWAYS_LINK_TO_ALL_SUPPLIERS
then it displays some supplier's orders,
but for my part, not after october 2012 (CF1210148)
Also, not all supplier's orders are available (because of status?)
AND finally, you can't select it to add it to the proje

[2015-04-29 23:29] jfefe opened #2728 "Database fields encryption"
After an installation and when activating $dolibarr_main_db_encryption $dolibarr_main_db_cryptkey into conf.php all modules are disabled.
How does the encryption works? encrypt() method which convert a string into sql formatted string https://github.com/Dolibarr/dolibarr/blob/develop/htdocs/core/db/mysql.class.php#L478

[2015-04-30 09:41] rdoursenaud opened #2729 "[Export] [Projects and tasks] Can't export projects without a third party"
Third party is not a required field to create a project.
But projects that are not linked with one are not exported.

[2015-04-30 09:57] rdoursenaud opened #2732 "Travis is broken"
All pull requests are in a false positive state.

Looks like it does not want to work with MySQL 3.6

Log excerpt:

[code]

[2015-04-30 10:18] simnandez commented on #2732
I think this is a travis problem:
"In light of reported errors, we are going to cancel the 2015-04 updates at 1300 UTC 2015-04-28. Details: https://twitter.com/traviscistatus/status/592902357144498176"

Before doing anything we should expect ...

[2015-04-30 10:22] rdoursenaud commented on #2481
I'd like to separate the "Bug" label from the urgency labels ("Minor", "Major", "Critical","Security").
This way we can use the same urgency labels on "Feature Requests" and remove the "Feature Request High Priority" label.
This will allow more granularity when filtering issues and will be true to the label paradigm.

Eg: I want to work on all security issues
I just filter on the "Security" tag an

[2015-04-30 10:39] simnandez commented on #2481
For my part, no arguments against. Although I would add "Blocking" label.

[2015-04-30 11:01] rdoursenaud commented on #2732
Good catch!
Lets see if it resolves itself…

[2015-04-30 11:06] ndrosis commented on #2481
I think must be there a detailed description of the "BUG"
example

Version: Dolibarr
Version: PHP
Version: Dadabase
Host: Linux, Windows, Mac or Web Hosting

[2015-04-30 11:21] simnandez commented on #2481
You can see and use the #2704

[2015-04-30 11:28] abilbaotm opened #2733 "Default barcode can not be set"
In the configurations of bar codes the default barcode for products and coustomers can not be set.
After clicking apply the change is lost.
Dolibarr 3.7.0
![captura](https://cloud.githubusercontent.com/assets/12185014/7411879/c7e9240e-ef3c-11e4-8dde-46e4aff7dd96.PNG)

[2015-04-30 12:34] rdoursenaud commented on #2727
Linking a supplier order to a project is done from the supplier order.

Also PROJECT_CAN_ALWAYS_LINK_TO_ALL_SUPPLIERS is a hidden feature so it's unsupported.

[2015-04-30 12:36] abilbaotm commented on #2733
Ok. The problem is half solved.
The problem is that the module tries to modify a line of the database that does not exist.
I create the line manually and works but i can not modify the default value via web interface.
INSERT INTO `facturas`.`fac_const` (`rowid`, `name`, `entity`, `value`, `type`, `visible`, `note`, `tms`) VALUES (NULL, 'PRODUIT_DEFAULT_BARCODE_TYPE', '1', '2', 'chaine', '1', NULL,

[2015-04-30 12:39] rdoursenaud commented on #2499
Making the country field mandatory on third party creation could mitigate this problem in a simple way.

[2015-04-30 12:50] braito4 commented on #2727
...You can't add a supplier order when you create it; but when the supplier is already created you are able to add it.

[2015-04-30 12:51] rdoursenaud commented on #2518
Confirmed.
Simple extra fields (string, int) work properly but as soon as a select exists all the extra fields replacement in ODTs stop working.
I suspect an SQL issue.

[2015-04-30 12:53] rdoursenaud commented on #2524
If that's the case, the implementation can be improved by making the delay exponential with the number of failed login attempts.
:+1:

[2015-04-30 13:10] rdoursenaud commented on #2482
I propose that we use milestones to organise features, bug fixes and pull requests we want in a particular release.

Only Yodas (@eldy @simnandez) would be allowed to decide whether a particular feature or bug has to go in a milestone unless the issue is security related or critical — these issue automatically qualifies for milestone integration once verified.

Putting pull requests under mileston

[2015-04-30 13:13] rdoursenaud commented on #2579
@braito4 can you please confirm @marcosgdf fix is working for you?

[2015-04-30 13:17] rdoursenaud commented on #2590
@atm-maxime would you be so kind as to integrate you module upstream? :p
Also any useful devcamp discussion to report?

[2015-04-30 13:19] rdoursenaud commented on #2596
I agree with @aspangaro. This module being deprecated, I don't believe it's wise to invest in it.

[2015-04-30 13:30] rdoursenaud commented on #2599
Not a bug.
The button creates a supplier invoice.
Supplier invoices are part of the same supplier module as supplier orders so they are available at the same time.

I don't have any menu issue either on a fresh 3.7 install: commercial and financial are both shown correctly.

Can we close the issue @marcosgdf?

[2015-04-30 13:33] rdoursenaud commented on #2602
Thanks for the insight @simnandez. I didn't think of that option.

Would this fit your workflow @abhimanyumohan?

[2015-04-30 13:36] rdoursenaud commented on #2605
@BebZ Can you tell us which version is affected?

This also look like 4 different issues.
If you think they are related enough to be fixed together, you can organise them better using a [list](https://github.com/blog/1375%0A-task-lists-in-gfm-issues-pulls-comments) as a summary of your issue.

Else, please create a different issue for each. This makes thing more manageable for the core team.

Than

[2015-04-30 13:41] rdoursenaud commented on #2612
File appears in the right path for me and provide a link to the picture in the form //viewimage.php?modulepart=product&entity=1&file=%2FProductRef%2Ftestfile.jpg

MAIN_GENERATE_PROPOSALS_WITH_PICTURE is an hidden feature and unsupported as such.

[2015-04-30 13:43] braito4 commented on #2579
Yes it's fixed. Works fine

[2015-04-30 13:46] #2579 closed, assigned to nobody

[2015-04-30 14:02] rdoursenaud commented on #2630
I agree with @atm-maxime. Setting maxlength on inputs is the way to go.

Can we make this a feature request?

[2015-04-30 14:08] rdoursenaud commented on #2632
Reverified today. 3.7 is not affected, only develop.

[2015-04-30 14:16] rdoursenaud commented on #2632
Regression is introduced by 2ec55952 which introduced a new `$newmask` parameter to the `dol_mkdir()` function.
The problem is that it defaults to `$conf->global->MAIN_UMASK` which does not exist at installation time.

[2015-04-30 14:24] rdoursenaud commented on #2646
I believe this is a developer feature request.
You'd want to have it in a template, right?

[2015-04-30 14:27] jpfox opened #2736 "French fiscal services needs special accounting export (FEC)"
Hi,

Is it possible to export accounting data as needed by french fiscal services ?

Here is a description of theses files : http://bofip.impots.gouv.fr/bofip/9028-PGP.html

A test tools : http://www.economie.gouv.fr/dgfip/outil-test-des-fichiers-des-ecritures-comptables-fec

Thank you for your help.

[2015-04-30 14:27] rdoursenaud commented on #2666
Can't we use the known path of the caller to infer the install directory path?
In the example given, we know where comm/propal/note.php is supposed to be located relative to the install/ directory.

[2015-04-30 14:30] IvanBUL commented on #2518
Hello @rdoursenaud thank you for your effort to try it ,i hope that soon we can have resolution to this problem it will be a really good if we can use this option : )
10x and awaiting for more update when possible

[2015-04-30 14:39] rdoursenaud commented on #2733
Unable to reproduce.
It's strange that you have a `fac_const` table here. The table is supposed to be `llx_const`…

[2015-04-30 14:41] rdoursenaud commented on #2579
Thanks :)

[2015-04-30 14:43] rdoursenaud commented on #2736
Dolibarr is **not** an accounting software so it's unlikely we'll ever have that even if it contains _some_ accounting informations. Plus being a FLOSS software, it will never comply with the rules enforced by the fiscal administration.

[2015-04-30 14:47] abilbaotm commented on #2733
The table prefix was changed at the installation of dolibarr. Instead of fac_const use llx_const
Any way thanks.

[2015-04-30 14:49] rdoursenaud commented on #2733
Oh, sorry. I didn't even think you could choose `fac_` as your table prefix!
Anyway, if you have a reliable way to reproduce it from a new install, I could look into it.

[2015-04-30 14:52] jpfox commented on #2736
Thanks for your quick answer.
Which accounting software do you recommend, easy to interface with Dolibarr ?

[2015-04-30 14:56] rdoursenaud commented on #2688
I see two features.
Any chance you can move the logging into a separate issue to keep things neat?

[2015-04-30 14:57] rdoursenaud commented on #2693
I believe this would be a neat feature if implemented as an external module.
I don't think this qualifies for core integration though…

[2015-04-30 14:59] rdoursenaud commented on #2696
The code introducing the regression is for all extrafields so I believe all extrafields are affected.

[2015-04-30 15:00] braito4 commented on #2688
ok

[2015-04-30 15:04] braito4 opened #2737 "Log for edit bank account's thirdparty information"
the edition of the bank account information belonged to a third party should have a log.
In case this changes cause a issue later

[2015-04-30 15:12] rdoursenaud commented on #2712
`fk_adherent_type` is a field from `llx_adherent` not a table. Strange error…

[2015-04-30 15:29] rdoursenaud commented on #2721
You're guessing wrong. The URL generated by OpenSurvey is a hash that will not be inferred by any tool unless they bruteforce it or have a direct link to follow.

It's available without authentication because the use case you expose was not taken into account during development.

I believe that what you want is to be able to create surveys that require authentication. Am I right?
Please update the

[2015-04-30 15:30] rdoursenaud commented on #2724
Cosmetic bug: the search fields should be hidden if the user does not have the permissions to use them.
Permissions are obviously correctly enforced on the pages.

[2015-04-30 15:32] rdoursenaud commented on #2728
You're supposed to enable them with the GUI at //admin/security.php
This ensures that the field are encrypted before activation.

[2015-04-30 15:38] rdoursenaud commented on #2728
Also the function you refer to seems to use deprecated and potentially insecure algorithms. See: https://security.stackexchange.com/questions/45838/is-why-should-you-avoid-aes-in-mysql-true

We should better use an application server (read PHP) implementation rather than relying on the database management system's function.
Another reason for this is the multiple database backend support. Not all

[2015-04-30 15:43] rdoursenaud commented on #2720
Unable to reproduce.
Could you try and reproduce it from a fresh install?
Also check your user login. `''` is a suspicious value at end of first log line.

[2015-04-30 15:54] rdoursenaud commented on #2736
Any reasonably modern software should do.

You can use the native advanced accounting module but it's still under heavy development and things are bound to break. It's also unsupported until stable.

Another option (but I may be biased since I'm the module author) is to use the accounting export module available at https://dolistore.com.

[2015-04-30 15:56] rdoursenaud commented on #2736
Then it's your accounting software's duty to provide the FEC report and yours to keep the data up to date.

[2015-04-30 16:21] braito4 commented on #2720
In a fresh installation I'm not able to reproduce it... should I close this?

and about the login, I erased for security.

[2015-04-30 17:09] rdoursenaud commented on #2720
Yes, thanks. Feel free to reopen it if you stumble across useful debugging infos.

Small tip: next time you sanitize your logs put something useful in place of the value like `userloginhere` ;)

[2015-04-30 17:09] #2720 closed, assigned to nobody

[2015-04-30 17:11] braito4 commented on #2720
XD oki

[2015-04-30 18:14] rdoursenaud opened #2739 "Redesign permissions setup pages"
Users and groups permissions setup pages are cumbersome to use.
I believe that a checkbox based design would be faster to use and easier to read.
Checkboxes that are inherited from the group should be disabled.
If AJAX is enabled the permissions should be applied immediately else a global submit button should be made available.

Just to keep track of things:
- [X] admin/perms.php
- [X] user/group/

[2015-04-30 18:34] #2712 closed, assigned to rdoursenaud

[2015-04-30 18:37] BebZ commented on #2612
Aw, I am sorry for late reply... On my 3.7 version the photo doesn't
appear, nor the link.
Files are uploaded at the root of product documents folder, and doesn't
follow the naming of folders like 1/0/abc i had before...
It is quite a strange behaviour, maybe i'll ask to my host to reinstall the
3.7 "bugfree latest version" and this will disappear because even him, said
it was no problem except th

[2015-04-30 18:51] #2632 closed, assigned to rdoursenaud

[2015-04-30 19:02] #2718 closed, assigned to rdoursenaud

[2015-04-30 19:08] simnandez commented on #2482
I agree with Raphael, any objections?

[2015-04-30 19:35] simnandez commented on #2482
We could create a milestone "Next" to include issues in it that we do not have clear, which made for an upcoming version specifically

[2015-05-01 04:32] aspangaro commented on #2736
The problem in Dolibarr to be compatible with FEC data is the button "delete" in customer invoice for example.

The French fiscal services want what all data are blocked. If you want to cancel operation, you need to have a credit note.

Personnaly, I use Cegid Expert.

[2015-05-01 05:28] aspangaro opened #2741 "New module Expense Report - Email is not translated"
In the new module Expense Report (Dolibarr Develop), email is not translated. Still in French language.

It is hard-coded here : /expensereport/card.php

Example :

// SUBJECT
$subject = "' ERP - Note de frais validée";

// CONTENT
$message = "Bonjour {$destinataire->firstname},\n\n";
$message.= "Votre note de frais \"{$object->ref}\" vient d'être approuvé!\n";
$message.= "- Approbateur : {$expedi

[2015-05-01 07:06] tiaris opened #2743 "Bug in photo System"
in 3.7 products  photo storage system has been changed, why not.
But without a solution for users migrating from older versions.
They all will no more find pictures of their products. Big migration issue for many users ...

must be rapidly corrected

http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/52980-disparition-des-images-produits-dans-mon-stock#59841

[2015-05-01 09:27] jfefe commented on #2743
See also #2716

[2015-05-01 13:19] simnandez commented on #2743
The #2716 only patch a bug for the new photo storage system, but we have no script migration from the old system to the new system.

[2015-05-01 13:40] #2624 closed, assigned to rdoursenaud

[2015-05-01 14:02] #2729 closed, assigned to rdoursenaud

[2015-05-01 15:13] matlopes commented on #2712
The fix works perfectly. Thanks

[2015-05-01 15:59] tiaris commented on #2743
Yes Juanjo and this is a big hint for migrating older dolibarrs to 3.7 (and next versions).

[2015-05-02 12:06] fred151 opened #2748 "Price format on ODT template"
Hi developers, i'm new and hope to give a contributor for dolibarr.
In Dolibarr ERP 3.7.0 and under versions the price format on ODT template is "1000" without decimal. To solve this problem i changed some lines in the file htdocs/core/class/commondocgenerator.class.php

The language of dolibarr is set to Italian.

I Replace the function "price2num" to "price" from line 356 to 361 and from 513 to

[2015-05-02 13:26] tiaris opened #2749 "Shipments should not depend on stocks"
Seen on Forum
http://www.dolibarr.org/forum/527-bugs-on-a-stable-version/24794-errorwarehouserequiredintoshipmentline-on-delivery

Is it right to activate shipments module without any stock management .?

[2015-05-03 13:41] abilbaotm commented on #2733
After a fresh installation of dolibarr using DoliWamp seem to occur also the problem.
I've noticed that you can change the default barcode type if the module of products is disabled, otherwise is not possible to change the parameter.
![captura](https://cloud.githubusercontent.com/assets/12185014/7445235/bbcfee12-f1aa-11e4-8b51-e2506a4904e0.PNG)

[2015-05-03 14:32] abilbaotm opened #2754 "Make MAIN_JS_ON_PAYMENT a stable feature"
Hello!
If a customer has multiple pending invoices and is going to pay it simultaneously the operator of doli have to divide the payment into the multiple invoices manually.
I do not how to program this feature but this is how it could be:
![captura](https://cloud.githubusercontent.com/assets/12185014/7445409/d65d809e-f1b1-11e4-9007-6ddbd338cbca.PNG)
Ex: When the operator adds 15€ to the 'given' i

[2015-05-03 14:39] IvanBUL commented on #2518
Hi guys just t let you know in 3.7 this bug still exists

[2015-05-03 19:19] #2655 closed, assigned to nobody

[2015-05-04 01:17] marcosgdf opened #2757 "Deleting product category photo gives "Forbidden access" error"
Version: 3.5.6
Logged user is with admin rights.

Requested URL: http://dolibarr.local/categories/photos.php?id=1&action=delete&type=0&file=7%2F0%2F7%2Fphotos%2F1498115_717300101614973_1498850397_o.jpg

[2015-05-04 01:19] marcosgdf commented on #2748
Have you tried the _locale keys?

[2015-05-04 01:54] marcosgdf opened #2758 "Product::update sets product note to "null" when $prod->note is null"
Version: 3.5.6

When I call Product::update with a product that has the property `note` set to null, it stores `'null'` in the database, like:

![captura de pantalla 2015-05-04 a las 3 53 59](https://cloud.githubusercontent.com/assets/168744/7448108/408eff88-f211-11e4-8cf8-7076f0b6af9d.png)

When the rest of the fields remain empty when a null property is passed to them.

Executed SQL:

[code]

[2015-05-04 09:55] ndrosis commented on #2748
Hi @fred151 see the wiki dolibarr Amounts (in output format language) http://wiki.dolibarr.org/index.php/Create_an_ODT_document_template#Object_information_.28invoice.2C_commercial_proposal.2C_order.2C_....29

[2015-05-04 10:35] fred151 commented on #2748
I copied the original file htdocs/core/class/commondocgenerator.class.php and used the
object_total_ht_locale
object_total_vat_locale
object_total_ttc_locale

And all it's ok, thanks.

## OUTPUT for a product with price 10,00

// Amount (in output language format)
object_total_ht_locale = 10,00
object_total_vat_locale = 2,20
object_total_ttc_locale = 12,20

//Amount
object_total_ht = 10
object_tot

[2015-05-04 10:36] #2748 closed, assigned to nobody

[2015-05-04 10:43] atm-maxime opened #2762 "Global discount management"
Many people ask about a way to add a global discount to a document.
And there's a specific management to do with "escompte" that should appear after the including tax total.

[2015-05-04 11:54] marcosgdf commented on #2599
It seems to have been silently fixed.

[2015-05-04 11:54] #2599 closed, assigned to nobody

[2015-05-04 11:55] marcosgdf commented on #2612
Could this be related with #2743?

[2015-05-04 11:55] marcosgdf commented on #2646
Yes.

Well, I find it a "bug" because it does not meet Dolibarr UI standards. But it can be considered as a Feature Request.

[2015-05-04 12:26] tiaris commented on #2612
I think so, I have comitted a batch script to move photos from old directory to new. wainting for integration.
pictures are moved to new directory, but got errors for removing old empty directories (bug ? ). please test it in several contexts (win, mac, linux...)
We should also integrate this in product.class.php code for automatic migration

[2015-05-04 12:28] tiaris commented on #2743
I think so, I have comitted a batch script to move photos from old directory to new. wainting for integration.
pictures are moved to new directory, but got errors for removing old empty directories (other bug ? ). please test it in several contexts (win, mac, linux...)
We should also integrate this in product.class.php code for automatic migration

[2015-05-04 13:18] marcosgdf commented on #2630
Well but I think we have do make a distinction between constant name and constant value. Because constants are usually used by the developers, we must warn the developer that the constant with that name won't be saved... For users, a maxlength in the input of the constants page is OK for me.

[2015-05-04 13:33] marcosgdf commented on #2524
That would be great.

[2015-05-04 13:43] Darkjeff commented on #2524
Use failtoban on server side

captcha isn't enough

2015-05-04 15:33 GMT+02:00 Marcos García notifications@github.com:

##

_Olivier Geffroy__Consultant Informatique_

_Jeffinfo a 15 ans cette année
http://www.jeffinfo.com/ma-petite-entreprise-15-ans/-------------------------------------_

_Jeffinfo SARL__295 rue d'aire *_59660 Merville*

_jeff@jeffinfo.com jeff@jeffinfo.comGsm : 0608632740__Skype

[2015-05-04 13:58] marcosgdf opened #2763 "Go to document block after clicking in Generate document button"
When you have an invoice with a lot of lines, if you click the "generate" button, you have to scroll _a lot_ (depending on how many lines) to reach the document block. It would be nice if we have an anchor in the document block so that after clicking the generate button, the page goes straight to it.

[2015-05-04 14:12] simnandez commented on #2743
But ... What is the reason for changing photo storage system?  I see: With the new storage system and depending on the file system, we have limited creation of directories images for products, for example 32000 for a ext3 file system....

[2015-05-04 17:10] rdoursenaud opened #2764 "Create a team for each contributor rank"
Reference: http://wiki.dolibarr.org/index.php/Developer_FAQ

Could we create a team for each contributor rank and add known contributors to their respective teams?

This would allow assigning bugs to volunteers.

I believe only @Dolibarr/owners has the power to do that.

[2015-05-04 17:16] rdoursenaud commented on #2612
Oh, nice catch @marcosgdf. So this is an issue on the upgrade path to 3.7.
I believe we should mark #2743 as a duplicate (since this one predates it). What's our policy on duplicates @Dolibarr/owners ?

[2015-05-04 17:19] rdoursenaud commented on #2732
Looks like the issue resolved itself.

[2015-05-04 17:19] #2732 closed, assigned to eldy

[2015-05-04 17:22] rdoursenaud commented on #2630
Well for developers we are already covered by the fatal error message IMHO. I don't see any other way to warn developers, do you?

[2015-05-04 17:28] rdoursenaud commented on #2749
Yes, I think we should be able to ship orders without any stock management in place since one could want to print a shipment note for its package even if he's not managing his stock in Dolibarr.

[2015-05-04 17:31] tiaris commented on #2743
I don't know, we will now have a produit directory with many subdirs (one per ref), I know users with 60 000 references ...
Wheb I tested a beta (jan/feb), this update was not in the release, so I did ,ot test it

[2015-05-04 17:32] rdoursenaud commented on #2763
Yup, would be super nice! :+1:

[2015-05-04 17:42] rdoursenaud commented on #2743
Seems that this regression has been introduced in 553181a5d92a52bd3b2d22ddaac8525fc8290540.

[2015-05-04 18:09] marcosgdf commented on #2630
Yes... by returning false or a random negative number hehe.

Since Dolibarr does not use exceptions, developers are not able to catch DB errors...

[2015-05-05 07:01] tiaris opened #2767 "Migration to 3.7 emailing contents ar no more displayed"
Emailing content created in previous versions is empty after migration to 3.7

[2015-05-05 07:18] simnandez commented on #2743
I repeat: The new system is limited by the file system into subdirectories creation (ex: ext3 to 32000, ext4 to 64000), I think the best is maintain the old system by default and use hidden option for use new system (the opposite of how it is working now), @eldy What is the reason for the new system and that is by default?

[2015-05-05 07:20] tiaris opened #2768 "migration to 3.7 no wysiwyg editor available"
is it a a constrain of my php version on production server (5.3.3) ?

[2015-05-05 07:39] tiaris commented on #2768
Not an issue

[2015-05-05 07:39] #2768 closed, assigned to nobody

[2015-05-05 07:40] tiaris commented on #2767
not an issue solved

[2015-05-05 07:40] #2767 closed, assigned to nobody

[2015-05-05 08:41] tiaris commented on #2743
juanjo is right, because ther are user who manage big catalogs with Dolibarr, more than 64 000 references.
this new file system will not work for them.
We have to go back to old file system and as Junjo suggest it, add an option for thoose who want to use this new one.
I don't understand what is the sense of this new (and buggy) system file system

[2015-05-05 09:23] rdoursenaud opened #2769 "Missing translation of « Translation » in categories tabs"

[2015-05-05 11:15] hameau opened #2772 "Can't use RFC 2822 email adresses with display name anymore"
An email address in the format `John Smith <john.smith@gmail.com>` shows the alert `EMail John Smith <john.smith@gmail.com> is wrong`. This error appears in all displayed email address fields.

Dolibarr v3.7.0, upgraded with DoliDeb from v3.6.2.

This is a regression from previous versions.

[2015-05-05 12:10] accett commented on #2646
Also this form don't have the generate pdf format button in case the
contract have been modified.
El may 4, 2015 6:55 a.m., "Marcos García" notifications@github.com
escribió:

[2015-05-05 12:36] rdoursenaud commented on #2772
Could you please be a bit more explicit as to where the problem occurs (thirdparty card, contact card, emailing module?).

[2015-05-05 13:26] hameau commented on #2772
Sorry, more details.

Warning symbol (eldy theme) shows, for example, in the following views:
- Third-party
  - (societe/soc.php)
  - (comm/card.php)
  - Contacts/Addresses summary for these two views
- Contacts/Addresses card (contact/card.php)

These are for cases where an email address was already present in the third-party record before upgrading to v3.7.0.

Perhaps a greater issue, in v3.7.0

[2015-05-05 14:07] rdoursenaud commented on #2772
OK, I now better understand. It's a feature I had never experienced!
So this is a regression in 3.7 that don't interpret [RFC 2822](https://tools.ietf.org/html/rfc2822) display names as it used to.

[2015-05-05 14:41] rdoursenaud commented on #2772
I think it's been introduced in cfe35f32 which introduced stricter email address sanitization.
Don't know if it's a bug or a feature.
I kinda like that the string is better sanitized but I understand your frustration to see that a useful feature disappeared in the process.
We need an insight from @Dolibarr/owners

[2015-05-05 14:44] rdoursenaud commented on #2741
Fixing this bug might be a good time to leverage the new email templating system IMHO.

[2015-05-05 16:09] mariamanc28 opened #2773 "Proposal Bug when approve"
Hi, i note that from ultimat update of dollibar version, the proposal workflow non run correcly. In particular when i close an proposal and sign with "Signed" the status seems update, ma real not updated , the proposal is yet opened. The the workflow of not signed proposal run correctly. Can you verify?

[2015-05-05 16:12] hameau commented on #2772
Thank you for distilling my comments ! The title now accurately reflects my intention.

I understand the need to sanitise form input, but this is definitely a bug for me. In Dolibarr, the email field becomes a clickable `mailto:` link in the third-party and contact cards, so if a local mail client is used, the email field becomes the mail message `To:`.

[2015-05-05 18:04] #2769 closed, assigned to rdoursenaud

[2015-05-05 18:38] simnandez commented on #2612
This is previus but #2743 has more activity and best registry of the problem...  I thinks we should mark this as duplicate....

[2015-05-06 10:06] marcosgdf opened #2777 "External modules "depends" property is not respected when module is missing"
Version: 3.5.6 and 3.7.0 (maybe 3.6 and 3.8 are affected)

Given an external module with this piece of code in module descriptor:

[code]

As you can see, "modProducts" is incorrect because the correct name is "modProduct". So the module should not be enabled and an error message with the content "This module requires %s module but it is not available in your system" should be displayed.

[2015-05-06 16:16] tiaris commented on #2743
@Juanjo : you meen that a unix file system can not have more than 32000 or 64000 directories ?
This can become an issue also in Orders, shippments, Invoices documents storage. We should have a global reflexion and solution for all this.
Sure, most Dolibarr user have less invoices or orders, but it will happen one day for a dolibarr user...
So we should find a solution before !

[2015-05-06 16:37] simnandez commented on #2743
@tiaris : yes. ext3 file system can not have more than 32000 directories at the same level, ext4 and FAT32 64000, NTFS unlimited (in theory). I tested ext3 and ext4 only.

Good catch! propals, orders, invoices.... may have the same problem!

[2015-05-07 00:52] jfefe commented on #2743
Regarding http://kernelnewbies.org/Ext4#head-97cbed179e6bcc48e47e645e06b95205ea832a68 :

We must mention this bug (also with a big warning!), for me it's the same level than mysql bug if all images show off just after update.

[2015-05-07 07:25] simnandez commented on #2743
@jfefe the limit for ext4 is 64000. Until you enable the file system feature flag dir_nlink, only then will be unlimited.

[2015-05-07 07:43] hregis commented on #2743
@jfefe @simnandez @tiaris @rdoursenaud

Right now the maximum possible number of sub directories contained in a
single directory in Ext3 is 32000. Ext4 breaks that limit and allows a
unlimited number of sub directories.

[2015-05-07 08:16] studiostarstuff opened #2785 "Add product label to Third Parties - Customers Prices tab"
Hello!

i'm testing dolibarr 3.7.0 and i noticed after adding prices to a customer that the data shown in Customers Prices tab does not include a "label" for the products, it shows the product Ref only (i use numbers only in reference), it needs to show the product labels so one can quickly look up at the prices per customer.

im using the option DIFFERENT PRICE FOR EACH CUSTOMER,

you can find th

[2015-05-07 08:19] marcosgdf opened #2786 "Objectline_add template shows "0" for non-vat suppliers"
Version: 3.6.3

It shows "0" in VAT column instead of "0%".

![captura de pantalla 2015-05-07 a las 10 15 55](https://cloud.githubusercontent.com/assets/168744/7511037/3e45bfe4-f4a2-11e4-80ff-3931a81b9d0e.png)

[2015-05-07 08:27] studiostarstuff opened #2787 "Keyboard Shortcut Support"
Hello!

How about adding keyboard shortcut support? this will make you faster working with Dolibarr using the keyboard

Some examples of shortcuts are

Create Draft = Alt + C

Add new line -- [Add] = Alt + A

Validate = Alt + V

Create Invoice = Alt + I

Classify Paid = Alt + P

link below is my post in the forum
http://www.dolibarr.org/forum/11-suggest-new-features/24726-keyboard-shortcut-support

[2015-05-07 08:37] studiostarstuff opened #2789 "Import Customer Prices"
Hello!

i would like to request a way to mass/batch import of customer prices into Dolibarr, currently adding it one at a time, this request is similar to the import of Suppliers prices (of products or services) but for customers

Thank you Dolibarr Team!

[2015-05-07 08:44] rdoursenaud commented on #2785
File: //societe/price.php
In-place edition has the same defect than the list. Makes it difficult to assess which product we're working with.

[2015-05-07 08:55] studiostarstuff opened #2790 "Import updated Product data"
Hello!

Would it be possible to add an import for updated Product data? this is similar to importing Products but will be used only for products that needs to be updated regularly / mass update

i'm coming from a spreadsheet with the all the product data, i'm able to import most of the data successfully, the problem i see in the future is updating the prices and some product details, i use the spr

[2015-05-07 09:06] studiostarstuff opened #2791 "Support multiple Discount per Product per Supplier"
Hello!

This request is for computing multiple discounts per product per supplier, currently im using a spreadsheet to compute the multiple discount, the supplier gives you 2 or more discount depending on the item/contract agreement, sometimes the discount is crazy long like 5 or more, the formula i use in the spreadsheet is base price \* (1+ discount1) \* (1+discount2) \* (1+ discountN), it sort

[2015-05-07 09:15] marcosgdf opened #2792 "Move pdfgeneration hook out of pdf models"
The hook should be executed no matter the model includes it or not. It will also bring us the chance to modify the code in future versions without breaking it.

[2015-05-07 12:23] rdoursenaud commented on #2786
Needs testing on 3.5.6 and 3.6.3

[2015-05-07 12:25] rdoursenaud commented on #2789
FYI You can already do that with the product and service import.

[2015-05-07 12:29] rdoursenaud commented on #2481
I think we have a pretty robust system now.

[2015-05-07 12:29] #2481 closed, assigned to nobody

[2015-05-07 12:31] rdoursenaud commented on #2482
Can @Dolibarr/owners close the 3.7.0 milestone since the release is in the wild?

Other than that, the system's in a rather good shape.

[2015-05-07 12:31] #2482 closed, assigned to nobody

[2015-05-07 12:32] rdoursenaud commented on #2580
@simnandez Any reason you removed the labels on this issue?

[2015-05-07 12:37] rdoursenaud commented on #2612
OK, so I close this one.
Please add to the discussion at #2743.

[2015-05-07 12:37] #2612 closed, assigned to nobody

[2015-05-07 12:49] rdoursenaud commented on #2710
There was a DocumentGeneration module in development.
Not much work seems to have been done though… I can't seem to find any feature beyond the module descriptor.

[2015-05-07 12:54] rdoursenaud opened #2798 "[Special expenses] differentiate input and output taxes"
Rather than displaying sales or purchases taxes. Display them more meaningfully by input (collected), output (deductible) and non-deductible.

This is migrated from:
https://doliforge.org/tracker/?func=detail&aid=568&atid=247&group_id=144

[2015-05-07 12:57] rdoursenaud opened #2799 "[Core] Link files attached to an email to the parent object"
When sending an email from Doliball, the user can attach an arbitrary file.
Allow this file to also be stored as a linked file on the parent object (Proposal, Invoice…) so it's not forgotten.

[2015-05-07 12:59] rdoursenaud opened #2800 "[Core] Attach a linked file to an email."
When sending an email from Dolibarr, allow the user to select a file already linked to the parent object as an attachment.

This is the reverse of #2799.

[2015-05-07 13:00] rdoursenaud commented on #2800
Migrated from https://doliforge.org/tracker/?func=detail&aid=1569&atid=247&group_id=144

[2015-05-07 13:23] simnandez commented on #2580
@rdoursenaud Yes, a regression in the labels reorganization

[2015-05-09 10:34] marcosgdf opened #2802 "Remove message "not found user" in login page when coming from an old session"
Version: 3.5.6.

When you are a logged user and you change database in the config, Dolibarr redirects you to the login page (as it should) but it gives a message that the user wasn't found. It is better to just "finish" the session and ask the user to log in again.

![captura de pantalla 2015-05-09 a las 12 29 45](https://cloud.githubusercontent.com/assets/168744/7549814/bb022cce-f647-11e4-9452-04

[2015-05-09 23:01] marcosgdf commented on #2786
Happening in 3.6.3 too. 3.5.6 is not having the same behaviour:

![captura de pantalla 2015-05-10 a las 1 01 00](https://cloud.githubusercontent.com/assets/168744/7552354/0bc82646-f6b0-11e4-9dd2-4e229385c54f.png)

[2015-05-09 23:10] marcosgdf commented on #2715
Also happening in 3.5.6

[2015-05-09 23:15] marcosgdf commented on #2757
Not able to reproduce it anymore

[2015-05-10 00:09] marcosgdf commented on #2717
Happening also in 3.6.3

For some reason this bug was introduced in commit 41ab5a0ce2e4473f1a68641e7d36837a4469cd0e. @eldy: Can you give us a clue why was the test removed?

[2015-05-10 00:26] marcosgdf commented on #2733
Cannot reproduce. Could this problem be related with DoliWamp?

[2015-05-10 00:28] marcosgdf commented on #2773
Tested with 3.7.0 and it works OK for me. Could you check the log to see if there is any error? Have you got any external module enabled?

[2015-05-10 10:30] marcosgdf commented on #2613
This can be closed as the PR is already merged.

[2015-05-10 11:05] marcosgdf opened #2807 "Form::formconfirm with ajax=1 does not submit values of forms with "other" type"
Version: develop

Given this piece of code:

[code]

`soc_origin` value is never submitted to the destination page

[2015-05-11 08:37] mariamanc28 commented on #2773
i don't have external module active on proposal, i have active in another part of dolibar external module.  You have testing complete workflow? because when i upadate a proposal as sign, the next step appear me that proposal are signed,infact the check change color, but when i select list of proposal active that proposal appear me again.  i make you a screen if necessary. how i can read the log?

[2015-05-11 09:28] mariamanc28 commented on #2773
i have find error:  DoliDBMysqli::query SQL Error message: DB_ERROR_NOSUCHFIELD Unknown column 'namecostume' in 'field list'
2015-05-11 10:41:42 ERR     93.57.79.98      Interfaces::run_triggers action=PROPAL_CLOSE_SIGNED Files found: 7, Files launched: 4, Done: 1, Failed: 1
2015-05-11 10:42:34 ERR     93.57.79.98      Contact::fetch
2015-05-11 10:42:34 ERR     93.57.79.98        DoliDBMysqli::que

[2015-05-11 10:32] marcosgdf opened #2810 "Show warning sign in homescreen if dolibarr database version differs from actual dolibarr version"
Because you cannot notice this until you access "Info Dolibarr" page, it would be _very_ nice to warn the user in the homescreen when the dolibarr database version differs from the version of the code.

![captura de pantalla 2015-05-11 a las 12 30 43](https://cloud.githubusercontent.com/assets/168744/7563024/ba8327a6-f7d9-11e4-8b10-37b5dd6213db.png)

[2015-05-11 12:30] rdoursenaud commented on #2773
Modifying the database schema and/or the code is unsupported. You should use the attributes or a custom module if you need extra data.

[2015-05-11 12:30] #2773 closed, assigned to nobody

[2015-05-11 12:32] rdoursenaud commented on #2786
I don't see how 3.5.6 behavior is not correct. What's expected?

[2015-05-11 12:34] rdoursenaud commented on #2802
I agree that revealing privileged information (user exists or not) is bad.
I'd raise this as a security issue if anyone can reproduce with a forged cookie (I presume that's where the session information is stored) without previous authentication.

[2015-05-11 12:37] rdoursenaud commented on #2810
IMHO even logging-in shouldn't be allowed with such discrepancies.

[2015-05-11 12:38] mariamanc28 commented on #2773
i have used att5ribute of module proposal for create filed! and before upgrade on ultimate version all are run correcly! now what i do? i use attribute of original module, please help me for resolve the problem. before update all run

[2015-05-11 22:09] #2758 closed, assigned to nobody

[2015-05-12 07:35] marcosgdf commented on #2773
Maria, you must try to give us as many information as possible to diagnose the error. From the logs I can see something is trying to write into a non-existing field. An update wouldn't erase erase complementary attributes.

[2015-05-12 07:37] marcosgdf commented on #2786
The problem is not in 3.5.6 but in 3.6.2. I tested in 3.5.6 but since the objectline_add has changed so much between those versions, it only happens since 3.6.

[2015-05-12 07:56] marcosgdf opened #2814 ".jpeg photos are not displayed in Product photos page"
Version: 3.5.6

Try to upload a .jpeg photo to a product or a category. Nothing happens.

[2015-05-12 16:56] atm-maxime commented on #2764
:+1:

[2015-05-12 18:08] rdoursenaud opened #2820 "Class name of the resource module's CRUD is reserved"
The classname `Resource` is reserved in PHP for [resources](https://php.net/manual/fr/resource.php) (file handlers, database handlers, sockets…).
Using it messes with type hinting in IDEs.
I think it should be renamed to something like `DolResource`.
ping @jfefe

[2015-05-12 18:35] rdoursenaud commented on #2786
Ok, sorry, didn't understand you correctly.

[2015-05-12 18:49] jfefe commented on #2764
:+1:

[2015-05-12 18:53] jfefe commented on #2820
:(

Ok I'll do this asap.

[2015-05-12 19:11] jfefe opened #2821 "Line to setup MAIN_BUGTRACK_ENABLELINK should be always visible"
# Environment
- **Version**: 3.7.0
- **OS**: Linux
- **Web server**: Apache/2.2.22 (Debian)
- **PHP**: fpm-fcgi 5.4.40-1~dotdeb+wheezy.1
- **Database**: MySQL 5.5.37-0+wheezy1
- **URL**: /Dolibarr/dolibarr-3.7/htdocs/admin/const.php
# Report

Into admin setup, line for set MAIN_BUGTRACK_ENABLELINK is shown only if MAIN_FEATURES_LEVEL > 1.

Maybe the link to bug tracker should be visible by default

[2015-05-12 19:15] jfefe commented on #2821
@rdoursenaud pushed #2822 for this :+1:

[2015-05-12 20:35] atm-maxime commented on #2590
@rdoursenaud I think we'll integrate this module in Dolibarr core soon. But it uses subtotal module too...
@tiaris didn't asked me about this topic during devcamp so no discussion to report.

[2015-05-12 20:36] atm-maxime opened #2823 "Bug : shipment list sorting goes to an unknown page"
Bug reported on french forum : http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/53079-liste-des-expeditions-filtrage-impossible

[2015-05-12 20:53] eldy commented on #2524
OK to increase delay with exponential time for next tries.
But this is not always usefull because a hacker will not keep session and may use different ip. Current delay should be enough.

[2015-05-12 21:00] eldy commented on #2777
OK, to add an error message. "Module X depends on module Y that is missing, so module X may not work correclty. Please install module Y or disable module X if you want to be safe from any surprise."
However, module X must not be disabled except if user do it.

[2015-05-12 21:06] #2823 closed, assigned to nobody

[2015-05-12 21:13] #2757 closed, assigned to nobody

[2015-05-12 21:24] ndrosis commented on #2764
:+1:

[2015-05-13 04:46] marcosgdf commented on #2777
What about not allowing the user to enable the module if any dependencies are missing? Let's say that an external module does some operations in the init function... That would be a problem, right? Maybe not in core modules but in a 3rd party module depends on another 3rdparty module...

[2015-05-13 16:08] aconits opened #2828 "Duplicate entry '1-user-1' for key 'uk_actioncomm_resources'"
With first installation in 3.7 I merged the 3.7.1. After that I launch the migration script to update the database.
But I got an error when I tried to validate a new customer invoice (Duplicate entry '1-user-1' for key 'uk_actioncomm_resources'). I had already 2 invoice before the migration.

Find "ALTER TABLE llx_actioncomm_resources ADD UNIQUE INDEX uk_actioncomm_resources(fk_actioncomm, element

[2015-05-14 05:30] aspangaro opened #2832 "ER: In PDF, status have a problem with accents"
Version develop
Language French

In the new module expense report, the status is traduced but in the pdf, little problem with accents. I don't find the way to correct this, thanks.

![2015_05_14_07_25_26_aspangaro_er00006_150504_3_ pdf_adobe_reader](https://cloud.githubusercontent.com/assets/2341395/7626522/d1b24b72-fa0a-11e4-82e0-19156f0ab81c.png)

[2015-05-14 11:09] mariamanc28 commented on #2773
then i try to explain the situation... i have create e new field in module proposal, an simplex field text. Before dolibar update all run correctly and i can update the proposal with this field compilated or not. Now after dollibar update an 3.7 version this update not run more. This is error log:
DoliDBMysqli::query SQL Error message: DB_ERROR_NOSUCHFIELD Unknown column 'namecostume' in 'field li

[2015-05-15 07:07] BebZ opened #2834 "BUG : product/stats/commande false when canceled orders"
It would be a great move forward to verify the stats of sold and ordered products.
When an order is canceled the total qty of product goes in the stat and is not substracted

![image](https://cloud.githubusercontent.com/assets/3694135/7648266/612851ee-fae1-11e4-9afb-2168c6863e18.png)

More than that, and i can open a Feature Request to display also total qty shipped or waiting to be shipped...

[2015-05-15 10:48] marcosgdf opened #2835 "Customer prices of a product shows incorrect history order"
Version: 3.5.6

If you add products and product prices through an external module/script, products and prices are gonna be added in the same second (probably).

![captura de pantalla 2015-05-15 a las 12 45 23](https://cloud.githubusercontent.com/assets/168744/7651399/47f5b224-fb00-11e4-9fd0-1e5996be2c58.png)

The price is the last one because it has a higher rowid, but customer prices product log

[2015-05-15 11:14] marcosgdf commented on #2834
This looks OK for me. That page is meant to show how many times was referenced that product, not actually "consumed". This is not the same as a stock page.

[2015-05-16 00:31] accett commented on #2701
2015-04-23 16:44 GMT-05:00 Raphaël Doursenaud notifications@github.com:

Thanks @rdoursenaud I use NetBeans and now thanks to you MySQL WorkBench to
view the database.

##

Gracias por no enviar cadenas.
Ing. Víctor Ortiz Pérez
AcceTT - Soluciones Computacionales
Mártires 28 de Agosto #134 esq. Ruiz Cortines
Col. Ferrer Guardia Xalapa, Veracruz CP 91020
Tel. (228) 840 3284
WA 228 840 3284
victor@a

[2015-05-16 09:02] marcosgdf opened #2837 "Product list table column header does not match column body"
Version: 3.5.6.

You can see that the selling and the buying status are not under selling and buying status columns

![captura de pantalla 2015-05-16 a las 11 01 06](https://cloud.githubusercontent.com/assets/168744/7665517/01096f98-fbbb-11e4-82e1-043d28148a75.png)

[2015-05-16 09:03] marcosgdf commented on #2832
Probably just needs a Translate::transnoentities instead of Translate::trans

[2015-05-17 16:59] marcosgdf opened #2839 "Fatal error: Call to a member function show_documents() on a non-object in /comm/action/card.php on line 1303"
Version: 3.7.0
URL: http://demo.dolibarr.org/comm/action/card.php?id=3196

[2015-05-17 23:17] marcosgdf commented on #2773
Which was your previous version?

[2015-05-18 10:16] mariamanc28 commented on #2773
3.6.2

[2015-05-18 18:51] eldy commented on #2839
I upgraded to 3.7.1 and it is fixed.

[2015-05-18 18:51] #2839 closed, assigned to nobody

[2015-05-18 19:28] eldy commented on #2743
@simnandez Goal of change was to uniformize way of working. All dolibarr elements are stored into 1 directory, into parent directory of module. Also it makes things easier for user to manage their directories/files and backup like that.
It is also a way to find easily product dir from its ref.
So we must keep the move to the uniformed solution (one element = one dir = ref)

So this must be the def

[2015-05-19 06:59] simnandez commented on #2743
@eldy Ok, We undertake the shift to get_exdir.

[2015-05-19 12:13] tiaris commented on #2743
Its a good to have an uniformed solution for pathes, but we are limiting Dolibarr's functions : there will be problems if item number will be greater than filesystem limit. We find this opportunily with the late change introduced by @eldy  for products. But this will happen also for orders, invoices, shipments... And this is a big functionnal issue ! ok with @jfefe we must mention this bug and wor

[2015-05-19 12:53] ahaedv opened #2843 "Wrong SQL table called"
The upgrade script from 3.7.0 changed the field llx_categorie_societe.fk_societe to llx_categorie_societe.fk_soc. categorie.class.php tries to insert or delete fk_societe. Columnname and tablename differ.
Solution
Added  if ($type=='societe') $column_name='soc';  in categorie.class.php line 493 and 598.

hope this helpes
b.r.

[2015-05-19 15:33] swbraun opened #2847 "Customer series numbering for invoices does not work as advertised"
I want to have document numbers with the customer number plus separate counters per customer, e.g.:
customer: 1234
first invoice: INV12340001
second invoice: INV12340002

customer: 2345
first invoice: INV23450001
second invoice: INV23450002
etc.

I hoped the mask {cccc0000} would do the trick, but when I entered "INV{cccc0000}" I got a "ErrorBadMask" error.
I found out that it "works" when I add a

[2015-05-19 18:41] accett commented on #2847
Have you tried INV{cccc}{0000}

?

2015-05-19 10:34 GMT-05:00 swbraun notifications@github.com:

##

Gracias por no enviar cadenas.
Ing. Víctor Ortiz Pérez
AcceTT - Soluciones Computacionales
Mártires 28 de Agosto #134 esq. Ruiz Cortines
Col. Ferrer Guardia Xalapa, Veracruz CP 91020
Tel. (228) 840 3284
WA 228 840 3284
victor@accett.com.mx
www.accett.com.mx

[2015-05-19 21:23] swbraun commented on #2847
Sure I did, this was actually my first try.
But as you can also see on my example above, the {0000} part works as a "global" counter, and not per customer.
To clarify things:
when I use INV{cccc}{0000} and create 3 new invoices with different customers, I get this result:
INV12340001
INV23450002
INV34560003
but I need this:
INV12340001
INV23450001
INV34560001

[2015-05-20 00:02] accett commented on #2847
ooh... sorry, now I understand.

2015-05-19 16:23 GMT-05:00 swbraun notifications@github.com:

##

Gracias por no enviar cadenas.
Ing. Víctor Ortiz Pérez
AcceTT - Soluciones Computacionales
Mártires 28 de Agosto #134 esq. Ruiz Cortines
Col. Ferrer Guardia Xalapa, Veracruz CP 91020
Tel. (228) 840 3284
WA 228 840 3284
victor@accett.com.mx
www.accett.com.mx

[2015-05-20 08:57] marcosgdf opened #2853 "SQL error in /compta/localtax/index.php with Postgresql database"
Version: 3.7.0

[code]

[2015-05-20 08:58] marcosgdf opened #2854 "PHP Fatal error in /compta/localtax/quadri_detail.php"
Version: 3.7.0

[code]

[2015-05-20 08:59] marcosgdf opened #2855 "Wrong translation key in localtax report page"
Version: 3.7.0
URL: http://dolibarr.local/compta/localtax/quadri_detail.php?leftmenu=tax_vat&localTaxType=2

![captura de pantalla 2015-05-20 a las 10 59 30](https://cloud.githubusercontent.com/assets/168744/7722323/4ce4f28a-fedf-11e4-872e-d45fad836628.png)

[2015-05-20 09:12] marcosgdf commented on #2843
Column name **MUST** be the same in all tables because of the "merge thirds" function so conditionals are not a choice.

I'll take a look at this.

[2015-05-20 09:21] marcosgdf opened #2856 "Wrong table design"
in /product/stock/massstockmove.php when selecting an option

![captura de pantalla 2015-05-20 a las 11 20 54](https://cloud.githubusercontent.com/assets/168744/7722631/4b93b68e-fee2-11e4-9ad1-60024c05dc33.png)

[2015-05-20 09:21] naxonez opened #2857 "HTML Injection"
[*] Page affected
- dolibarr-3.7.0/htdocs/societe/societe.php
- dolibarr-3.7.0/htdocs/societe/admin/societe.php

[*] Fields affected
- Bussiness Search (search_nom)

[*] Poc
You only need to inject the script code in this field like a:

 "> < img src='http://www.xxx.com >

[2015-05-20 09:23] marcosgdf opened #2858 "Stock module allows making product transfer between warehouses even if no stock available"
Version: 3.7.0
Reported by a dolibarr.es forum user at http://www.dolibarr.es/foro/viewtopic.php?f=18&t=2241

Steps to reproduce:
1. Create product A
2. Create warehouse A and B
3. Make a stock transfer of product A between warehouse A and B of 5 units
4. See that warehouse A is -5 and B is +5

Negative stock should not ever happen.

[2015-05-20 09:51] fappels opened #2859 "Unable to add customer orderline when product units enabled"
Version 3.8.0

Objectline_create stops at units

![unitsissue 1](https://cloud.githubusercontent.com/assets/4573808/7723115/6e8c1d8a-fee6-11e4-8807-d517539deda5.png)

[2015-05-20 10:01] BebZ commented on #2859
I confirm :)

[2015-05-20 10:08] fappels commented on #2591
On which Dolibarr version to be fixed? Needs new method in ProductFournisseur class to get pmp.

[2015-05-20 10:48] accett commented on #2858
I think that this needs a global variable to decide that, cause the
negative in the stock are very comun. Sometimes the sale happen before the
buy, then the product stock temporaly is negative. But if we have a
variable in the stock module config name ALLOW_NEGATIVE_STOCK or something
like that check the flag in the procedure of move stock.
El may 20, 2015 4:23 a.m., "Marcos García" notifications@

[2015-05-20 11:05] marcosgdf commented on #2858
It is not the same thing. One thing is to make a sell (we could argue if negative stock should be allowed but this is not the topic), and another one is to make an unexisting stock transfer.

[2015-05-20 11:09] marcosgdf opened #2860 "MAIN_USE_JQUERY_MULTISELECT constant breaks normal functioning"
Version: 3.7.0

Problems:
1. WYSIWYG module does not work
2. Unable to edit buying price of a line
3. Editing user rights have no effect.

Steps to reproduce:
1. Enable MAIN_USE_JQUERY_MULTISELECT constant

Reported by a dolibarr.es forum user at http://www.dolibarr.es/foro/viewtopic.php?f=18&t=2259&p=7980

![captura de pantalla 2015-05-20 a las 13 08 40](https://cloud.githubusercontent.com/assets

[2015-05-20 11:22] marcosgdf opened #2861 "Undefined variable $res when migrating"
Version: 3.5.6
Url: http://dolibarr.local/install/upgrade2.php?versionfrom=3.6.0&versionto=3.7.0
DB: Postgresql

[code]

![captura de pantalla 2015-05-20 a las 13 21 57](https://cloud.githubusercontent.com/assets/168744/7724618/4f53a156-fef3-11e4-8de5-bba13aac8dc0.png)

[2015-05-20 11:25] marcosgdf opened #2862 "Bug: PHP error when signing a quote"
Version: 3.7.0 upgraded from 3.6.2
Modules enabled: customer orders, quote, workflow (with create customer order when signing quote option enabled)
URL: http://dolibarr.local/comm/propal.php?id=1
DB: Postgresql

Steps:
1. Create quote
2. Add a line
3. Sign it (to invoice)
4. See the error

[code]

[2015-05-20 11:25] marcosgdf commented on #2862
Duplicated of #2694

[2015-05-20 11:25] #2862 closed, assigned to nobody

[2015-05-20 11:26] marcosgdf commented on #2859
Is it a fresh install? The database changed after the PR

[2015-05-20 11:28] marcosgdf commented on #2773
I'm sorry I can't reproduce.

[2015-05-20 11:54] fappels commented on #2859
It's a rebase from yesterday, and I always run the migration script when I replace the htdocs folder on my test-server.
Just started xdebug, on line 2849 of htdocs/core/class/html.form.class.php there is 'if ($selected == $res[0])' but $res is not an array

[2015-05-20 12:24] tiaris opened #2863 "warning for missing ChromePhp.php"
in 3.7.0 when activating syslog I get warning message
Warning: include_once(ChromePhp.php): failed to open stream: No such file or directory in htdocs/core/modules/syslog/mod_syslog_chromephp.php  on line 58

[2015-05-20 14:21] BebZ opened #2864 "FEATURE REQUEST : Add option for choosing PMP instead of best buying Price"
Dolibarr always chooses the latest(or the best ?) buying price recorder in the product fournisseur price's tab
I think it should be checked, what is chosen : latest, best, or pmp price.
There should be an option for the default price chose.

What do you think ?

In my opinion, it should be the pmp chosen by default, and this pmp should be calculated, accordingly to what is in STOCK.
If I bought pr

[2015-05-20 14:24] rdoursenaud commented on #2591
If it needs a new feature, the target branch is develop AFAIK.

[2015-05-20 14:26] rdoursenaud commented on #2854
Introduced in 747b6a9f by @simnandez

[2015-05-20 14:30] rdoursenaud commented on #2855
Bad concatenation in
htdocs/compta/localtax/clients.php
line 112
htdocs/compta/localtax/quadri_detail.php
line 132 and 164

Introduced in 747b6a9f by @simnandez

[2015-05-20 14:40] rdoursenaud commented on #2857
All left menu search fields are affected! (Contacts, products, members…)

This would allow to craft a malicious URL embedding a nasty script.

Good catch!

[2015-05-20 14:41] naxonez commented on #2857
Thanks!!

I hope that this help you to increase the security of this product :))

Regards.

[2015-05-20 14:43] rdoursenaud commented on #2857
Versions 3.5 and 3.6 also affected!

[2015-05-20 15:30] rdoursenaud commented on #2857
This is everywhere. Will take a bit of time to fix'em all…

[2015-05-20 15:56] rdoursenaud commented on #2859
Only triggered if unit support (PRODUCT_USE_UNITS) is enabled in the products and services module.

[2015-05-20 15:59] rdoursenaud commented on #2860
MAIN_USE_JQUERY_MULTISELECT is **not** a boolean.
It is designed to take 'select2', 'mutiselect', 'multiple-select' or the name of the multi-select jquery plugin to use.
Hidden features are also not supported BTW.

[2015-05-20 16:42] rdoursenaud commented on #2863
Looks like SYSLOG_CHROMEPHP_INCLUDEPATH is not properly set at install time.
It should point to `htdocs/includes/chromephp` by default.

[2015-05-20 16:48] rdoursenaud commented on #2864
The price you get in the supplier price is the minimum price at which you can buy the product (according to the buying prices you set under it). It has nothing to do with stock!

As for the PMP calculations, I believe they are good:
PMP = (Qty × PMP + NewQty × Price) ÷ QtyTotal
<=>
(20 × 9 + 10 × 7) ÷ 30 = 8,33333

So your PMP is ok if it's 8,33 (not 7, not 7,33?).

[2015-05-21 07:21] marcosgdf commented on #2860
So... hidden constants are in the code but are not meant to be working?

[2015-05-21 08:01] mariamanc28 commented on #2773
and how you suggest me to proceed?

[2015-05-21 08:02] marcosgdf commented on #2773
You could try to create an additional atribute again with the same name so that the query to the database doesn't fail again...

[2015-05-21 08:14] mariamanc28 commented on #2773
i have already think this, i try and tell you :)

[2015-05-21 09:16] sebj54 opened #2868 "Use templates"
Hi everyone,

I represent a French web agency and we are using Dolibarr to deploy an ERP for our customers. They are very satisfied by the functionality but the main problem of Dolibarr is the user experience.

I saw an issue dealing with accessibility, but I would go further in thinking: Dolibarr needs to separate template from the Controller. Actually there is no MVC in Dolibarr, view and contro

[2015-05-21 09:17] rdoursenaud commented on #2860
Don't get me wrong, they should of course have useful features and be as stable as possible but there's a reason they are hidden!
Some of them may have unpredictable behavior, others don't fit in the "spirit" of Dolibarr most are technical tools meant for people that know what they're doing.
In this very case, it's obvious that the user don't know what he's doing since it took me less than a minut

[2015-05-21 09:27] BebZ commented on #2868
@dolibarr owners ;)
for a better future Dolibarr 4.0 or even 3.9 ?
How much time do you think it will take, and how many devs of Dolibarr can manage/understand the MVC model ?

[2015-05-21 09:58] sebj54 commented on #2868
I don't have actually any ideas of the time it will take. I just know it isn't impossible :)

Everyone can understand such a system, especially if its implementation is built with ease of use in mind. I only thought of VC model. It will already be a big improvement.

I imagine something like that:

#### Controller

[code]

#### template file

[code]

#### Template Class

[code]

The Template class

[2015-05-21 11:40] accett commented on #2868
Could be in Cake/PHP?

Its a very good framework that use MVC.
El may 21, 2015 4:58 a.m., "Sébastien JEAN" notifications@github.com
escribió:

[2015-05-21 12:41] sebj54 commented on #2868
If a framework has to be used, all the core should be rewritten in order to take profit of all the advantages of the framework. I don't think that's a good idea to use a framework just for one feature.

[2015-05-21 14:24] rdoursenaud opened #2870 "SQL error at install"
`SQL DB_ERROR_1072 Key column 'datea' doesn't exist in table`

b0baed83fc94de4807d73e9b7c9b4bec3d4c818f removed `datea` from `llx_actioncomm` but the installer tries to create an index for it anyway as per `htdocs/install/mysql/tables/llx_actioncomm.key.sql`

[2015-05-21 15:01] hregis commented on #2860
is used by various externals modules

[2015-05-21 19:01] accett commented on #2858
I understand. But if the stock is less qty than the move needs (perhaps is
for a invoice of supplier that hasn't sent yet) maybe is necessary allow
the move with negatives qty.

I still think that can be managed with a global variable that config in the
settings of the module stock. Maybe I'm wrong.

Something like ALLOW_MOVES_NEGATIVE

:)

It is not the same thing. One thing is to make a sell (we

[2015-05-21 19:24] #2870 closed, assigned to rdoursenaud

[2015-05-22 08:43] marcosgdf commented on #2858
No. It is still not the same thing. You can correct the stock or make a
stock transfer. You cannot move unexisting items.

El jue., 21 de mayo de 2015 21:01, AcceTT Soluciones Computacionales <
notifications@github.com> escribió:

[2015-05-22 08:50] BebZ commented on #2858
in his case : for a invoice of supplier that hasn't sent yet
because he manages stock with invoicies, not with shipments
it could happen to be a negative qty, no ?

[2015-05-22 12:23] fappels commented on #2858
I agree with Marcos, stock transfer is physical transfer of goods. If you do have 5 existing items in A but a count of 0 in Dolibarr, you should first correct stock in A to 5 (after you check your stock, inspect the goods and all warehouses) and then tranfer 5 from A to B. Dolibarr should show a message on transfer that results in negative stockcount.

[2015-05-23 12:06] swbraun commented on #2847
@rdoursenaud just to understand, why you consider this a feature request and not a bug:
The mask {cccc0000} is offered in the tooltip as a valid mask, right?
For what numbering scheme would using this mask - in your opinion - make any sense?
Some examples would be helpful, thanks!

[2015-05-23 13:31] rdoursenaud opened #2879 "Duplicate modify button on user's card"
Introduced in 90f9a845

[2015-05-23 14:38] rdoursenaud opened #2881 "select_salesrepresentative() should not return -1 when empty"
Handling -1 is harder to handle than needed.
No rowid can be 0 so its' a much better value to use.
select2 handles 0 very well.

[2015-05-23 14:44] marcosgdf commented on #2858
If he manages stock with invoices and not with shipments then he is not using Dolibarr properly.

[2015-05-23 15:16] #2879 closed, assigned to rdoursenaud

[2015-05-23 15:22] #2881 closed, assigned to rdoursenaud

[2015-05-23 16:04] simnandez commented on #2853
date_format not work with postgresql, and it is widely used in dolibarr...

[2015-05-23 17:07] rdoursenaud commented on #2853
The equivalent is `to_char()`.
See: http://www.postgresql.org/docs/8.1/static/functions-formatting.html

This needs to be done in the PostgreSQL driver (core/db/pgsql.class.php). The SQLite3 driver has an implementation that might be of interrest.

Other database drivers also need an implementation!

[2015-05-23 17:14] rdoursenaud commented on #2847
@swbraun Sorry, I misinterpreted the feature and didn't check what was the tooltip wording.
Of course if a feature does not behave as advertised, it's a bug ;)

Could you tell us what Dolibarr version you've been using or you know are affected?

[2015-05-23 17:20] swbraun commented on #2847
Don't worry, this happens ;-)
I use version 3.7.0 but I also checked here on github and the source code in "htdocs/core/lib/functions2.lib.php" (at least for these functions) seems still to be the same.

[2015-05-23 17:56] rdoursenaud commented on #2847
I just had a closer look and it seems it never ever worked the way it's advertised.
Pull request welcome!

[2015-05-23 18:28] rdoursenaud opened #2885 "[Qual] Use parameterized SQL (aka prepared statements or parameter binding)"
Prepared statements are less error prone, provide better injection prevention and have better performance.

That's why our database library should provide a facility to use them and all Dolibarr request should progressively switch to using them.

All the supported database backends provide prepared statements so we should still be able to keep our custom abstraction layer.

Here's a breakdown of t

[2015-05-23 18:38] rdoursenaud opened #2886 "Deprecate mysql database driver"
PHP's mysql driver has been deprecated in v5.5.0.

mysqli and mysqlnd provides better API and performance.

I think we should do the same for our abstraction class to prepare a future removal.

[2015-05-23 18:54] rdoursenaud opened #2888 "Update screenshots"
With the design changes in 3.7.0 and the upcoming 3.8.0, I think screenshots should be updated to reflect the more modern look and feel.
- [ ] `doc/images` [folder](../tree/develop/doc/images)
- [ ] [Readme](../blob/develop/README.md) (could point to the doc/images folder instead of the website)
- [ ] [Website(s)](http://dolibarr.org)

[2015-05-24 11:44] marcosgdf opened #2891 "Category hooks do not work"
Version: 3.6.3
Files:
- htdocs/categories/viewcat.php
- htdocs/categories/edit.php
- htdocs/categories/fiche.php

They are not initiated so the hook does not answer to any context.

[2015-05-25 10:34] swbraun commented on #2847
OK, but I'm not a developer, so I don't know if my solution is the best, it just works for me ;)
I'll send a pull request as soon as I figure out how...

[2015-05-25 11:35] marcosgdf opened #2893 "Dolibarr error when viewing an invoice after changing invoice mask"
Version: 3.6.3 (probably 3.5 too)

Steps to reproduce:
1. Set mercure number model for invoices with masks A-{0000@0}
2. Create an invoice and validate it
3. Change mercure invoice mask to B-{0000@0}
4. Go to the previous invoice

[code]

[2015-05-25 13:20] marcosgdf commented on #2860
Hi @rdoursenaud I've tested with 'select2' and I still get errors:

![captura de pantalla 2015-05-25 a las 15 20 01](https://cloud.githubusercontent.com/assets/168744/7797801/88b4b0be-02f1-11e5-9268-a65d4afc5c8d.png)

[2015-05-25 16:18] #2847 closed, assigned to nobody

[2015-05-25 16:31] rdoursenaud opened #2899 "Can't create events"
Error message: Failed to insert event : Unknown column 'fk_user_done' in 'field list'

fk_user_done has been removed in e6e263d13ffc9e24d8e888b7c59b0397e9d51119 but code is still referring to it in htdocs/core/boxes/box_actions.php and htdocs/comm/action/class/actioncomm.class.php

Also the migration script does not remove the field.

Has this been removed by error or is this a work in progress?

[2015-05-25 16:50] #2886 closed, assigned to nobody

[2015-05-25 21:45] marcosgdf opened #2900 "Courtesy title is not stored in create thirdparty form"
Version: 3.7.0 (might need check in 3.6 and 3.5)

Steps to reproduce:
1. Create thirdparty
2. Select particular
3. Choose a courtesy title
4. Go to the contact created along with the thirdparty
5. The courtesy title is empty unless you edit it

Reported by a dolibarr.es forum user at http://www.dolibarr.es/foro/viewtopic.php?f=17&t=2272&p=8025#p8025

[2015-05-25 21:50] marcosgdf opened #2901 "Bug: Unable to remove a donation"
Version: 3.7.0
URL: /compta/dons/card.php?rowid=1&action=delete

Sometimes throws an error:

[code]

And sometimes it just returns to the donations list.

Reported by a dolibarr.es forum user at http://www.dolibarr.es/foro/viewtopic.php?f=18&t=2300

[2015-05-26 08:07] marcosgdf commented on #2885
I'd really love to see PDO used in Dolibarr. We could mix PDO advantages with ours.

We should also check Doctrine DBAL (based on PDO) http://www.doctrine-project.org/projects/dbal.html or Zend_Db

[2015-05-26 12:50] BebZ opened #2907 "bug : When shipment canceled, batch/serail numbers disappear"
When i validate a shipment with batch/serial numbers on products,
and then i realise i made a mistake in picking, I cancel the shippment,

@KreizIT @fappels @eldy

[2015-05-26 16:51] simnandez commented on #2854
It works for me into branch 3.7 (next 3.7.1)

[2015-05-26 16:51] #2854 closed, assigned to nobody

[2015-05-26 20:40] fappels opened #2909 "Bug: version 3.8 missing in upgrade2.php script"
Had to reload supplier module to have a rights update done, no module reload was done during migration.

[2015-05-27 00:44] rdoursenaud commented on #2860
@marcosgdf This ckeditor error seems unrelated to me.

[2015-05-27 09:12] marcosgdf commented on #2860
@rdoursenaud Well the issue was that when the constant was enabled, WYSIWYG editor didn't work among other things...

But if constants are not meant to be working then I think I can close the issue ¿?

[2015-05-27 18:21] PKeidel opened #2913 "Problem with action BILL_SENTBYMAIL"
We updated to 3.7.0 a few weeks ago. Since then there are no "INSERT INTO llx_actioncomm" in dolibarr.log shown and so we can't see at what date we send the bills.
It's the language item "InvoiceSentByEMail".

Which files do I have to edit to get it working again?

Thanks for an answer and the great tool dolibarr.

[2015-05-28 10:20] rdoursenaud commented on #2899
Also blocks creating "normal" calendar events.

[2015-05-28 10:29] rdoursenaud commented on #2860
@marcosgdf I'd close the bug if the bad behavior was triggered by the user, but it seems that module developers may set it. I think we don't expect Dolibarr to break in this situation, don't you?

@hregis Could you enlighten us a bit? What is it used for and what's the expected behavior, if any?
Any examples of modules requiring it?

[2015-05-28 10:45] hregis commented on #2860
@rdoursenaud @marcosgdf
multicompany and concatpdf ( @eldy ) use the multiselect (optional).
multicompany integrates the plugin itself and does not use this constant.
if it is a problem, we should do the same in concatpdf?

[2015-05-28 13:17] sebj54 commented on #2868
Just coming to up the issue, I wanted to know if we have a chance to see this feature added to future versions of Dolibarr if we develop it. Thanks :)

[2015-05-28 15:49] BebZ commented on #2868
Discussion with devs may take a long time as they are all really busy...
@eldy knows the best, and can start the discussion ?

[2015-05-29 12:56] rdoursenaud opened #2922 "Can't add thirdparty to a category"
# Environment
- **Version**: 3.8.0-alpha
- **OS**: Linux
- **Web server**: nginx/1.8.0
- **PHP**: fpm-fcgi 5.6.9
- **Database**: MySQL 5.5.5-10.0.18-MariaDB-log
- **URL**: /categories/categorie.php
# Report

**Error message**: Unknown column 'fk_societe' in 'field list'

[2015-05-29 12:59] rdoursenaud opened #2923 "Third party merging does not work"
# Environment
- **Version**: 3.8.0-alpha
- **OS**: Linux
- **Web server**: nginx/1.8.0
- **PHP**: fpm-fcgi 5.6.9
- **Database**: MySQL 5.5.5-10.0.18-MariaDB-log
- **URL**: /societe/soc.php?socid=9&action=confirm_merge&confirm=yes
# Report

**Error message**: The Origin thirdparty is mandatory

[2015-05-29 13:10] rdoursenaud commented on #2922
Add seems to work now, but not remove… weird!

[2015-05-29 14:50] all3kcis opened #2927 "Customer shipping deletion"
Develop version :
ERROR: "ErrorBadValueForParamNotAString"
By removing a shipment containing batch products.

In versions 3.6 and 3.7 :
shipping is deleted but not well re-increment for batch products.

![01](https://cloud.githubusercontent.com/assets/9413626/7885153/9835e790-0622-11e5-81ec-8353b625a7b2.jpg)

starting quantity
lot-001     5
lot-002     5

After shipping
![02](https://cloud.githubu

[2015-05-29 15:00] BebZ commented on #2927
double posted issue but your post is better, so i will close mine ;)
https://github.com/Dolibarr/dolibarr/issues/2907

[2015-05-29 15:00] BebZ commented on #2907
close #2907

[2015-05-29 15:00] #2907 closed, assigned to nobody

[2015-05-29 15:21] #2859 closed, assigned to nobody

[2015-05-29 16:04] rdoursenaud commented on #2571
For reference:
- [x] Products/services (done in f0b10c14d70d647e44022955e997c7637e9bc464)
- [ ] Customers
- [ ] Suppliers
- [ ] Contacts
- [ ] Members

[2015-05-29 16:11] rdoursenaud commented on #2571
I'm starting work on customers!

[2015-05-29 23:37] IonAgorria commented on #2885
Also some guidelines for dealing with different data (String escaping, number checks, date/time conversions, etc) storing/reading between SQL/PHP would be nice.

[2015-05-31 00:10] #2901 closed, assigned to nobody

[2015-05-31 01:30] #2856 closed, assigned to nobody

[2015-05-31 09:40] viruslox opened #2935 "Missing an "Y" on 3.7.0-3.8.0.sql inside dolibarr_3.8.0-3_all.deb"
Hi All,

sorry for disturb, I would just notice that dolibarr_3.8.0-3_all.deb packet has a very little bug on 3.7.0-3.8.0.sql script that affect people that try to upgrade to last alfa using dpkg on debian/ubuntu.
Once installed, on Debian the script is located in:
/usr/share/dolibarr/htdocs/install/mysql/migration
Solution: search on the script for "AUTO_INCREMENT PRIMAR KEY"
You'll find only one

[2015-06-01 10:07] rdoursenaud commented on #2885
@IonAgorria These already exist: http://wiki.dolibarr.org/index.php/Language_and_development_rules#SQL_rules

But feel free to improve them ;)

@marcosgdf Using doctrine DBAL seems reasonable to me. Now we need to convince @eldy that it's a good thing to use a community supported project rather than rolling our own!

[2015-06-01 10:09] #2834 closed, assigned to nobody

[2015-06-01 12:42] rdoursenaud commented on #2909
I don't know if it's really a bug. Looks like this file is updated pretty late in the develop cycle…

[2015-06-01 13:02] rdoursenaud commented on #2913
Can't reproduce. BILL_SENTBYMAIL is correctly triggered for me.

Are you sure that the automatic action is enabled in the calendar module?

[2015-06-01 13:13] rdoursenaud commented on #2935
3.8 is an unreleased version.
The problem you mention seems fixed.

If you use an alpha version, you're expected to know how to debug it and pull request a fix.
If you're not able to do that, please wait for the beta.

Thanks.

[2015-06-01 13:13] #2935 closed, assigned to nobody

[2015-06-01 15:06] viruslox commented on #2935
Man, I found a bug and I provided you a workaround.
I don' t need help: I just gave my 5cents to you.
Cheers

[2015-06-01 19:43] aaujon commented on #2923
This is caused by #2807

[2015-06-02 15:21] fappels commented on #2927
Something to check when debugging:
Warning: array_merge(): Argument #1 is not an array in ...\dolibarr\htdocs\expedition\class\expedition.class.php on line 1193

[2015-06-03 10:10] marcosgdf opened #2944 "Contracts linked to a project do not show total amount"
Version. 3.6.2

![captura de pantalla 2015-06-03 a las 12 08 21](https://cloud.githubusercontent.com/assets/168744/7957642/4d11ffd6-09e9-11e5-9a55-7975ef284a01.png)

![captura de pantalla 2015-06-03 a las 12 09 24](https://cloud.githubusercontent.com/assets/168744/7957663/770fb76a-09e9-11e5-84bf-cbf91f2b53d7.png)

[2015-06-03 16:16] Dartaban opened #2946 "'llx_contact' table called instead of 'llx_socpeople' in categories export"
Dans l'assistant export, Module " Tag/Catégories / List of contact tags/categories and contact " à l'étape 3 j'ai l'erreur suivante :

Dolibarr a détecté une erreur technique.
Type gestionnaire de base de données: mysql
Requête dernier accès en base en erreur: SELECT rowid as rowid, lastname as label FROM llx_contact
Code retour dernier accès en base en erreur: DB_ERROR_NOSUCHTABLE
Information sur

[2015-06-04 08:11] rdoursenaud commented on #2946
Quelle version ?

[2015-06-04 08:26] Dartaban commented on #2946
3.7.0.
Désolé.

[2015-06-04 08:49] rdoursenaud commented on #2946
Pas de souci. Pouvez-vous vérifier que le défaut est encore présent en 3.7.1 (dernière version stable).
Merci !

[2015-06-04 09:54] aspangaro commented on #2946
J'ai vérifié, encore présent en develop donc surement dans la 3.7.1.

Par contre pas vu d'où vient le problème

[2015-06-04 11:30] marcosgdf opened #2949 "Move error messages in login page above the login block"
It is more noticeable if error messages are shown above instead of below the login block.

![captura de pantalla 2015-06-04 a las 13 28 58](https://cloud.githubusercontent.com/assets/168744/7983179/c81c1b38-0abd-11e5-819c-313ad1ca87a1.png)

[2015-06-04 11:47] tiaris opened #2951 "migration dolibarr"

[2015-06-04 11:48] tiaris commented on #2951
migration script has an error

Request 111 sql='ALTER TABLE llx_product_price ADD CONSTRAINT fk_product_price_user_author FOREIGN KEY (fk_user_author) REFERENCES llx_user (rowid);'
Erreur DB_ERROR_2013: ALTER TABLE llx_product_price ADD CONSTRAINT fk_product_price_user_author FOREIGN KEY (fk_user_author) REFERENCES llx_user (rowid);
Lost connection to MySQL server during query

error occurs when m

[2015-06-04 11:50] tiaris opened #2952 "warning on migration /install/upgrade2.php"
Migration des évènements pour ajouter les propriétaires dans la table des utilisateurs assignés
Déjà migré
( ! ) Notice: Undefined variable: res in /home/jean/projets/EnvTest/doli37/htdocs/install/upgrade2.php on line 3831
Call Stack
# Time    Memory  Function    Location

1   0.0199  961736  {main}( )   ../upgrade2.php:0
2   0.4249  11452144    migrate_reload_modules( )   ../upgrade2.php:385

[2015-06-04 13:02] ozit opened #2953 "Error on Alter table llx_payment_salary migration script 3.7.0 to 3.8.0"
Hi
On **htdocs/install/upgrade.php?action=upgrade&selectlang=fr_FR&versionfrom=3.7.0&versionto=3.8.0**
there is this error
[
Version du serveur de base de données  5.5.43-0+deb8u1
Choix du script de migration    3.7.0-3.8.0.sql
Request 1 sql='UPDATE llx_facture_fourn set ref=rowid where ref IS NULL;'
Request 2 sql='ALTER TABLE llx_facture_fourn MODIFY COLUMN ref varchar(255) NOT NULL;'
Request 3 s

[2015-06-04 13:45] FHenry commented on #2951
It's a problem of Mysql Version, not Dolibar, Edly explain that last time during DevCamp. Your mysql version must be at least 5.5.43 to not loose data if this mysql bug occurs. But to play correctly migration script if you still have error message (ARLTER TABLE => connexion lost), the only solution is to upgrade to mysql 5.6.*

[2015-06-04 14:48] Dartaban commented on #2946
Je confirme qu'en 3.7.1. le problème est toujours là.

[2015-06-04 16:07] jfefe opened #2957 "$langs object not initialized when adding supplier price"
When updating supplier product price, object $langs is missing into update_buyprice() method.
This can produce errors by externals modules who uses triggers.

Note : global usage seem to be deprecated, and sometimes we use it badly... Maybe we could decide a rule for this. This is also true for $user object and fetch, update method. Sometimes we use global, sometimes parameters are used.

[2015-06-04 16:15] jfefe commented on #2951
Yep @FHenry  it seems to be this case.
@tiaris please take a look at https://github.com/Dolibarr/dolibarr/blob/3.7/ChangeLog and give us mysql client and server version.

[2015-06-05 04:36] aspangaro commented on #2946
Je viens de proposer un PR qui fonctionne sous une version develop. Non testé sur une 3.7 car pas d'instance sous la main.

[2015-06-05 07:05] jpyrat opened #2961 "[3.7.1] Unable to "Déposer un chèque""
Quand je clique sur nouveau dépôt ou liste, j'ai :
The requested URL /compta/paiement/cheque/fiche.php was not found on this server.

http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/53223-3-7-1-remises-de-cheques-impossible state : replace fiche.php by card.php

[2015-06-05 07:09] #2843 closed, assigned to nobody

[2015-06-05 07:09] #2922 closed, assigned to rdoursenaud

[2015-06-05 07:36] aspangaro commented on #2961
Bonjour,

Vous utilisez un thème en particulier ? Je n'ai pas retrouvé ce bug sur une version 3.7.

[2015-06-05 10:54] rdoursenaud opened #2963 "Allow adding multiple contacts on events"
We can now affect events to multiple users, allowing affectation of multiple contacts (and third parties) seem reasonable. (Task about Contact/Task about company fields).

[2015-06-05 13:22] rdoursenaud commented on #2949
:+1:

[2015-06-05 13:24] rdoursenaud commented on #2952
Version ?

[2015-06-05 13:35] #2613 closed, assigned to nobody

[2015-06-05 14:21] rdoursenaud opened #2965 "Add keyboard shortcuts (aka accesskeys) to the main features"
Access keys are a great way to provide direct keyboard access to features.
When used correctly, they can significantly improve both productivity and accessibility.
Using a standard such as SAK2014
### Required

I identified the following places:
- [ ] Top menus
- [ ] Left menus (maybe not every single one…)
- [ ] Left search boxes
### Nice to have

Global shortcuts declaration and (per user?) cust

[2015-06-05 14:22] rdoursenaud commented on #2965
I'll not begin working on it right now. I just set this up as a reminder.

Feel free to comment in the meantime ;)

[2015-06-05 14:40] #2957 closed, assigned to nobody

[2015-06-05 14:42] eldy commented on #2951
The error "Lost connection to MySQL server" during an alter table is a bug in mysql 5.5.40+ (and not in dolibarr)
The only solution i found to avoid this is to upgrade to 5.6.\* or move to mariadb.

[2015-06-05 14:59] rdoursenaud opened #2966 "Failed antivirus scans are not reported in the interface"
When trying to upload a file with the antivirus scan feature enabled and that feature either failing because the executable path is wrong or because the file is suspicious, the error message simply says "The file was not uploaded".

I believe that a little bit more nuance in that case could be useful for the user.
"Antivirus scan failed" for example.

[2015-06-05 15:03] rdoursenaud opened #2967 "Check clamav binary availability before saving setting"
- **URL**: /admin/security_file.php

In order to prevent bad configurations leading to #2966.

[2015-06-05 15:06] rdoursenaud opened #2968 "Password encryption should be enabled by default"
- **URL**: /admin/security.php

Storing user passwords in plain text is so _dangerous_ and **plain wrong**.

The corresponding setting is
"Do no store clear passwords in database but store only encrypted value (Activated recommended)"

I even believe that we should remove the plain text field altogether.

[2015-06-05 15:14] rdoursenaud opened #2969 "Add missing ";" in instructions to encrypt database password"
The instructions prompt the user to change a line by another in the conf.php file but don't php's instruction ending character (;). This make it easy to break the conf.php file for lazy people like me that copy/paste the instructed line without thinking about it twice (Yes, I should know better…).

[2015-06-05 15:19] rdoursenaud opened #2971 "Clarify checkboxes from PDF merge"
# Environment
- **Version**: 3.8.0-alpha
- **OS**: Linux
- **Web server**: nginx/1.8.0
- **PHP**: fpm-fcgi 5.6.9
- **Database**: MySQL 5.5.5-10.0.18-MariaDB-log
- **URL**: /compta/facture/mergepdftool.php?sortfield=f.date_lim_reglement&sortorder=ASC
# Report

Checkboxes are missing from the PDF merge page making the feature unusable.

[2015-06-05 16:17] eldy commented on #2860
I don't experience any problem.
Setting the constant MAIN_USE_JQUERY_MULTISELECT to 'select2' in 3.7 lod the js library select 2. It is not officially supported into 3.7 because some works still must be done, but it is available by default with 3.8.
Event if not supported, i don't experience any problem with 3.7 with this option on.

Does ckeditor is the version embedded with dolibarr ? Did you cl

[2015-06-05 17:04] #2969 closed, assigned to rdoursenaud

[2015-06-05 17:18] jfefe opened #2973 "Webservices doesn't work with PHP 5.6"
Since HTTP_POST_RAW_DATA is deprecated into PHP 5.6, nusoap seems to be broken :(

Here is a beginning of replacement for SOAP PHP native methods : https://github.com/aternatik/dolibarr/commit/eba4269c1a3625de7cdac3647d2858540f7929b4

Please anyone can confirm this (critical) bug?

[2015-06-05 22:00] eldy commented on #2973
Yes HTTP_POST_RAW_DATA is deprecated and must be replaced with php://input
deprecated in 5.6 and removed in php 7.

[2015-06-05 22:04] eldy commented on #2961
If you use the auguria menu manager, try to disable it by switching to eldy menu then go back to auguria.

[2015-06-05 22:15] #2909 closed, assigned to nobody

[2015-06-06 00:14] jfefe commented on #2973
Yep @eldy but with nuSoap I always get warnings "Missing argument 1..." error when calling any webservices method... so it doesn't work, even when tweak php.ini to avoid these warning .

[2015-06-06 07:39] marcosgdf opened #2974 "Bug: "Salaries" section in compta/resultat/clientfourn.php is not translated"
Version: 3.6.2
URL: /compta/resultat/clientfourn.php?year=2015&month=4&modecompta=CREANCES-DETTES

![captura de pantalla 2015-06-06 a las 9 39 08](https://cloud.githubusercontent.com/assets/168744/8018843/f76f61ce-0c2f-11e5-9cbd-2df5cc4ae632.png)

[2015-06-06 07:41] marcosgdf opened #2975 "Focus supplier invoice ref. after cloning a supplier invoice"
When we clone a supplier invoice, the first thing to do is edit the ref field, but it does not have input focus. It would save some time if the input is automatically focused after cloning an invoice.

[2015-06-06 07:43] marcosgdf opened #2976 ""Report" tab is the current tab but it is not marked as selected by the UI"
Version: 3.5.6 and 3.6.2
URL: /compta/resultat/clientfourn.php

![captura de pantalla 2015-06-06 a las 9 43 16](https://cloud.githubusercontent.com/assets/168744/8018861/89030122-0c30-11e5-85a7-2939e0e473d5.png)

[2015-06-06 08:41] marcosgdf opened #2977 "SQL errors are registered as Warnings and not Errors"
Version: 3.6.2

[2015-06-07 15:05] BebZ commented on #2591
New comment referenced on FR forum :
http://www.dolibarr.fr/forum/527-bugs-sur-la-version-stable-courante/52810-module-point-de-vente-marge#60712

--translation by me
--VERSION DOLIBARR 3.7.2, tested, and still problems betwenn modules Margin & POS
Je viens de passer en dolibarr 3.7.2 et le problème de Marge et module point de vente est toujours existant :
--When he goes on the invoice created by

[2015-06-08 05:51] tiaris commented on #2951
I am not using a bugged version (I hope so...http://www.dolibarr.fr/86-actualites/annonces/188-la-version-3-7-de-dolibarr-n-a-pas-ete-publie-en-janvier-pourquoi)
server mysql version 5.5.41-0+wheezy1
driver mysqli (5.5.41)
Ok seen in changelog.

But if it is a version problem, why it works for a migration from 3.6 -> 3.7.1, and not with 3.7.0 to 3.7.1 on the same system (debian wheezy stable)

[2015-06-08 06:51] hregis commented on #2951
@tiaris

peux-tu essayer en renommant les contraintes ?
(ex: fk_product_price_user_author ==> fk_product_price_fk_user_author)

ALTER TABLE  llx_product_price ADD CONSTRAINT fk_product_price_fk_user_author FOREIGN KEY (fk_user_author) REFERENCES  llx_user (rowid);

ALTER TABLE  llx_product_price ADD CONSTRAINT fk_product_price_fk_product FOREIGN KEY (fk_product) REFERENCES  llx_product (rowid);

s

[2015-06-08 07:01] hregis commented on #2951
en fait il faudrait rajouter un DROP de ces 2 contraintes avant de faire un ALTER TABLE sinon mysql plante. Avec MariaDB pas de soucis, il dit bien que les contraintes existent déjà.

[2015-06-08 07:17] hregis commented on #2951
see this PR https://github.com/Dolibarr/dolibarr/pull/2980

[2015-06-08 07:48] simnandez commented on #2951
Closed by #2980

[2015-06-08 07:48] #2951 closed, assigned to nobody

[2015-06-08 11:18] rdoursenaud commented on #2591
@BebZ We already stated that the target branch for this issue's resolution is develop. This means we can't fix this issue before the 3.8 release.
Please also refrain from mixing different bugs here. We are not on a forum but on the issue tracker. This tool is used by developers to manage their time fixing issues. As much as we appreciate the time you take to report issues from the forum, please be

[2015-06-08 13:08] BebZ opened #2982 "Margin informations are missing on some products"
VERSION 3.7.2 :
--Bug on margin module, choice of a specific product's margin can't be made on every products,
some products seem to be missing on the list of choice, dropdown list incomplete
translate :
Au passage, il a un bug au niveau de marge par produit, le choix peut se faire uniquement sur la liste déroulante de x produit. La liste est pas complète.

Reported from Forum, user kbmbc
http://w

[2015-06-08 13:15] BebZ commented on #2591
ok other bug reported on https://github.com/Dolibarr/dolibarr/issues/2982

[2015-06-08 13:51] rdoursenaud opened #2983 "Gravatar avatar images are loaded insecurely"
Gravatar images are loaded with HTTP rather than HTTPS.

[2015-06-08 14:34] rdoursenaud opened #2985 "Change in gravatar API prevents displaying custom default avatars"
Gravatar default avatars are now proxified by the API.
This means that custom default avatars should be publically available without authentication.

[2015-06-08 14:43] rdoursenaud opened #2986 "Some public pages reveals privileged informations"
Affected URLs:
- public/demo
- public/donations/therms.php

Accessing these URLs without being authenticated reveals activated modules by loading the top menu and most of the authenticated GUI.

These informations should be privileged only and nothing should be displayed if the demo mode is not enabled.

[2015-06-08 14:52] rdoursenaud opened #2987 "public/donations/therm.php uses external images"
Dolibarr should not try to load external resources by default. This is a security issue.

To add to this, the images are not available anymore.

[2015-06-08 14:53] rdoursenaud commented on #2986
Added more affected URLs.

[2015-06-08 15:04] rdoursenaud opened #2988 "Use rfc6761 example.com domain instead of domain.com in examples."

[2015-06-08 15:29] rdoursenaud opened #2991 "public/opensurvey/studs.php without parameters triggers error"
The page should be restricted if no "sondage" is passed.

[code]

[2015-06-08 15:34] rdoursenaud commented on #2987
Reopening.
images.lib.php still contains the offending moneyMeter() function!

[2015-06-08 15:36] rdoursenaud commented on #2987
Also, upon further analysis, 3.5 to 3.7 are also affected and should be fixed ;)

[2015-06-08 15:38] rdoursenaud opened #2992 "public/paypal pages should not output anything without the required parameters"
The pages should not issue any errors and not reveal any informations.

[2015-06-08 15:43] rdoursenaud opened #2993 "Uniformise public folder access restrictions"

[2015-06-08 15:45] rdoursenaud opened #2994 "public/members/public_list.php presentation is broken"
- Theme seems to be missing
- member first and last names don't appear
- Town could be capitalized

Didn't test 3.5.x

[2015-06-08 15:46] eldy commented on #2743
We can have both a uniform way of working and manage correctly path for very large number of elements.
This must be managed by the get_exdir function (the function, according to option may decide to use another storage path rule). I started to show the way into 3.8.

[2015-06-08 15:47] eldy commented on #2857
Patch was merged so i close the bug

[2015-06-08 15:48] rdoursenaud commented on #2982
From the forum thread, I believe the issue is on 3.6.x and the user has made a typo stating 3.7.x

[2015-06-08 15:48] rdoursenaud commented on #2982
Could you reproduce with 3.6.3?

[2015-06-08 15:50] rdoursenaud commented on #2857
Reopening, my pull request stated that it was a WIP (Work in Progress).

I fixed the most offending issues but this issue is still valid for a very large chunk of Dolibarr's source code!

[2015-06-08 15:51] #2988 closed, assigned to rdoursenaud

[2015-06-08 15:53] #2985 closed, assigned to rdoursenaud

[2015-06-08 16:05] rdoursenaud commented on #2975
There's a lot of places in Dolibarr that could benefit from autofocusing on the right form field.

Here's what I gathered so far:
- [ ] New product/service
- [ ] New warehouse
- [ ] New proposal
- [ ] New order
- [ ] New contract
- [ ] New intervention (second step after third party selection)
- [ ] New customer invoice
- [ ] New supplier invoice
- [ ] New donation
- [ ] New contribution (social c

[2015-06-08 16:09] rdoursenaud commented on #2974
Token exists in langs/en_US/salaries.lang in 3.6.3 and up.
Translator needs to provide the translation at transifex.com.

[2015-06-08 16:09] #2974 closed, assigned to nobody

[2015-06-08 16:29] #2983 closed, assigned to rdoursenaud

[2015-06-08 16:29] #2986 closed, assigned to nobody

[2015-06-08 16:29] #2994 closed, assigned to nobody

[2015-06-08 16:37] simnandez commented on #2974
The translation at transifex.com is provided a year ago...
Anyway I think is a bad idea report bugs for a old version (in this case a bug for 3.6.2 when 3.6.3 came out two months ago...)

[2015-06-08 21:33] ozit commented on #2953
Thanks for the labels, the DB_ERROR is still here with the actual Developp sources

[2015-06-09 11:23] jpyrat commented on #2961
I use "bureau2crea" (the only one with hovering on table lines (mandatory on screen 1920 wide).

Same isue with eldy, and auguria.

Hint : i use svn sw https://github.com/Dolibarr/dolibarr.git/tags/3.7.1/htdocs to update dolibarr since 2 years (works like a charm).

[2015-06-09 11:57] jpyrat commented on #2961
I've done this to correct the isue :
UPDATE `llx_menu` SET `url` = '/compta/paiement/cheque/card.php?leftmenu=checks&amp;action=new' WHERE `llx_menu`.`rowid` =1796;
UPDATE `mydatabase`.`llx_menu` SET `url` = '/compta/paiement/cheque/list.php?leftmenu=checks' WHERE `llx_menu`.`rowid` = 1797;

Here is the content of these to line :
1796    auguria 1       left    accountancy     1795    NULL    NULL

[2015-06-10 07:39] marcosgdf commented on #2974
@simnandez I see... 3.6.3 was never announced so I didn't know about it. ¯_(ツ)_/¯

[2015-06-10 09:25] braito4 commented on #2974
Actually the last version published is 3.6.4
https://github.com/Dolibarr/dolibarr/releases

[2015-06-10 14:26] rdoursenaud commented on #2974
Official releases are at [sourceforge](http://sourceforge.net/projects/dolibarr/files/Dolibarr%20ERP-CRM/).
3.6.4 is still considered unreleased at this point.

If you ask me, I think the current (undocumented) release process is messy and unclear.
I drafted my ideal release process on the [wiki](http://wiki.dolibarr.org/index.php/ReleaseProcess) but didn't have the time to work more on it yet. It

[2015-06-10 16:44] rdoursenaud opened #3001 "Events creation is broken"
After creating an event, the following error appear.

It seems to be triggered by json_decode returning a StdObject and the code expecting an array.

[code]

[2015-06-10 19:12] #3001 closed, assigned to rdoursenaud

[2015-06-10 21:02] accett commented on #2974
Hi everyone!

I don't understand then.

3.7.0 is not official? Is beta?

3.6.3 then is the current oficial?

3.7.0 is another branch?

Why have 2 current official versions 3.6.3 and 3.7.0?

What are the difference between both?

Where can I read about this changes?

Thanks.
El jun 10, 2015 9:27 a.m., "Raphaël Doursenaud" notifications@github.com
escribió:

[2015-06-10 21:14] marcosgdf commented on #2974
@accett If you have any question about releases, just check the wiki or drop a mail at the developers list.

[2015-06-11 08:22] KamranSaifullah opened #3009 "Multiple Sql Injection Vulnerabilities Affecting Dolibarr 3.7.1"
Dear Team. I have founded Severe SQL Injection Vulnerabilities affecting the Dolibarr 3.7.1. I am providing the detail documentation as a Proof Of Concept

![1](https://cloud.githubusercontent.com/assets/12842082/8102831/d30d6428-103c-11e5-9ae7-996e6c37b77a.png)
![2](https://cloud.githubusercontent.com/assets/12842082/8102834/d571b00c-103c-11e5-92b1-6d6397e25093.png)
![3](https://cloud.githubuserc

[2015-06-11 08:51] rdoursenaud commented on #2899
Of course, this only manifests on a fresh 3.8 install since the field isn't removed in the upgrade script.

Since I didn't receive any reply, I'll consider this an error and reintroduce the missing field in an upcoming PR!

[2015-06-11 12:17] rdoursenaud commented on #2571
Starting work on contacts.

[2015-06-11 15:12] VincentJousse opened #3017 "Allow to create several partial invoices for one proposal."
Man can send a proposal to its customer that contains a long time process (like software development).
In that case, it is desirable to have the possibility to create several partial invoices corresponding to the progressing development state.

[2015-06-11 15:18] rdoursenaud commented on #3017
Situations invoices included in the upcoming 3.8 exactly fit this use case.

See: https://github.com/Dolibarr/dolibarr/pull/2020

[2015-06-11 15:22] VincentJousse commented on #3017
Question -> answer !! thanks for your high velocity !!

Discussion closed !

[2015-06-11 15:22] #3017 closed, assigned to nobody

[2015-06-11 22:01] nach41710 opened #3019 "New search function in POS, make impossible to use barcode reader."
I install version 3.7.1. Normally I use POS with a bar code reader.
With version 3.6 I have no problem because the system start searching from the 3rd digit.
With new 3.7.1, the search start from the first character and when I use the barcode reader,  dolibarr only takes the first character. The reader is quicker than dolibarr searching for the first digit.
I really think that this behaviour is re

[2015-06-12 07:58] marcosgdf opened #3020 "Review all private methods and consider changing it to a protected scope"

[2015-06-12 07:59] marcosgdf commented on #3009
Most SQL special keywords are filtered out of GET/POST parameters. It is obviously not the way of fixing this problem but it is the current protection measure adopted in Dolibarr, so parameters are not escaped but they do not necessarily allow the attacker execute any query

[2015-06-12 09:27] marcosgdf opened #3021 "Move custom document templates out of the core"
It does make sense to separate user-generated content from the core. Also it is easier to find all the document templates in a common folder instead of navigating through all internal module folders.

[2015-06-12 09:59] rdoursenaud commented on #3017
You're welcome :)

[2015-06-12 10:06] rdoursenaud commented on #3019
I believe that the search behavior is user-configurable in the product module.

Can you confirm that setting this to a greater value still triggers your problem?

If the POS module don't apply the configuration, it's clearly a bug.

[2015-06-12 10:11] rdoursenaud commented on #3021
You mean the `htdocs/core/modules/*modulename*/doc` folders for PDF generation, right?

Because AFAIK the ODT templates already are at `documents/doctemplates`.

I believe that consolidating templates in this folder can make sense.

[2015-06-12 10:14] marcosgdf commented on #3021
Well, that folder is the default custom folder for ODT templates but it is not mandatory. I propose making it at least mandatory for PDF and HTML templates.

[2015-06-12 12:57] marcosgdf commented on #2977
I see that in the code, SQL errors are logged as Warnings in the code. Is that expected?

[2015-06-12 13:12] marcosgdf commented on #2944
It looks like llx_contrat does not hold any information regarding the total amount of the contract. Either we use SUM function or we categorize this as a Feature Request...

[2015-06-12 13:29] marcosgdf commented on #2900
This is a regression. It works in 3.5.7 and 3.6.4

[2015-06-12 14:07] marcosgdf opened #3025 "Add hooks for "Photos" and "Translation" category tabs"

[2015-06-12 14:28] marcosgdf commented on #2855
@rdoursenaud Thanks for the hints!

[2015-06-12 16:29] marcosgdf commented on #2861
Also happening in 3.5 and 3.6 branches

[2015-06-12 16:46] BebZ commented on #3017
so Fast and many new contributors on github, it seems good to have changed the bug platform :)

[2015-06-12 19:07] #2987 closed, assigned to nobody

[2015-06-13 00:48] marcosgdf commented on #2952
Duplicate of #2861

[2015-06-13 01:24] marcosgdf commented on #2715
Setting its width property to 100% fixes the problem

[2015-06-13 01:40] #2855 closed, assigned to nobody

[2015-06-13 02:08] #2860 closed, assigned to nobody

[2015-06-13 03:50] nach41710 commented on #3019
Hi:
POS dont apply the configuration, it strart searching from the first character.
My configuration is to search after 3 character.
Can anyone take a look?
Thanks a lot.

[2015-06-13 07:12] hregis commented on #3019
@nach41710 @rdoursenaud

I confirm the code has been changed and it no longer uses the search field of products with configuration.

[2015-06-13 08:47] hregis commented on #3019
https://github.com/Dolibarr/dolibarr/pull/3036

[2015-06-13 11:02] nach41710 commented on #3019
Hi hregis:

I took the files you change and put them in my actual version and  when I try to enter a reference POS still start searching from the first character, may be I did something wrong, can you please confirm that you solve the issue, thanks?

[2015-06-13 11:13] nach41710 commented on #3019
I wonder why the system in version 3.7 start searching each time you enter a character in the ref field, instead of waiting an enter like 3.6 does.

[2015-06-13 11:29] hregis commented on #3019
Add this constant with value 12
BARCODE_USE_SEARCH_TO_SELECT

[2015-06-13 15:22] olipanis opened #3038 "Export/print list of transactions"
is there any way to export or print the list of transactions? (url: .../compta/bank/search.php)

[2015-06-13 18:39] nach41710 commented on #3019
Hi hregis:
   I change the constant with the same behaviour.
   Can you please check it?

[2015-06-13 18:54] nach41710 commented on #3019
Excuse me, I made a mistake. during the upload, I will test again your solution....
Sorry

[2015-06-13 19:58] nach41710 commented on #3019
The system still start the search when you enter one character. With this behaviour the Bar code reader still do not work properly.
Can you please check it?

[2015-06-14 00:03] eldy commented on #2899
There is still a hidden option AGENDA_ENABLE_DONEBY to keep feature/compatibility with version that were using the "done user". I am not sure it is used and we must keep it. Let's see at net version.

[2015-06-14 00:03] #2899 closed, assigned to rdoursenaud

[2015-06-14 08:50] #2786 closed, assigned to nobody

[2015-06-14 08:52] #2891 closed, assigned to nobody

[2015-06-14 08:52] #2976 closed, assigned to nobody

[2015-06-14 09:22] marcosgdf opened #3039 "Bug: Incorrect date year selector in Google Chrome for Android"
Version: 3.6.4 (probably 3.5 and 3.7 affected)

As you can see in the following screenshots, years are shown in a different format than it used to.

![screenshot_2015-06-14-11-20-00](https://cloud.githubusercontent.com/assets/168744/8148017/a3ddabca-1287-11e5-9de2-30d4ef11f44b.png)
![screenshot_2015-06-14-11-20-03](https://cloud.githubusercontent.com/assets/168744/8148018/a3e09ae2-1287-11e5-8f48-0

[2015-06-14 10:05] marcosgdf opened #3040 "UI: Bank transactions should not be inside Bank account card"
In order to match Dolibarr UI style, bank transactions should not be inside the bank account card.

![captura de pantalla 2015-06-14 a las 12 04 55](https://cloud.githubusercontent.com/assets/168744/8148143/afe8a478-128d-11e5-87b5-06819d73e925.png)

[2015-06-14 10:41] hregis commented on #3039
https://github.com/Dolibarr/dolibarr/pull/3041

[2015-06-14 11:18] marcosgdf opened #3045 "Rename fk_projet columns to fk_project"
To uniformize code

[2015-06-14 15:19] #2835 closed, assigned to nobody

[2015-06-14 15:19] #2837 closed, assigned to nobody

[2015-06-14 15:19] #3009 closed, assigned to nobody

[2015-06-15 08:51] alainabbas opened #3050 "Odt to PDF generation error in draft mode"
when the script is called odf2pdf.sh with draft piece (with '(') the filename is not escaped that makes an error
in htdocs/includes/odtphp/odf.php the filename is not escaped
## this is the patch to resolve the issue  :

--- sources/doli/htdocs/includes/odtphp/odf.php 2015-04-13 13:02:06.000000000 +0
200
+++ new/doli/htdocs/includes/odtphp/odf.php 2015-06-15 10:17:44.000000000 +0
200
@@ -488,9 +48

[2015-06-15 09:08] BebZ commented on #2605
Oh, sorry for the delay, it was the latest built develop version
i will make new tests with newer develop version and if those bugs are confirmed, i will create 4 or 5 different ones

[2015-06-16 07:35] hregis opened #3055 "Products images thumbs not deleted"
With the new system path for products photos, when I delete a photo from the tab "Attachments", the thumbs are not removed. (Dolibarr 3.7+)

[2015-06-16 09:37] #2814 closed, assigned to nobody

[2015-06-16 17:57] marcosgdf opened #3059 "Delete button should be the last button in the action bar"
Version: 3.7.1
Page: /contact/card.php?id=1

![captura de pantalla 2015-06-16 a las 19 55 03](https://cloud.githubusercontent.com/assets/168744/8190237/c90d5f04-1461-11e5-86a9-6105068704e5.png)

[2015-06-17 09:07] BebZ commented on #2687
can you add maybe the label discussion... useful to get some extrafields on taches to store more infos on the batch with an external application like Mobilid...
(measurements, weight, localisation in stock, specific 2d barcode printed... etc...)

[2015-06-17 09:34] BebZ opened #3062 "Dispatch and ventilate to stocks impossiblr"
It seems on a 3.8 Version dernière mise à jour    3.8.0-alpha

not possible to ventilate a supplier'rs order to the stocks ...

/fourn/commande/dispatch.php?id=11

![bug 3 8 impossible to ventilate](https://cloud.githubusercontent.com/assets/3694135/8203717/276ba218-14e4-11e5-9ced-ed27f4d4a680.JPG)

![image](https://cloud.githubusercontent.com/assets/3694135/8203792/a05f31da-14e4-11e5-89cc-8265545

[2015-06-17 14:18] #2952 closed, assigned to nobody

[2015-06-17 14:19] rdoursenaud commented on #2977
That's strange indeed.
ping @eldy.

[2015-06-17 14:24] rdoursenaud commented on #3038
Hi @olipanis.
You should have read https://github.com/Dolibarr/dolibarr/blob/develop/CONTRIBUTING.md before asking your question.
This is not a support forum.
Please ask your question on the [forum](http://www.dolibarr.org/forum) or the [user mailing list](https://lists.nongnu.org/mailman/listinfo/dolibarr-user).
Thanks.

[2015-06-17 14:24] #3038 closed, assigned to nobody

[2015-06-17 14:26] #3039 closed, assigned to nobody

[2015-06-17 14:29] rdoursenaud commented on #3050
Hi @alainabbas.
Your patch has been mangled by the markdown renderer. Please make a pull request.
See https://github.com/Dolibarr/dolibarr/blob/develop/CONTRIBUTING.md for basic instructions.
Thanks.

[2015-06-17 14:30] rdoursenaud commented on #3059
:+1:

[2015-06-17 14:38] #2900 closed, assigned to nobody

[2015-06-17 14:38] #2861 closed, assigned to nobody

[2015-06-18 11:34] marcosgdf opened #3066 "Category module menu entries in Thirdparty are overlapped in Amarok theme"
VersIon: 3.7.1

![captura de pantalla 2015-06-18 a las 13 31 21](https://cloud.githubusercontent.com/assets/168744/8230236/b17ba0fe-15be-11e5-9ec7-496dd557cba4.png)

[2015-06-19 14:14] rdoursenaud opened #3074 "Accruals accounting use payment date instead of commitment date in turnover reports for salaries"
When using accruals accounting, the salaries should be accounted at the commitment date, not the payment date.

Ping @aspangaro for confirmation.

[2015-06-19 15:24] aconits opened #3075 "Payment date on invoice and writebank date"
Currently if we modify the payment date, the writebank date isn't modify.
Is it logical to automatise the process if I modify the payment date and this automatically change the writebank date ?

[2015-06-20 06:11] aspangaro commented on #3074
Hi @rdoursenaud

For the question, I confirm this information for income statement but not in the journal, the date is the date of the payment in the last step.

(En français (Peur de mal m'exprimer) : Pour la question, je te confirme que pour le compte de résultat, il faut tenir compte de la période concernée (Principe de séparation des exercices) mais pour le reste, c'est la date de paiement qui

[2015-06-21 12:45] marcosgdf opened #3077 "Email templates dictionary page should use relative width"
Version: 3.7.1

![captura de pantalla 2015-06-21 a las 14 44 03](https://cloud.githubusercontent.com/assets/168744/8271671/fe039140-1823-11e5-9bd6-76d9be3baccd.png)

[2015-06-21 17:49] nach41710 commented on #3019
The problem still the same when you start searchin in the POS it takes a while, it take arround a second to accept the second digit and after that it takes again a second with the second digit.
The conclusion is that when you use the Barcode it will take only the first number you enter.
Can anyone confirm it, thanks?

[2015-06-22 00:22] cy-altern opened #3079 "erreur MySQL dans le script de migration 3.6 -> 3.7.1"
lors de la migration 3.6 -> 3.7.1 le script de migration donne l'erreur suivante:
Request 97 sql='ALTER TABLE llx_c_regions ADD CONSTRAINT fk_c_regions_fk_pays FOREIGN KEY (fk_pays) REFERENCES llx_c_country (rowid);'
Erreur DB_ERROR_2013: ALTER TABLE llx_c_regions ADD CONSTRAINT fk_c_regions_fk_pays FOREIGN KEY (fk_pays) REFERENCES llx_c_country (rowid);
Lost connection to MySQL server during quer

[2015-06-22 10:24] rdoursenaud commented on #3074
Yep, I was talking about the income reports at `/compta/resultat/index.php` and `compta/resultat/clientfourn.php`. Thanks for the confirmation :)

[2015-06-22 11:24] marcosgdf opened #3083 "Feature request: Create wiki page to document email templating system"

[2015-06-22 11:24] marcosgdf commented on #3083
Models are:
- shipping_send
- fichinter_send
- order_supplier_send
- invoice_supplier_send
- propal_send
- thirdparty
- facture_send

[2015-06-23 12:42] BebZ opened #3085 "Dispatch to stock multiple batches impossible"
![image](https://cloud.githubusercontent.com/assets/3694135/8306149/f9d6077c-19b5-11e5-9d89-caa1d1665933.png)

ths samll button doesn't work anymore on 3.7.1, migrated recently !
help ! that was a non-tested function we are blocked for some reeptions of products
@KreizIT @fappels @eldy

[2015-06-23 15:00] fappels commented on #3085
You can fix it by changing line 22 in htdocs/core/js/lib_batch.js
change
`function AddLineBatch(index) {`
to
`function addLineBatch(index) {`

[2015-06-24 08:49] marcosgdf opened #3091 "TotalHT amount in supplier order is bold unlike the rest of Dolibarr"
Version: 3.7.2

![captura de pantalla 2015-06-24 a las 10 48 41](https://cloud.githubusercontent.com/assets/168744/8326061/9de90280-1a5e-11e5-9df4-dfa2d864f39e.png)
![captura de pantalla 2015-06-24 a las 10 48 48](https://cloud.githubusercontent.com/assets/168744/8326062/9debaa44-1a5e-11e5-83e4-b5029d6d7aed.png)

[2015-06-24 15:31] peartreegil commented on #2864
PMP in that case is definitely 8,33...
The problem is, when you create an offer (or invoice), the PMP is not used to evaluate the margin.... but the supplier price indicated in the item proposed or invoiced....
It should be possible to choose what data to use for margin evaluation... don't you think?

[2015-06-24 18:36] BebZ commented on #2864
ok, more simple ... and tell me if I am wrong to think like that

I have 10 products in stock bought at 1€ each, my product supplier's price recoreded is 1€
i sell it 2€ : FINE i have a good margin :)
Now i buy 20 products at 0,9€ each and i sell them 2€
i have an even better margin, but the price recorded in product supplier's price is the same, so i got the same margin, but the price i recorded

[2015-06-24 19:56] BebZ commented on #3085
closed #3087

[2015-06-25 12:03] akhalz opened #3097 "Able to create an Invoice/order once a Third Party is closed"
Still able to create invoices for a Third Party after that third party status is closed.

[2015-06-25 13:29] rdoursenaud commented on #2864
Once set, the weighted average price (PMP in french) does not change in any circumstances but new purchases.
You may want to manage your purchase prices with other methods like FIFO or FILO but calculations and data needed are way more complex. I don't think we have the tooling to do this right now in Dolibarr.
As for having a parameter to set the purchase price to use for margin calculations, I'm

[2015-06-25 13:30] rdoursenaud commented on #3097
Good catch. Seen that a while ago and forgot to report. :+1:

[2015-06-25 13:33] rdoursenaud commented on #3085
@fappels The syntax for closing issues automatically is Fix [space] #bugnum.
See https://github.com/Dolibarr/dolibarr/blob/develop/CONTRIBUTING.md#commits
This reduces the burden on maintainers ;)
Thanks!

[2015-06-25 13:33] #3085 closed, assigned to nobody

[2015-06-25 13:38] rdoursenaud opened #3098 "ECM broken by jquery upgrade"
htdocs/ecm/index.php

a3a5b0d9b024d9a46ee9620d7b365354daf76db7 upgraded the jQuery version.

Unfortunately the BlockUI plugin version currently used detects the 1.11.x version as inferior to the needed 1.2 and issues a modal popup

TL;DR: jQuery plugin BlockUI needs upgrading.

[2015-06-25 13:40] rdoursenaud commented on #3098
Oh, and the COPYRIGHT file also need an update since it still boast the 1.8.2 version of jQuery.

[2015-06-25 15:21] mistraloz opened #3100 "Nommage des fichiers PDF lorsqu'il y a un "/" dans le numéro de facture"
Voici le format du numéro de facture que j'utilise : V{yy}{mm}/{000@99}

Le fait d'avoir un / dans le format fait que le fichier PDF se renomme avec un _ à la place (V{yy}{mm}_{000@99}). Le soucis c'est que pour la fusion PDF, il y a une recherche récursive sur les noms de fichier. Le filtre prends en compte "\/" à la place du "/" mais comme le fichier se nomme avec un _, il ne le trouve pas.

J'a

[2015-06-25 18:46] #3098 closed, assigned to rdoursenaud

[2015-06-25 19:02] alainabbas commented on #3050
Hello i did it
Regards

[2015-06-26 15:17] BebZ commented on #3085
Fix#3085 viahttps://github.com/fappels/dolibarr/commit/63df278ecaf724199e087311d7566c7368d47925

[2015-06-28 22:09] #3091 closed, assigned to nobody

[2015-06-29 09:21] fappels commented on #3062
@BebZ Fixed in PR #3068

[2015-06-29 13:51] rdoursenaud commented on #3085
@BebZ The message was for fappels and this only works into commits _not_ comments…

[2015-06-29 13:54] rdoursenaud commented on #3100
Would you mind providing an english version of your report? The community is now international so we need to keep in mind that non-french people are around.

Also, please tell us what version you're running.

Thanks.

[2015-06-29 14:00] rdoursenaud commented on #3050
@alainabbas Almost there, now you just need to create a pull request from your forked repository: https://help.github.com/articles/creating-a-pull-request/

[2015-06-29 14:13] #3062 closed, assigned to nobody

[2015-06-30 08:33] jpfox opened #3116 "Batch/Lot/Serial choice not proposed in transfer stock panel"
With Dolibarr 3.7.2 (with MAIN_FEATURES_LEVEL=2), it is not possible to choose which batch/lot/serial when transferring stock from a warehouse to another.

If you transfer a product, a random batch/lot/serial is decreased and stock in destination warehouse has no affected batch/lot/serial. It is a problem because this information is required in next treatments.

Thanks for this great feature.

[2015-06-30 09:24] BebZ commented on #3116
On my testserver (3.8 alpha) with mobilid ( @fappels ) i can choose transfer a specific batch to another warehouse, but only on clicking on what i have surrounded by red :

![image](https://cloud.githubusercontent.com/assets/3694135/8427813/89f2b062-1f1a-11e5-89e1-4eb953d912d4.png)

[2015-06-30 09:30] BebZ commented on #3116
It's true that in mass stock transfers, or by clicking on the simple "transfer" button it doesn't propose the  choice of batches...

![image](https://cloud.githubusercontent.com/assets/3694135/8427959/7a23c6f2-1f1b-11e5-887e-d1c26de152b8.png)

I don't know if it will be possible, it's not very practical when you want
-to make a manual movement of stock, if some products are damaged/unsellable, etc

[2015-06-30 09:48] all3kcis opened #3118 "Commande fournisseur dispatch"
Est-il normal qu'il soit possible des continuer la ventilation d'une commande fournisseur alors que son statut est "Reçue complètement" (5) ?

[2015-06-30 13:37] fappels opened #3120 "Product Customer price not updated in card when price updated"
Noticed in 3.8 June 26,  3.6 OK

![cardnotupdated 1](https://cloud.githubusercontent.com/assets/4573808/8432027/b9a773b0-1f3d-11e5-95dc-72ac8fb5be0d.png)

Updated after page reload.

[2015-06-30 14:29] BebZ commented on #2864
eldy introduced it ?
https://github.com/Dolibarr/dolibarr/commit/1485ead215145c5afda1edce4f88ac16e928c6ba

![Uploading image.png…]()

[2015-06-30 14:58] jpfox commented on #3116
Thanks for these notes... so it will be possible in 3.8 branch

[2015-07-01 13:59] matlopes opened #3124 "Invoice lines export bugged"
On step 3 when exporting Invoice lines, i get the following error message on the Product Id line:

Dolibarr a détecté une erreur technique.
Voici les informations qui pourront aider au diagnostic:
Date: 20150701155703
Dolibarr: 3.7.0
Niveau de fonctionnalités: 0
PHP: 5.4.41-0+deb7u1
Serveur: Apache
OS: Linux xvm-168-139.ghst.net 3.2.65-xenU-19-0e6777a-x86_64 #2 SMP Mon Dec 15 10:33:55 UTC 2014 x86

[2015-07-02 09:44] ram111 opened #3127 "PRELEVEMENT_BIC row not created in llx_const"
3.7.1
The PREVELEMENT_\* globals I think are only saved when saving changes in withdrawal mode setup.

I think these rows have to be updated when related changes are made.

For example I go to a bank account, add a BIC, and this BIC is not added to the globals until I go to
to modules standing orders and press save, which is a bug, info related to the bank has to be updated when changes to the ban

[2015-07-02 10:07] ram111 opened #3128 "Bug in prevelement file creation (SEPA)"
3.7.1
ISO20022 states that EndToEndId has a MaxLength of 35 characters. Said limitation has not been contemplated in the creation of the file and with many payments together will exceed that limit.

Just a substr would work?

[code]

[2015-07-02 11:30] marcosgdf opened #3129 "Feature request: Remove "Confirm clone" dialog when cloning a supplier invoice"
Because we are able to delete the cloned invoice just after confirming the clone action, I find it better to just clone the invoice right after clicking "Clone". If the user regrets doing that, he can delete it.

[2015-07-02 12:12] atm-maxime commented on #3079
This issue seems to be solved in #2951 . Should we close this ont as a duplicate ?

[2015-07-02 12:18] atm-maxime commented on #3066
This is due to the amarok theme which does not support submenu titles on several lines.
In the french translations, we only put the "Tag" instead of "Tag/Category". Shouldn't you do the same in the spanish translations ? I think we must try to keep all submenu on one line. I agree this is not the best solution because we have a risk that in some languages the bug will reproduce...

[2015-07-02 13:30] cy-altern commented on #3079
in #295 comments says: "Your mysql version must be at least 5.5.43"
=> this ticket may be a duplicate except the fact I have a 5.5.43 MySQL version wich is supposed to be not affected

[2015-07-02 15:36] alainabbas commented on #3050
Hello
Done

[2015-07-02 19:04] marcosgdf opened #3137 "Bug: Paypal module is not compatible with Multicompany"
It should happen in all versions.

Could this be a feature request instead of a bug?

[2015-07-02 19:08] marcosgdf opened #3138 "Bug: Unauthorized access to Paypal module brings an UI with too much information"
Version: 3.7.1 (should test in 3.6 and 3.5)

FYI I'm not even logged in

![captura de pantalla 2015-07-02 a las 21 08 14](https://cloud.githubusercontent.com/assets/168744/8485534/7ef140e4-20fe-11e5-876a-08df0840b57b.png)

[2015-07-03 06:20] hregis commented on #3137
@marcosgdf see that :
https://github.com/Dolibarr/dolibarr/pull/3140

[2015-07-03 17:55] marcosgdf commented on #3040
It looks like it has been done by @eldy in 976211b70fa4dc73cf4bd469a5bdfe37957f4283

[2015-07-03 17:55] #3040 closed, assigned to nobody

[2015-07-03 18:02] marcosgdf commented on #2551
Closing as it has been done in 3.8

[2015-07-03 18:02] #2551 closed, assigned to nobody

[2015-07-04 01:45] #3050 closed, assigned to nobody

[2015-07-04 08:43] BebZ opened #3146 "Associate free lines of bank account with invoices or charges"
For accoutancy problems and traceability of money coming in or out the bank account
it will be possible later to match a bank line id with a payment in the future ?
For example with "free lines" created in bank account (what recently is desactivated in the bank module 3.8 dev) not associated with any invoice;
zill it be possible to associate them to something or we must delete them all and create

[2015-07-04 12:56] #3138 closed, assigned to nobody

[2015-07-06 11:38] aspangaro commented on #2567
@rdoursenaud

This feature request can be closed.
Referred to PR #3148 and PR #3149 (For Accountancy Expert)

Thanks

[2015-07-07 06:10] marcosgdf opened #3155 "Email templates dictionnary page should filter by entity"
Because several companies may use different email templates, it would be useful to only show the ones created in that entity.

[2015-07-07 06:36] #3137 closed, assigned to nobody

[2015-07-07 07:08] marcosgdf commented on #2953
Can't reproduce.

[2015-07-07 07:10] marcosgdf commented on #2971
Can't reproduce.

![captura de pantalla 2015-07-07 a las 9 10 51](https://cloud.githubusercontent.com/assets/168744/8540661/143be03c-2488-11e5-9f42-ba113a911899.png)

[2015-07-07 07:17] marcosgdf commented on #3055
This is already fixed in 3.7 branch

[2015-07-07 07:18] hregis commented on #3055
@marcosgdf not if you use "documents" tab

[2015-07-07 07:20] ozit commented on #2953
After days, I've tryed to delete the empty table and the migration script create it again. Now, the script don't blocked on it. It was an old Dolibarr version I upgraded, may be the table was not with the correct structure. I close the issue. Thanks

[2015-07-07 07:20] #2953 closed, assigned to nobody

[2015-07-07 07:28] ozit opened #3156 "link to open pdf file in "bordereau de remise de chèque""
The PDF document is correctly generated, but the link does not point to the document, in "Bank", "Deposit slip"
[link to dolibarr.fr forum](http://www.dolibarr.fr/forum/5-bugs-sur-la-version-cvs-ou-demo/53401-fichier-joint-pdf-des-bordereaux-de-remise-de-cheq)
Dolibarr 3.8.0-alpha on debian

[2015-07-07 08:46] ozit opened #3158 "can't change date in invoices"
when editing a **draft** invoice or even modification of an **existing** invoice, changing the date of the invoice can not be validated, it says _"The 'Date' field is compulsory."_ (in french : _"Le champ 'Date' est obligatoire"_)
No problem with proposals
[link to Dolibarr Forum](http://www.dolibarr.fr/forum/5-bugs-sur-la-version-cvs-ou-demo/53400-impossible-de-changer-la-date-d-une-facture)
Doli

[2015-07-07 10:07] marcosgdf commented on #2927
AFAIK, ProductBatch module is marked as experimental and therefore not supported...

[2015-07-07 10:15] marcosgdf commented on #2832
Cannot reproduce. In fact, it is not even translated...

![captura de pantalla 2015-07-07 a las 12 15 26](https://cloud.githubusercontent.com/assets/168744/8544016/e022431c-24a1-11e5-860e-0dd8271ebcd3.png)

[2015-07-07 11:43] aspangaro commented on #2832
Thanks @marcosgdf